Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

📄 docs(cli): dyncamic docs for et
  docs/library/cli/et.md
  src/cli/et/commands/clean.py
  src/cli/et/make/cli.py
  src/cli/et/make/commands/test.py
  whitelist.txt
Due: tox, tox-docs

📄 docs: Changelog entry
  docs/CHANGELOG.md
Due: tox-docs

tests(eip7742): initial tests for eip7742.
  tests/prague/eip7742_uncouple_blob_count/__init__.py
  tests/prague/eip7742_uncouple_blob_count/conftest.py
  tests/prague/eip7742_uncouple_blob_count/spec.py
  tests/prague/eip7742_uncouple_blob_count/test_invalid_cancun_blob_txs.py
  tests/prague/eip7742_uncouple_blob_count/test_uncoupled_blob_txs.py
  whitelist.txt
Due: tox

test scenarios
  converted-ethereum-tests.txt
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_vm/opcode.py
  tests/frontier/scenarios/__init__.py
  tests/frontier/scenarios/common.py
  tests/frontier/scenarios/programs/__init__.py
  tests/frontier/scenarios/programs/all_frontier_opcodes.py
  tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/programs/invalid_opcodes.py
  tests/frontier/scenarios/programs/static_violation.py
  tests/frontier/scenarios/scenarios/__init__.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/frontier/scenarios/scenarios/revert_combinations.py
  tests/frontier/scenarios/test_scenarios.py
  whitelist.txt
Due: tox

chore: fix errors when filling.
  tests/prague/eip7742_uncouple_blob_count/test_uncoupled_blob_txs.py
Due: tox

📄 docs(cli): et clean: mkdocks-click
  docs/library/cli/et.md
  src/cli/et/cli.py
  src/cli/et/commands/clean.py
  src/cli/et/make/cli.py
  src/cli/et/make/commands/test.py
Due: tox, tox-docs

🥢 nit: markdown lint
  docs/library/cli/et.md
  src/cli/et/commands/clean.py
Due: tox, tox-docs

Test memory expansion limits
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calldata.py
Due: tox

Fixing contract reference and adding store
  tests/cancun/eip4844_blobs/eip4844_stopblob.py
Due: tox

new(tests): Blockhash at 255/256/257 (ethereum/execution-specs#374)
  tests/frontier/opcodes/test_chain_sync.py
Due: tox

Add EOFCREATE and Length checking
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_calldata.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_memory.py
Due: tox

Add RETURNDATACOPY, DATACOPY, and RETURNCONTRACT
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_returndatacopy_memory_expansion.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_datacopy_memory_expansion.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_returncontract.py
Due: tox

format opcodes
  src/ethereum_test_vm/opcode.py
Due: tox

fix(forks): Update EIP-7002, EIP-7251 contracts
  src/ethereum_test_forks/forks/contracts/consolidation_request.bin
  src/ethereum_test_forks/forks/contracts/withdrawal_request.bin
Due: none

fix(types): Remove empty requests from list
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/rpc/hive.py
Due: tox

fix(tests): Remove empty requests from lists in all tests
  tests/prague/eip6110_deposits/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7251_consolidations/conftest.py
  tests/prague/eip7251_consolidations/test_consolidations.py
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

test description update
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_memory.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_returncontract.py
Due: tox

chore: tox black fix.
  tests/prague/eip7002_el_triggerable_withdrawals/conftest.py
Due: tox

fix(types,tests): EIP-7685 fixes for devnet-5 (#990)
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_forks/forks/contracts/consolidation_request.bin
  src/ethereum_test_forks/forks/contracts/withdrawal_request.bin
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/rpc/hive.py
  tests/prague/eip6110_deposits/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7251_consolidations/conftest.py
  tests/prague/eip7251_consolidations/test_consolidations.py
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

nit
  docs/CHANGELOG.md
Due: tox-docs

nit
  docs/library/cli/index.md
Due: tox-docs

verify blockHeader == encoded rlp in generated tests
  src/ethereum_test_fixtures/schemas/blockchain/genesis.py
  src/ethereum_test_fixtures/schemas/blockchain/headers.py
  src/ethereum_test_fixtures/schemas/blockchain/test.py
  src/ethereum_test_fixtures/schemas/common/types.py
  whitelist.txt
Due: tox

address comments
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
  whitelist.txt
Due: tox

add rlp dependency
  pyproject.toml
Due: none

📄 docs(cli): Cleanup html from help text
  src/cli/et/cli.py
  src/cli/et/make/commands/test.py
  whitelist.txt
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

🥢 nit(cli): Increase cli content width
  src/cli/et/cli.py
Due: tox

✨ feat(cli): et clean (#980)
  docs/CHANGELOG.md
  docs/library/cli/et.md
  docs/library/cli/index.md
  src/cli/et/cli.py
  src/cli/et/commands/__init__.py
  src/cli/et/commands/clean.py
  src/cli/et/make/cli.py
  src/cli/et/make/commands/test.py
  whitelist.txt
Due: tox, tox-docs

♻️ refactor(cli): Rename et to eest
  docs/CHANGELOG.md
  docs/library/cli/eest.md
  docs/library/cli/et.md
  docs/library/cli/index.md
  docs/writing_tests/img/eest_make_test.mp4
  docs/writing_tests/index.md
  pyproject.toml
  src/cli/eest/__init__.py
  src/cli/eest/cli.py
  src/cli/eest/commands/__init__.py
  src/cli/eest/commands/clean.py
  src/cli/eest/make/__init__.py
  src/cli/eest/make/cli.py
  src/cli/eest/make/commands/__init__.py
  src/cli/eest/make/commands/test.py
  src/cli/eest/make/templates/blockchain_test.py.j2
  src/cli/eest/make/templates/state_test.py.j2
  src/cli/eest/quotes.py
  src/cli/et/commands/__init__.py
  whitelist.txt
Due: tox, tox-docs

refactor(eest): the one that got away
  src/cli/eest/__init__.py
Due: tox

chore(docs): update whitelist;fix tox
  whitelist.txt
Due: none

♻️ refactor(cli): rename `et` to `eest` (#993)
  docs/CHANGELOG.md
  docs/library/cli/eest.md
  docs/library/cli/et.md
  docs/library/cli/index.md
  docs/writing_tests/img/eest_make_test.mp4
  docs/writing_tests/index.md
  pyproject.toml
  src/cli/eest/__init__.py
  src/cli/eest/cli.py
  src/cli/eest/commands/__init__.py
  src/cli/eest/commands/clean.py
  src/cli/eest/make/__init__.py
  src/cli/eest/make/cli.py
  src/cli/eest/make/commands/__init__.py
  src/cli/eest/make/commands/test.py
  src/cli/eest/make/templates/blockchain_test.py.j2
  src/cli/eest/make/templates/state_test.py.j2
  src/cli/eest/quotes.py
  src/cli/et/__init__.py
  src/cli/et/commands/__init__.py
  whitelist.txt
Due: tox, tox-docs

fix: don't write target_blobs_per_block to the payload params
  src/ethereum_test_fixtures/blockchain.py
Due: tox

fix: fix-up new payload fixture tests
  src/ethereum_test_fixtures/tests/test_blockchain.py
Due: tox

feat(fw,tests): framework changes for eip7742.
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/rpc/hive.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

chore: tox fixes.
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix(tests): don't collect blob tx tests pre-cancun
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

fix: bug in execution payload test.
  src/ethereum_test_fixtures/tests/test_blockchain.py
Due: tox

docs: add changelog.
  docs/CHANGELOG.md
Due: tox-docs

feat: updates for payload attributes v4.
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_rpc/types.py
  src/pytest_plugins/execute/rpc/hive.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
