Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

🥢 nit: Rename provider to context provider
  src/cli/gentest/cli.py
  src/cli/gentest/source_code_generator.py
  src/cli/gentest/test_context_providers.py
Due: tox

🥢 nit: Simplfied docstring
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
Due: none

✨ feat: Custom repr
  src/ethereum_test_base_types/pydantic.py
Due: tox

✨ feat(gentest): Improved architecture
  src/cli/gentest/cli.py
  src/cli/gentest/request_manager.py
  src/cli/gentest/source_code_generator.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
  src/cli/gentest/test_providers.py
Due: tox

🐞 fix: Quirk: prestate account nonce
  src/cli/gentest/test_context_providers.py
Due: tox

feat(forks): Add gas costs functions (#779)
  docs/CHANGELOG.md
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_base_types/tests/test_base_types.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/gas_costs.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
  src/pytest_plugins/execute/pre_alloc.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_gas.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_returndatacopy_memory_expansion.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_datacopy_memory_expansion.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_gas.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/shanghai/eip3860_initcode/helpers.py
  tests/shanghai/eip3860_initcode/test_initcode.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox, tox-docs

verkle: add extra SSTORE test
  tests/verkle/eip6800_genesis_verkle_tree/test_storage_slot_write.py
Due: tox

fix(plugins/eels_resolver): add `tryfirst`
  src/pytest_plugins/eels_resolver.py
Due: tox

fix(plugins/eels_resolver): add `tryfirst` (#937)
  src/pytest_plugins/eels_resolver.py
Due: tox

Apply suggestions from code review
  src/ethereum_test_base_types/composite_types.py
Due: tox

feat(base_types): storage key hint in Storage class (#917)
  src/ethereum_test_base_types/composite_types.py
Due: tox

verkle: adjuste SSTORE loop test
  tests/verkle/eip6800_genesis_verkle_tree/test_storage_slot_write.py
Due: tox

docs: generate some flowcharts using the diagrams package
  docs/diagrams/consume_direct.png
  docs/diagrams/consume_engine.png
  docs/diagrams/consume_rlp.png
  docs/diagrams/eest_flowcharts.ipynb
  docs/diagrams/fill.png
  docs/diagrams/img/html.png
  docs/diagrams/img/json.png
  docs/diagrams/img/nethermind.png
  docs/diagrams/img/nethermind.svg
  pyproject.toml
  uv.lock
Due: none

docs: add execute flowchart
  docs/diagrams/consume_rlp.png
  docs/diagrams/eest_flowcharts.ipynb
  docs/diagrams/execute.png
Due: none

docs: minor tweaks; update command descriptions
  docs/diagrams/eest_flowcharts.ipynb
  docs/diagrams/execute.png
Due: none

docs(flowcharts): add a png for all clients; add svg workaround
  docs/diagrams/consume_direct.png
  docs/diagrams/consume_direct.svg
  docs/diagrams/consume_engine.png
  docs/diagrams/consume_engine.svg
  docs/diagrams/consume_rlp.png
  docs/diagrams/consume_rlp.svg
  docs/diagrams/eest_flowcharts.ipynb
  docs/diagrams/execute.png
  docs/diagrams/execute_live.png
  docs/diagrams/execute_live.svg
  docs/diagrams/fill.png
  docs/diagrams/fill.svg
  docs/diagrams/img/besu.png
  docs/diagrams/img/clients.png
  docs/diagrams/img/erigon.png
  docs/diagrams/img/ethjs.png
  docs/diagrams/img/geth.png
  docs/diagrams/img/reth.png
Due: none

🧹 chore: Unifiy json and python serialization
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_base_types/json.py
  src/ethereum_test_base_types/mixins.py
  src/ethereum_test_base_types/pydantic.py
  src/ethereum_test_fixtures/file.py
  whitelist.txt
Due: tox

fix(vm): `Bytecode` comparison
  src/ethereum_test_vm/bytecode.py
Due: tox

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs

docs(flowcharts): add an option to generate flowcharts w/o captions
  docs/diagrams/eest_flowcharts.ipynb
Due: none

Update src/ethereum_test_vm/bytecode.py
  src/ethereum_test_vm/bytecode.py
Due: tox

fix(vm): `Bytecode` comparison (#939)
  docs/CHANGELOG.md
  src/ethereum_test_vm/bytecode.py
Due: tox, tox-docs

♻️ refactor(gentest,base_types): Improved architecture, implement EthereumTestBaseModel, EthereumTestRootModel (#901)
  src/cli/gentest/cli.py
  src/cli/gentest/request_manager.py
  src/cli/gentest/source_code_generator.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
  src/cli/gentest/test_context_providers.py
  src/cli/gentest/test_providers.py
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_base_types/json.py
  src/ethereum_test_base_types/mixins.py
  src/ethereum_test_base_types/pydantic.py
  src/ethereum_test_fixtures/file.py
  whitelist.txt
Due: tox

feat(clis/transition_tool): Add `state_test` field
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_specs/state.py
Due: tox

fix(clis/transition_tool): use `urlencode`
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/transition_tool.py
Due: tox

fix: whitelist
  whitelist.txt
Due: none

verkle: add contract creation failure scenario
  tests/verkle/eip6800_genesis_verkle_tree/test_contract_creation.py
Due: tox

✨ feat: Migrate to state test
  docs/writing_tests/types_of_tests.md
  docs/writing_tests/writing_a_new_test.md
  src/cli/gentest/cli.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
  src/cli/gentest/test_context_providers.py
Due: tox, tox-docs

Update docs/writing_tests/types_of_tests.md
  docs/writing_tests/types_of_tests.md
Due: tox-docs

docs(flowcharts): improve descriptions
  docs/diagrams/consume_direct.png
  docs/diagrams/consume_direct.svg
  docs/diagrams/consume_engine.png
  docs/diagrams/consume_engine.svg
  docs/diagrams/consume_rlp.png
  docs/diagrams/consume_rlp.svg
  docs/diagrams/eest_flowcharts.ipynb
  docs/diagrams/execute_live.png
  docs/diagrams/execute_live.svg
  docs/diagrams/execute_live_highres.png
  docs/diagrams/fill.png
  docs/diagrams/fill.svg
  docs/diagrams/state.svg
Due: none

♻️ refactor(gentest): migrate transaction test to `state_test` (#903)
  docs/writing_tests/types_of_tests.md
  docs/writing_tests/writing_a_new_test.md
  src/cli/gentest/cli.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
  src/cli/gentest/test_context_providers.py
Due: tox, tox-docs

✨ feat: Interactive CLI input
  pyproject.toml
  src/cli/input/__init__.py
  src/cli/input/input_repository.py
  src/cli/input/questionary_input_repository.py
  uv.lock
  whitelist.txt
Due: tox

🥢 nit: Version lock
  pyproject.toml
Due: none

✨ feat: interactive cli input (#947)
  pyproject.toml
  src/cli/input/__init__.py
  src/cli/input/input_repository.py
  src/cli/input/questionary_input_repository.py
  uv.lock
  whitelist.txt
Due: tox

fix(plugins/filler): More accurate nonce in `fund_eoa` for edge-case
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

new(tests): EIP-7702: test_set_code_to_non_empty_storage
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

feat(clis/transition_tool): Pass `state_test` to transition tool if supported (#943)
  docs/CHANGELOG.md
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_specs/state.py
  whitelist.txt
Due: tox, tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
