Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

fix(fw,tests): Replace `ethereum.base_types` with `ethereum-types`, replace `ethereum.crypto.hash` (#850)
  .github/actions/setup-uv/action.yaml
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  pyproject.toml
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/tests/test_transactions.py
  src/ethereum_test_types/types.py
  src/ethereum_test_vm/bytecode.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip5656_mcopy/test_mcopy.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tox.ini
  uv.lock
Due: tox, tox-docs

refactor(fw): rename
  src/cli/gen_index.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/forks/tests/test_forks.py
Due: tox

fix(fixtures): remove unused properties
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/verify.py
  src/evm_transition_tool/geth.py
Due: tox

fix(specs): tox
  src/ethereum_test_specs/tests/test_fixtures.py
Due: tox

fix(fixtures): remove unused properties
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/state.py
Due: tox

fix(fixtures): remove unused properties
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/state.py
  src/evm_transition_tool/geth.py
Due: tox

fix(fw): nit
  src/cli/gen_index.py
  src/pytest_plugins/filler/filler.py
Due: tox

refactor(fw): remove `src/ethereum_test_fixtures/formats.py`
  src/cli/gen_index.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/formats.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/verify.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_tools/tests/test_code.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/decorator.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/forks/tests/test_forks.py
Due: tox

fix(fw): pydantic fixture format
  src/cli/gen_index.py
  src/ethereum_test_fixtures/consume.py
  src/pytest_plugins/consume/direct/test_via_direct.py
Due: tox

refactor(fixtures): Embed FixtureFormat methods in instance
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/formats.py
  src/evm_transition_tool/geth.py
  src/pytest_plugins/filler/filler.py
Due: tox

docs: remove -P doc; seems unnecessary with ubuntu-latest
  docs/dev/test_actions_locally.md
Due: tox-docs

refactor(fixtures): Remove `formats.py`, embed properties as class vars (#826)
  src/cli/gen_index.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/formats.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/verify.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_tools/tests/test_code.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/decorator.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/forks/tests/test_forks.py
Due: tox

fix(base_types): add `items` to `Storage`
  src/ethereum_test_base_types/composite_types.py
Due: tox

fix(types): add `items` to `Alloc`
  src/ethereum_test_types/types.py
Due: tox

feat(forks): Add `engine_get_payload_version` method to forks
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

refactor(types): Add `_eoa_fund_amount_default` private attr to `Alloc`
  src/ethereum_test_types/types.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

refactor(types): add `TransactionDefaults` class
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
Due: tox

feat(types): Add `int_to_bytes` helper
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/types.py
Due: tox

fix(vm): add missing `SupportsBytes` parameter type
  src/ethereum_test_vm/opcode.py
Due: tox

✨ feat: Upgrade datatabel and jQuery
  docs/templates/function.html.j2
  mkdocs.yml
Due: none

🐞 fix: Data table custom filter
  docs/javascripts/site.js
  docs/templates/function_parameter_datatable.html.j2
Due: none

🐞 fix: Datatable custom filter
  docs/javascripts/site.js
Due: none

✨ feat: Searchable dropdowns
  docs/javascripts/site.js
  docs/templates/function.html.j2
  mkdocs.yml
Due: none

style(tests): fix typo in docstring
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
Due: tox

fix(docs): fix fixture name retrieval due to changes in #826
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
Due: tox

Bring back the RJUMPV_OVER_PUSH_AND_TO_START valid cases
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

fix(tests): incorrect max_stack_height issues
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

Close the catalogue of potential exceptions
  src/ethereum_test_specs/eof.py
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

new(tests): EOF - EIP-5450: RJUMP* vs CALLF tests
  src/ethereum_test_specs/eof.py
  tests/prague/eip7692_eof_v1/eip5450_stack/__init__.py
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  whitelist.txt
Due: tox

fix(specs): Track block fork in edge cases
  src/ethereum_test_specs/blockchain.py
Due: tox

chore(ci): change image from ubuntu-24.04 to ubunut-latest
  .github/workflows/coverage.yaml
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Due: none

🐞 fix: Standalone datatable setup
  docs/javascripts/site.js
Due: none

chore(forks,base_types,types,vm): Misc changes fixes (#827)
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/types.py
  src/ethereum_test_vm/opcode.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

new(tests): EOF validation tests of stack height with double RJUMPI (#851)
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
Due: tox

chore(ci): change image from ubuntu-24.04 to ubunut-latest (#855)
  .github/workflows/coverage.yaml
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
Due: none

verkle: add system contract execution test via CALL
  tests/verkle/eip4762_verkle_gas_witness/test_contract_execution.py
Due: tox

feat(docs): describe how to report vulnerabilities (#848)
  README.md
  SECURITY.md
  docs/index.md
Due: tox-docs

docs: add a pointer to act's -P option manually specify an image
  docs/dev/test_actions_locally.md
Due: tox-docs

new(tests): unreachable EOF code sections
  converted-ethereum-tests.txt
  tests/prague/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Due: tox

✨ feat: Search UI
  docs/stylesheets/custom.css
  docs/templates/function_parameter_datatable.html.j2
Due: none

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
