Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

chore: run github actions on python3.12
  .github/workflows/test.yaml
Due: none

chore: add allow-preleases config in actions/setup-python for 3.12
  .github/workflows/test.yaml
Due: none

chore: correct flake8 version requirement; now use >=6.1.0,<7
  setup.cfg
  src/ethereum_test_tools/common/conversions.py
Due: tox

docs: update readme and docs for 3.12 support
  README.md
  docs/getting_started/quick_start.md
Due: tox-docs

chore: fix flake8, for some reason fussier with 3.12
  setup.cfg
  src/evm_transition_tool/besu.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

src/tools: InvalidFixtureBlock type added.
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
Due: tox, tox-docs

src/tools: Update invalid test_filler fixtures & pass tox.
  docs/CHANGELOG.md
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_invalid_filled.json
Due: tox, tox-docs

docs: small update for ethereum-spec-evm tracing support
  README.md
  docs/index.md
Due: tox-docs

tools: allow tracing support with ethereum-spec-evm
  src/evm_transition_tool/transition_tool.py
Due: tox

feat(evm): enable tracing support for ethereum-spec-evm (#289)
  README.md
  docs/CHANGELOG.md
  docs/index.md
  src/evm_transition_tool/transition_tool.py
Due: tox, tox-docs

chore: add a pull request template with a few reminders
  .github/PULL_REQUEST_TEMPLATE.md
Due: tox-docs

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: tox-docs

chore: add a pull request template with a few reminders (#308)
  .github/PULL_REQUEST_TEMPLATE.md
  docs/CHANGELOG.md
Due: tox-docs

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: tox-docs

docs: move changelog entry from tools to framework; add new field name
  docs/CHANGELOG.md
Due: tox-docs

docs: rename 'tools' section to 'evm tools'
  docs/CHANGELOG.md
  docs/changelog_section_template.md
Due: tox-docs

feat(fw): run evm statetest|blocktest on generated fixtures
  src/evm_transition_tool/__init__.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
  whitelist.txt
Due: tox

docs: update evm-dump-dir directory structure
  docs/getting_started/debugging_t8n_tools.md
Due: tox-docs

refactor(evm): rename fixture verification method to verify_fixture()
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix(fw): fix json fixture formats; only run blocktest
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(evm): use more explicit error handling in verify_fixture
  src/evm_transition_tool/transition_tool.py
Due: tox

feat(fw): make the evm dump dir structure as flat as possible
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

docs: update for flat evm dump dir structure
  docs/getting_started/debugging_t8n_tools.md
Due: tox-docs

fix(fw): fix json fixture formats; only run blocktest v2
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(tools): add a non-rlp field (`rlp_decoded`) to invalid blocks (#322)
  docs/CHANGELOG.md
  docs/changelog_section_template.md
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_invalid_filled.json
Due: tox, tox-docs

fix(pytest): fix evm_dump_dir check when copying fixtures
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

src/tools: Refactor & clean up of state_test.
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/filling/fill.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/state_test.py
Due: tox

src/tools: Refactor & clean up of blockchain_test.
  src/ethereum_test_tools/spec/blockchain_test.py
Due: tox

src/tools: Initial refactor using make_fixture and make_fixture_hive.
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/filling/fill.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_shanghai_invalid_filled_hive.json
  src/ethereum_test_tools/tests/test_fixtures/blockchain_shanghai_valid_filled_hive.json
  src/ethereum_test_tools/tests/test_fixtures/chainid_merge_filled_hive.json
  src/ethereum_test_tools/tests/test_fixtures/chainid_shanghai_filled_hive.json
  src/pytest_plugins/test_filler/test_filler.py
Due: tox, tox-docs

Fix existing EOF tests (#11)
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip3540_eof_v1/container.py
  tests/prague/eip3540_eof_v1/test_code_validation.py
Due: tox

src/tools: Address comments on blockchain_test.
  src/ethereum_test_tools/spec/blockchain_test.py
Due: tox

fix(pytest): fix missing --evm-test-bin option behavior
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix(pytest): fail noisily if configured with do_evm_test and --enable-hive
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(fw): undo removal of fixture.name and use tags in json names
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

refactor(fw): clean-up fixture generation in test spec classes (#307)
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/filling/fill.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_shanghai_invalid_filled_hive.json
  src/ethereum_test_tools/tests/test_fixtures/blockchain_shanghai_valid_filled_hive.json
  src/ethereum_test_tools/tests/test_fixtures/chainid_merge_filled_hive.json
  src/ethereum_test_tools/tests/test_fixtures/chainid_shanghai_filled_hive.json
  src/pytest_plugins/test_filler/test_filler.py
Due: tox, tox-docs

feat(pytest): rename fixture verification command-line args
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

refactor(evm,pytest): improve fixture verification variable naming
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox
