Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

feat(pytest): add an alias for --t8n-dump-dir: --evm-dump-dir
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  src/pytest_plugins/test_filler/test_filler.py
Due: tox, tox-docs

style(fw): minor improvements to error/docstrings validate->verify
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

refactor(evm): move verify_fixtures() to geth interface
  src/evm_transition_tool/execution_specs.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

refactor(pytest): fix error messages due to cli change
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

refactor(pytest): more variable renaming for fixture verification
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix(pytest): keep the same fixture output paths
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

style(pytest): re-order flag aliases to prioritize --evm-dump-dir in docs
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  whitelist.txt
Due: tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

docs(fw): minor improvements for --verify-fixtures doc
  docs/getting_started/debugging_t8n_tools.md
  whitelist.txt
Due: tox-docs

docs(fw): more examples for --verify-fixtures doc
  docs/getting_started/debugging_t8n_tools.md
Due: tox-docs

feat(fw): run evm blocktest on generated fixtures (#325)
  docs/CHANGELOG.md
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  src/evm_transition_tool/__init__.py
  src/evm_transition_tool/execution_specs.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
  whitelist.txt
Due: tox, tox-docs

feat(tests): add a test to check that a contract creating blob tx is invalid
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

feat(pytest): add an option to write one fixture per json file
  src/evm_transition_tool/geth.py
  src/pytest_plugins/test_filler/test_filler.py
  whitelist.txt
Due: tox

style(pytest): clean up cli option name and docstring
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix(pytest): use dynamic fixture scope to fix fixture grouping
  pytest-framework.ini
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

docs(pytest): add --single-fixture-per-file to debugging t8n tools
  docs/getting_started/debugging_t8n_tools.md
Due: tox-docs

docs(pytest): update command-line args
  docs/getting_started/executing_tests_command_line.md
Due: tox-docs

docs: add a section on using fixtures & est releases
  .markdownlint.yaml
  docs/getting_started/using_fixtures.md
  docs/navigation.md
  whitelist.txt
Due: tox-docs

chore: fix broken changelog link and tasklist in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: tox-docs

docs: improve using fixtures section and add cross-links
  README.md
  docs/getting_started/using_fixtures.md
  docs/index.md
Due: tox-docs

fix(docs): fix warning in mkdocs build for emoji package changes
  mkdocs.yml
Due: none

chore: clean up whitespace in mkdocs.yml config file
  README.md
  mkdocs.yml
Due: tox-docs

mkdocs.yml: remove deprecated emoji extensions.
  docs/CHANGELOG.md
  mkdocs.yml
Due: tox-docs

Update docs/getting_started/using_fixtures.md
  docs/getting_started/using_fixtures.md
Due: tox-docs

tests/cancun/eip4844: Sort point eval vectors
  tests/cancun/eip4844_blobs/point_evaluation_vectors/concat_kzg_vectors_to_json.py
  tests/cancun/eip4844_blobs/point_evaluation_vectors/go_kzg_4844_verify_kzg_proof.json
Due: tox

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(tests): update kzg point evaulation test vectors to official setup
  docs/CHANGELOG.md
  pytest.ini
  tests/cancun/eip4844_blobs/point_evaluation_vectors/README.md
  tests/cancun/eip4844_blobs/point_evaluation_vectors/concat_kzg_vectors_to_json.py
  tests/cancun/eip4844_blobs/point_evaluation_vectors/go_kzg_4844_verify_kzg_proof.json
  tests/cancun/eip4844_blobs/point_evaluation_vectors/requirements.txt
Due: tox, tox-docs

evm-config: update to lightclient/devnet-10
  evm-config.yaml
Due: none

start working on recreate
  tests/constantinople/__init__.py
  tests/constantinople/create2/__init__.py
  tests/constantinople/create2/test_recreate.py
Due: tox

add re-creation
  tests/constantinople/create2/test_recreate.py
Due: tox

Update docs/CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

test(pytest): test fixture output directory structure and fixture counts
  src/pytest_plugins/test_filler/tests/test_test_filler.py
  whitelist.txt
Due: tox

refactor(fw): use click to wrap the pytest fill & tf entry points
  setup.cfg
  src/entry_points/cli.py
  src/entry_points/fill.py
  src/entry_points/tf.py
  whitelist.txt
Due: tox

feat(pytest): add a skeleton consume cli command & pytest plugin
  consume/consume_fixtures.py
  pytest-consume.ini
  setup.cfg
  src/entry_points/cli.py
  src/pytest_plugins/fixture_consumer/fixture_consumer.py
  src/pytest_plugins/test_help/test_help.py
  whitelist.txt
Due: tox

feat(pytest): add initial implementation of the consume plugin
  consume/consume_fixtures.py
  pytest-consume.ini
  src/pytest_plugins/fixture_consumer/fixture_consumer.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
