Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

fix actions
  .github/actions/build-evm/action.yaml
  .github/actions/build-geth-evm/action.yaml
Due: none

github: use awk+sed to parse evm config yaml
  .github/actions/build-evm/action.yaml
Due: none

Update tox.ini
  tox.ini
Due: none

workflows: fill hive fixtures from Merge
  .github/workflows/fixtures.yaml
Due: none

github: Add fixture generator workflow
  .github/workflows/fixtures.yaml
Due: none

github: rename fixtures names
  .github/workflows/fixtures.yaml
Due: none

github: Rename workflows
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
  .github/workflows/test.yaml
Due: none

github: add dispatch to fixtures workflow
  .github/workflows/fixtures.yaml
Due: none

github: Build fixtures on tags too
  .github/workflows/fixtures.yaml
Due: none

github: Draft release on tag
  .github/workflows/tags.yaml
Due: none

github: fix tags
  .github/workflows/fixtures.yaml
  .github/workflows/tags.yaml
Due: none

github: consolidate single workflow
  .github/workflows/fixtures.yaml
  .github/workflows/tags.yaml
Due: none

github: fixtures condition release job
  .github/workflows/fixtures.yaml
Due: none

feature: Generate fixtures on push (#303)
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/test.yaml
Due: none

docs: add a changelog
  .markdownlint.yaml
  docs/CHANGELOG.md
  docs/changelog_section_template.md
  docs/navigation.md
  whitelist.txt
Due: tox-docs

docs: add a shields release badge to readme
  README.md
Due: tox-docs

docs: reorder sections in readme
  README.md
Due: tox-docs

docs: fix release badge in readme
  README.md
Due: tox-docs

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

docs: rely on github markdown for pr links
  docs/CHANGELOG.md
Due: tox-docs

Revert "docs: rely on github markdown for pr links"
  docs/CHANGELOG.md
Due: tox-docs

docs: more consistent formatting for pr links
  docs/CHANGELOG.md
Due: tox-docs

tests/cancun/eip_4844: Invalid blob tx pre cancun tests engine response should be INVALD.
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

docs: update changelog.
  docs/CHANGELOG.md
Due: tox-docs

docs: move changelog item to Test Cases
  docs/CHANGELOG.md
Due: tox-docs

src|tests: Final final update to beacon root address.
  src/ethereum_test_forks/forks/forks.py
  tests/cancun/eip4788_beacon_root/spec.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
Due: tox

docs: Update changelog.
  docs/CHANGELOG.md
Due: tox-docs

evm-config.yaml: Update develop branch.
  evm-config.yaml
Due: none

6968: initial test and structure for 6968 tests
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_tools/__init__.py
  tests/prague/eip6968/test.py
Due: tox

docs: small updates to changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(tools): final update to beacon root address 0x000F..Beac02 (#312)
  docs/CHANGELOG.md
  evm-config.yaml
  src/ethereum_test_forks/forks/forks.py
  tests/cancun/eip4788_beacon_root/spec.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
Due: tox, tox-docs

docs: update changelog for release v1.0.5
  docs/CHANGELOG.md
Due: tox-docs

docs: update changelog for release v1.0.5 (#315)
  docs/CHANGELOG.md
Due: tox-docs

evm: rollback geth branch to `cancun-t8n`
  evm-config.yaml
Due: none

evm: rollback geth branch to `cancun-t8n` (#316)
  evm-config.yaml
Due: none

docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: tox-docs

chore: upgrade pillow & setuptools (remove pin) to fix 3.12 install
  setup.cfg
Due: none
