Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

refactor: don't make Spec, SpecHelpers enum classes
  tests/cancun/eip4844_blobs/spec.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_excess_data_gas.py
  tests/cancun/eip4844_blobs/test_excess_data_gas_fork_transition.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
Due: tox

docs: fix incorrect docstring
  tests/cancun/eip4844_blobs/spec.py
Due: tox

style: clean-up indentation
  tests/cancun/eip4844_blobs/common.py
Due: tox

docs: show specs in test case ref section in online doc
  docs/gen_test_case_reference.py
Due: tox

docs: lint markdown files
  docs/getting_help/index.md
  docs/getting_started/executing_tests_dev_fork.md
  docs/getting_started/executing_tests_vs_code.md
  docs/getting_started/quick_start.md
  docs/getting_started/repository_overview.md
  docs/getting_started/setup_vs_code.md
  docs/index.md
  docs/library/ethereum_test_tools.md
  docs/library/evm_transition_tool.md
  docs/library/pytest_plugins/forks.md
  docs/library/pytest_plugins/index.md
  docs/library/pytest_plugins/navigation.md
  docs/library/pytest_plugins/spec_version_checker.md
  docs/library/pytest_plugins/test_filler.md
  docs/navigation.md
  docs/tutorials/blockchain.md
  docs/tutorials/state_transition.md
  docs/tutorials/state_transition_bad_opcode.md
  docs/writing_tests/adding_a_new_test.md
  docs/writing_tests/index.md
  docs/writing_tests/reference_specification.md
  docs/writing_tests/verifying_changes.md
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

chore: recommend markdownlint in vscode extensions
  .vscode/extensions.json
Due: none

chore: add md environment to help lint markdown files
  tox.ini
Due: none

chore: lint markdown as part of test github action
  .github/workflows/test.yaml
Due: none

chore: add settings file for markdown lint
  .markdownlint.yaml
Due: none

chore: add & configure pyspelling, split whitelist.txt into wordlists
  .gitignore
  .pyspelling.yml
  .wordlist.txt
  .wordlist_opcodes.txt
  .wordlist_python_pytest.txt
  setup.cfg
  whitelist.txt
Due: none

docs: minor fixes to documentation dev doc
  docs/dev/docs.md
Due: tox-docs

chore: add docs spell-check to tox; account for whitelist refactor
  tox.ini
Due: none

docs: fix spelling
  docs/getting_started/quick_start.md
  docs/tutorials/blockchain.md
  docs/tutorials/state_transition.md
  docs/tutorials/state_transition_bad_opcode.md
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

chore: add pyspelling to tox; redirect missing package output to stderr
  tox.ini
Due: none

chore: clean-up pyspelling config file
  .pyspelling.yml
Due: none

chore: install missing dependency (aspell) for spelling
  .github/workflows/test.yaml
Due: none

chore: add cross-platform scripts for spelling and linting
  .wordlist.txt
  setup.cfg
  src/entry_points/create_whitelist_for_flake8_spelling.py
  src/entry_points/markdownlintcli2_soft_fail.py
  src/entry_points/pyspelling_soft_fail.py
  tox.ini
Due: tox

chore: move markdownlint-cli2 to doc tox env; but don't force
  tox.ini
Due: none

chore: add new words from whitelist.txt to .wordlist.txt
  .wordlist.txt
Due: none

chore: fix globs in markdownlint-cli2 action
  .github/workflows/test.yaml
Due: none

chore: fix markdown linting by removing link definitions
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

docs: update for md lint & spellcheck; add tox -e docs
  docs/getting_started/quick_start.md
  docs/writing_tests/code_standards.md
  docs/writing_tests/verifying_changes.md
Due: tox-docs

docs: add box to highlight conical flask in exploring tests
  docs/getting_started/img/vs_code_exploring_tests.kra
  docs/getting_started/img/vs_code_exploring_tests.png
Due: none

chore: add new wordlists to vs code recommended settings
  .vscode/settings.recommended.json
Due: none

refactor: give shared fixture a more descriptive name
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_excess_data_gas.py
Due: tox

4844: Refactor tests to use Spec and SpecHelper classes (#203)
  docs/gen_test_case_reference.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/spec.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_excess_data_gas.py
  tests/cancun/eip4844_blobs/test_excess_data_gas_fork_transition.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
  tests/cancun/eip4844_blobs/utils.py
Due: tox

tools: Fixes, Improvements to Opcodes/Code/Types (#196)
  src/ethereum_test_tools/code/code.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_types.py
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
Due: tox

all: fix typing
  src/ethereum_test_tools/code/__init__.py
  src/ethereum_test_tools/code/code.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/conversions.py
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/common/json.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_helpers.py
  src/ethereum_test_tools/tests/test_transactions.py
  src/ethereum_test_tools/tests/test_types.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

types: fix `to` field in envelope for signing
  src/ethereum_test_tools/common/types.py
Due: tox

tests: fix `Code` usages
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

fix: formatting of some fields, add tests
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_transactions.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox

types: `Bytes` supports int lists
  src/ethereum_test_tools/common/conversions.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox

fix: `FixedSizeBytes` super-type issue
  src/ethereum_test_tools/common/conversions.py
Due: tox

fix: unncessary conversions
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
Due: tox

fix: order of fields in tx and header types
  src/ethereum_test_tools/common/types.py
Due: tox

json: always encode using encoder
  src/ethereum_test_tools/common/json.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_specs.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox

nit: remove unused parameter
  src/ethereum_test_tools/common/json.py
Due: tox

types: add Alloc type
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_valid_filled.json
Due: tox

chore: add a helper script to sort fixtures alphanumerically
  .wordlist_python_pytest.txt
  setup.cfg
  src/entry_points/order_fixtures.py
Due: tox
