Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

chore: temp test fix.
  tests/verkle/eip7709_blockhash_witness/test_blockhash_instruction.py
Due: tox

basic witness checks
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/verkle/__init__.py
  src/ethereum_test_types/verkle/types.py
  tests/verkle/eip7709_blockhash_witness/test_blockhash_instruction.py
Due: tox

tests: update witness check test_blockhash_instruction.
  tests/verkle/eip7709_blockhash_witness/test_blockhash_instruction.py
Due: tox

chore: add chunkify code to init.
  src/ethereum_test_types/verkle/__init__.py
Due: tox

tests: temp fix test_contract_execution.
  tests/verkle/eip4762_verkle_gas_witness/test_contract_execution.py
Due: tox

feat(fw): add verkle chunkify code helper.
  src/ethereum_test_types/verkle/helpers.py
  src/ethereum_test_types/verkle/tests/__init__.py
  src/ethereum_test_types/verkle/tests/test_verkle_helpers.py
  src/ethereum_test_types/verkle/tests/test_verkle_witness.py
Due: tox

tests: witness check test_balance.
  tests/verkle/eip4762_verkle_gas_witness/test_balance.py
Due: tox

tests: update witness check for remaining tests.
  tests/verkle/eip4762_verkle_gas_witness/test_calls.py
  tests/verkle/eip4762_verkle_gas_witness/test_codecopy_ext_precompile.py
  tests/verkle/eip4762_verkle_gas_witness/test_codecopy_generic.py
  tests/verkle/eip4762_verkle_gas_witness/test_codecopy_generic_initcode.py
  tests/verkle/eip4762_verkle_gas_witness/test_coinbase_fees.py
  tests/verkle/eip4762_verkle_gas_witness/test_contract_execution.py
  tests/verkle/eip4762_verkle_gas_witness/test_creates.py
  tests/verkle/eip4762_verkle_gas_witness/test_extcodehash.py
  tests/verkle/eip4762_verkle_gas_witness/test_extcodesize.py
  tests/verkle/eip4762_verkle_gas_witness/test_selfdestruct.py
  tests/verkle/eip4762_verkle_gas_witness/test_sload.py
  tests/verkle/eip4762_verkle_gas_witness/test_sstore.py
  tests/verkle/eip4762_verkle_gas_witness/test_transfer.py
  tests/verkle/eip4762_verkle_gas_witness/test_withdrawals.py
  tests/verkle/temp_verkle_helpers.py
Due: tox

tests: small changes.
  tests/verkle/eip4762_verkle_gas_witness/test_codecopy_generic.py
  tests/verkle/eip4762_verkle_gas_witness/test_coinbase_fees.py
  tests/verkle/eip4762_verkle_gas_witness/test_creates.py
  tests/verkle/eip4762_verkle_gas_witness/test_extcodehash.py
Due: tox

chore: more improvements to error messages.
  src/ethereum_test_specs/blockchain.py
Due: tox

chore(ci): move older fork tests to a legacy fixture release.
  .github/configs/feature.yaml
  docs/CHANGELOG.md
Due: tox-docs

new(tests) more fuzzing disovered tests
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Due: tox

coverage on every pr
  .github/workflows/coverage.yaml
Due: none

build the changed files array once
  .github/workflows/coverage.yaml
Due: none

simplify regex for gitdiff changed files detection
  .github/workflows/coverage.yaml
Due: none

do not try to detect tests in files do not skip the coverage script for safety
  .github/workflows/coverage.yaml
Due: none

chore(tests): update EOF tests tracker
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox-docs

feat(transition_tool): Use execution-specs daemon
  src/evm_transition_tool/execution_specs.py
  whitelist.txt
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

fix: remove pipe subprocess
  src/evm_transition_tool/execution_specs.py
Due: tox

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: tox-docs

feat(fw): eels daemon rebase.
  src/evm_transition_tool/execution_specs.py
Due: tox

chore(fw): add t8n evaluate server method.
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/execution_specs.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
Due: tox

chore: tweak.
  src/evm_transition_tool/transition_tool.py
Due: tox

docs: update changelog.
  docs/CHANGELOG.md
Due: tox-docs

Add double rjumpi and rjumpv
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
Due: tox

Apply suggestions from code review
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox-docs

chore(ci): remove redundant tests for fixture releases. (#788)
  .github/configs/feature.yaml
  docs/CHANGELOG.md
Due: tox-docs

verkle: contract execution fixes
  src/ethereum_test_types/verkle/helpers.py
  tests/verkle/eip4762_verkle_gas_witness/test_contract_execution.py
Due: tox

chore(tests): update EOF tests tracker (#791)
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox-docs

fixes
  tests/verkle/eip4762_verkle_gas_witness/test_contract_execution.py
Due: tox

Add test variants
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
Due: tox

Fix unsupported fork handling
  src/pytest_plugins/forks/forks.py
Due: tox

Send `SIGTERM` rather than `SIGKILL` so daemon can do cleanup
  src/evm_transition_tool/execution_specs.py
Due: tox

Add requests-unixsocket2 dependency
  pyproject.toml
Due: none

Reformat with black
  src/pytest_plugins/forks/forks.py
Due: tox

chore: fix unsupported forks.
  src/pytest_plugins/forks/forks.py
Due: tox

Add more test variants
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
Due: tox

new(tests): EOF: more fuzzing disovered tests (#789)
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Due: tox

fix(fw): DATALOAD pushed_stack_items (#784)
  src/ethereum_test_vm/opcode.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
