Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

fix(github): Fix `eip7692-osaka` to also fill `tests/prague` (#897)
  .github/configs/feature.yaml
Due: none

fix(cli): don't set irrelevant/incorrect block fields
  src/cli/eofwrap.py
Due: tox

fix(cli): use tx.model_dump()
  src/cli/eofwrap.py
Due: tox

fix(cli): ensure dir for metrics
  src/cli/eofwrap.py
Due: tox

⚡ perf: Optimize config wrapper
  src/config/env.py
Due: tox

⚡ perf: Pydantic defaults for config
  src/cli/gentest.py
  src/config/env.py
Due: tox

✨ feat: Configurations
  docs/dev/configurations.md
  docs/dev/environment.md
  docs/dev/index.md
  docs/gen_test_case_reference.py
  docs/library/cli/env_init.md
  src/config/__init__.py
  src/config/app.py
  src/config/docs.py
  src/config/env.py
Due: tox, tox-docs

🐞 fix: Docs link
  docs/library/cli/index.md
Due: tox-docs

feat(hint): post state key hint
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_types/types.py
Due: tox

📄 docs: Changelog for config
  docs/CHANGELOG.md
Due: tox-docs

✨ feat(all): add application-wide configuration manager (#892)
  .gitignore
  docs/CHANGELOG.md
  docs/dev/configurations.md
  docs/dev/index.md
  docs/gen_test_case_reference.py
  docs/library/cli/env_init.md
  docs/library/cli/index.md
  pyproject.toml
  src/cli/gentest.py
  src/config/__init__.py
  src/config/app.py
  src/config/docs.py
  src/config/env.py
  src/config/templates/env.yaml.j2
  uv.lock
Due: tox, tox-docs

🧹 chore(Docs): Update devdocs navigation
  docs/dev/index.md
  docs/navigation.md
Due: tox-docs

🧹 chore(docs): update dev docs navigation (#898)
  docs/dev/index.md
  docs/navigation.md
Due: tox-docs

eip4762: fix extcodesize witness assertion
  tests/verkle/eip4762_verkle_gas_witness/test_extcodesize.py
Due: tox

eip4762: fix extcodecopy for system contract
  tests/verkle/eip4762_verkle_gas_witness/test_codecopy_ext_precompile.py
Due: tox

new(tests): EOF - EIP-4750: Stack validation in CALLF (#889)
  tests/osaka/eip7692_eof_v1/eip4750_functions/helpers.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
  whitelist.txt
Due: tox

✨ feat(gentest): Migrate gentest to Jinja2
  pyproject.toml
  src/cli/gentest.py
  src/cli/gentest/__init__.py
  src/cli/gentest/cli.py
  src/cli/gentest/request_manager.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
  src/cli/gentest/test_providers.py
Due: tox

✨ feat(gentest): Migrate gentest to Jinja2
  src/cli/gentest/request_manager.py
  src/cli/gentest/test_providers.py
Due: tox

cover all opcodes in different situations
  converted-ethereum-tests.txt
  tests/frontier/scenarios/__init__.py
  tests/frontier/scenarios/common.py
  tests/frontier/scenarios/programs/__init__.py
  tests/frontier/scenarios/programs/all_frontier_opcodes.py
  tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/scenarios/__init__.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/frontier/scenarios/scenarios/revert_combinations.py
  tests/frontier/scenarios/test_scenarios.py
Due: tox

WIP: fix(cli): rework eofwrap using `process_evm_bytes`
  src/cli/eofwrap.py
  src/cli/evm_bytes.py
  src/cli/tests/test_eofwrap.py
Due: tox

add exception classes, add exception verification into state tests
  src/ethereum_test_exceptions/__init__.py
  src/ethereum_test_exceptions/exception_mapper.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/state.py
Due: tox

exclude prague
  .github/workflows/coverage.yaml
Due: none

🚥 ci: Possibly misspelt word
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
Due: none

🥢 nit: Unused imports
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
Due: none

🥢 nit: Format
  src/cli/gentest/test_providers.py
Due: tox

🥢 nit: Format
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
Due: none

Update src/cli/gentest/templates/blockchain_test/transaction.py.j2
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
Due: none

🥢 nit
  src/cli/gentest/__init__.py
Due: tox

🥢 nit
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
Due: none

🥢 nit
  src/cli/gentest/request_manager.py
Due: tox

🧹 chore: Refactor templating logic
  src/cli/gentest/cli.py
  src/cli/gentest/request_manager.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
  src/cli/gentest/test_providers.py
Due: tox

✨ feat(gentest): use jinja2 templating in `gentest` (#900)
  pyproject.toml
  src/cli/gentest.py
  src/cli/gentest/__init__.py
  src/cli/gentest/cli.py
  src/cli/gentest/request_manager.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
  src/cli/gentest/test_providers.py
Due: tox

fix(cli): fix bug in RJUMPV parsing
  src/cli/evm_bytes.py
  src/cli/tests/test_eofwrap.py
  src/cli/tests/test_evm_bytes.py
Due: tox

Code review - avoiding evmon-t8n missing
  src/cli/eofwrap.py
Due: tox

new(cli): Introduce eofwrap tool
  pyproject.toml
  src/cli/eofwrap.py
  src/cli/tests/test_eofwrap.py
  whitelist.txt
Due: tox

fix(cli): fix printing of traces in eofwrap
  src/cli/eofwrap.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
