Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

fix(cli): fix bug with makedirs in eofwrap
  src/cli/eofwrap.py
Due: tox

fix(cli): rework eofwrap using `process_evm_bytes`
  src/cli/eofwrap.py
  src/cli/evm_bytes.py
  src/cli/tests/test_eofwrap.py
Due: tox

fix(tests): incorrect max_stack_height issues
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

new(tests): EOF - EIP-5450: RJUMP* vs CALLF tests
  src/ethereum_test_specs/eof.py
  tests/prague/eip7692_eof_v1/eip5450_stack/__init__.py
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  whitelist.txt
Due: tox

Bring back the RJUMPV_OVER_PUSH_AND_TO_START valid cases
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

Close the catalogue of potential exceptions
  src/ethereum_test_specs/eof.py
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

Remove no_expectations_on_validity flag
  src/ethereum_test_specs/eof.py
Due: tox

Handle stack mismatch
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

Do away with the no_expecations_on_validity
  tests/prague/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

Move to Osaka
  tests/osaka/eip7692_eof_v1/eip5450_stack/__init__.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

♻️ refactor(gentest): Migrate transaction gentest to state_test
  src/cli/gentest/cli.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
  src/cli/gentest/test_providers.py
Due: tox

📄 docs: Deciding on a test type
  docs/writing_tests/types_of_tests.md
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

use uv run in coverage script
  .github/workflows/coverage.yaml
Due: none

build the changed files array once
  .github/workflows/coverage.yaml
Due: none

coverage on every pr
  .github/workflows/coverage.yaml
Due: none

address issues
  .github/workflows/coverage.yaml
Due: none

simplify regex for gitdiff changed files detection
  .github/workflows/coverage.yaml
Due: none

do not try to detect tests in files do not skip the coverage script for safety
  .github/workflows/coverage.yaml
Due: none

refactor(ci): use changed-files action to detect changes in tests/
  .github/workflows/coverage.yaml
Due: none

exclude prague
  .github/workflows/coverage.yaml
Due: none

fix the coverage script, remove retesteth, simplify
  .github/workflows/coverage.yaml
Due: none

new(tests) Add stack overflow by rule check to JUMPF
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/helpers.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Due: tox

fix(tests): allow multiple exceptions for trailing bytes tests
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_migrated_valid_invalid.py
Due: tox

Wait for connections to be accepted in start_server()
  src/ethereum_clis/clis/execution_specs.py
Due: tox

eip4762: gas fix for selfdestruct subtest
  tests/verkle/eip4762_verkle_gas_witness/test_selfdestruct.py
Due: tox

new(tests): EOF - EIP-5450: RJUMP* vs CALLF tests (#833)
  tests/osaka/eip7692_eof_v1/eip5450_stack/__init__.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  whitelist.txt
Due: tox

bug(ci): fix deploy docs tags workflow trigger. (#858)
  .github/workflows/docs_tags.yaml
  docs/CHANGELOG.md
Due: tox-docs

(WIP) fix(tests): fix operand stack limit test
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
Due: tox

fix evmone long build fix uv run fill on empty file set
  .github/actions/build-evm-client/evmone/action.yaml
  .github/workflows/coverage.yaml
Due: none

fix(docs): fix/add test github actions locally page
  docs/dev/test_actions_locally.md
  whitelist.txt
Due: tox-docs

fix(docs): fix test github actions locally commands (#909)
  docs/dev/test_actions_locally.md
  whitelist.txt
Due: tox-docs

feat(verkle): add parent root to witness & fix proof.
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/verkle/tests/test_verkle_witness.py
  src/ethereum_test_types/verkle/types.py
  src/evm_transition_tool/types.py
Due: tox

fix(specs): tests
  src/ethereum_test_specs/tests/test_expect.py
Due: tox

feat(exceptions,specs): class to verify exception strings (#795)
  src/ethereum_clis/__init__.py
  src/ethereum_clis/clis/besu.py
  src/ethereum_clis/clis/ethereumjs.py
  src/ethereum_clis/clis/evmone.py
  src/ethereum_clis/clis/execution_specs.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/clis/nimbus.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_exceptions/__init__.py
  src/ethereum_test_exceptions/evmone_exceptions.py
  src/ethereum_test_exceptions/exception_mapper.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/test_expect.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  whitelist.txt
Due: tox

feat(specs): Add test execution to specs
  src/ethereum_test_execution/__init__.py
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/formats.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
Due: tox

feat(execution): Create `ethereum_test_execution`
  src/ethereum_test_execution/__init__.py
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/formats.py
  src/ethereum_test_execution/transaction_post.py
Due: tox

feat(plugins): Add `execute` pytest plugin
  pytest-framework.ini
  src/pytest_plugins/execute/__init__.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/recover.py
  src/pytest_plugins/execute/rpc/__init__.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/execute/rpc/remote.py
  src/pytest_plugins/execute/rpc/remote_seed_sender.py
  src/pytest_plugins/execute/sender.py
  src/pytest_plugins/execute/test_recover.py
Due: tox

fix(plugins/filler): Add markers
  src/pytest_plugins/filler/filler.py
Due: tox
