Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

fix: Don't convert flag to a string
  src/ethereum_test_tools/spec/blockchain/types.py
Due: tox

fix: Add a sync payload instead
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
Due: tox

feat(fw): add optional `verify_sync` flag to hive blockchain tests
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
Due: tox

chore: add changelog.
  docs/CHANGELOG.md
Due: tox-docs

chore: fix spelling in changelog :P
  whitelist.txt
Due: none

feat(fw): add optional `verify_sync` flag to hive blockchain tests (#431)
  docs/CHANGELOG.md
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  whitelist.txt
Due: tox, tox-docs

fix(fw): update to include self gas limit.
  src/ethereum_test_tools/spec/blockchain/types.py
Due: tox

fix: use parent env's gas limit in current env #468
  src/ethereum_test_tools/spec/blockchain/types.py
Due: tox

bug(fw): fix block header `gasLimit` value in post genesis blocks for blockchain tests (#472)
  docs/CHANGELOG.md
  src/ethereum_test_tools/spec/blockchain/types.py
Due: tox, tox-docs

chore: update changelog post v2.1.1
  docs/CHANGELOG.md
Due: tox-docs

chore: update changelog post v2.1.1 (#473)
  docs/CHANGELOG.md
Due: tox-docs

feat(tests): extend Op with Op.OOG fake opcode
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/vm/__init__.py
  src/ethereum_test_tools/vm/opcode.py
  whitelist.txt
Due: tox

fix op.oog issues
  src/ethereum_test_tools/vm/opcode.py
Due: tox

address issues, refactor the code (WIP)
  src/entry_points/gentest.py
Due: tox

generate test using debug_traceCall
  setup.cfg
  src/entry_points/gentest.py
  whitelist.txt
Due: tox

fix(vm): Opcode accepts `bytes`
  src/ethereum_test_tools/vm/opcode.py
Due: tox

feat(vm): add test for ocpode and macro integration
  src/ethereum_test_tools/tests/test_vm.py
Due: tox

fix(evm_bytes_to_python): fix iteration over `Opcodes`
  src/entry_points/evm_bytes_to_python.py
  src/entry_points/tests/test_evm_bytes_to_python.py
Due: tox

fix(fw): fixed size bytes != comparison
  src/ethereum_test_tools/common/base_types.py
  src/ethereum_test_tools/tests/test_base_types.py
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

fix: simplify changes
  src/ethereum_test_tools/common/base_types.py
Due: tox

fix(fw): Fix `FixedSizeBytes` `!=` comparison (#477)
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/base_types.py
  src/ethereum_test_tools/tests/test_base_types.py
Due: tox, tox-docs

chore: add click to install dependencies
  setup.cfg
Due: none

new(test): self-destruct test for nonce > 1 self-destructing contracts
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

fix(setup): Add pydantic, bump mypy
  setup.cfg
Due: none

🧹 Merge -> Paris
  src/ethereum_test_forks/forks/forks.py
Due: tox

🐞 fix(README): closes #481
  README.md
Due: tox-docs

feat: Add pydantic experiment
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/tests/test_pydantic_types.py
  whitelist.txt
Due: tox

format
  src/ethereum_test_tools/tests/test_pydantic_types.py
Due: tox

feat: use click for fill and other pytest-based commands
  setup.cfg
  src/entry_points/cli_pytest.py
  src/entry_points/fill.py
  src/entry_points/tf.py
  whitelist.txt
Due: tox

docs: update docs for new click --help flag
  docs/getting_started/executing_tests_command_line.md
Due: tox-docs

fix(README): Fix fixture file path (#482)
  README.md
Due: tox-docs

Add some methods
  src/ethereum_test_tools/tests/test_pydantic_types.py
Due: tox

WIP
  src/ethereum_test_tools/common/base_types.py
  src/ethereum_test_tools/common/conversions.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_pydantic_types.py
Due: tox

wip: rough sketch of pydantic block header models part ii
  setup.cfg
  src/entry_points/load_blockchain_fixture.py
Due: tox

storage root model
  src/ethereum_test_tools/common/types.py
Due: tox

broken
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/base_types.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
Due: tox

refactor: rename entry_points folder to cli
  setup.cfg
  src/cli/evm_bytes_to_python.py
  src/cli/hasher.py
  src/cli/markdownlintcli2_soft_fail.py
  src/cli/order_fixtures.py
  src/cli/pyspelling_soft_fail.py
  src/cli/pytest_commands.py
  src/cli/tests/__init__.py
  src/cli/tests/test_evm_bytes_to_python.py
  src/entry_points/tests/__init__.py
  tox.ini
Due: tox
