Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

✨ feat(tests): PUSH*
  tests/frontier/opcodes/test_push.py
Due: tox

✨ feat: Add PUSH* to converted tests
  converted-ethereum-tests.txt
Due: none

nit: test path
  converted-ethereum-tests.txt
Due: none

🥢 nit: explicit byteorder
  tests/frontier/opcodes/test_push.py
Due: tox

✨ feat: Stack overflow
  tests/frontier/opcodes/test_push.py
Due: tox

refactor(ethereum_clis): move `TransitionTool.verify_fixture()` to `Statetest` & `Blocktest`
  src/ethereum_clis/blocktest.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/ethereum_cli.py
  src/ethereum_clis/statetest.py
  src/ethereum_clis/transition_tool.py
  src/ethereum_test_fixtures/__init__.py
  src/ethereum_test_fixtures/collector.py
  src/ethereum_test_fixtures/fixture_consumer.py
  src/ethereum_test_fixtures/verify.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/filler/filler.py
  whitelist.txt
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

chore: clean-out currently unused code from `test_statetest`
  src/pytest_plugins/consume/direct/test_via_direct.py
Due: tox

fix(clis): ruff
  src/ethereum_clis/blocktest.py
  src/ethereum_clis/statetest.py
Due: tox

fix(fixtures): ruff
  src/ethereum_test_fixtures/fixture_consumer.py
Due: tox

✨ feat: Ruff formatting
  tests/frontier/opcodes/test_push.py
Due: tox

✨ feat: Upgrade gentest formatter to Ruff
  src/cli/gentest/source_code_generator.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
Due: tox

execute: Use fund account as sender instead of creating new one
  src/pytest_plugins/execute/sender.py
Due: tox

fix(eip2930): Adjust fund and remove secret key to adapt to execute cmd
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

fix(eip3860): Test for Ronin Venoki hardfork
  tests/shanghai/eip3860_initcode/spec.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

remove(eip4895)
  tests/shanghai/eip4895_withdrawals/__init__.py
  tests/shanghai/eip4895_withdrawals/conftest.py
  tests/shanghai/eip4895_withdrawals/spec.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

fix(shanghai): Adjust gas limit and remove chain_id
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
  tests/shanghai/eip3855_push0/test_push0.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

chore(tooling): update pre-commit config for modular tox envs
  .pre-commit-config.yaml
Due: none

refactor(tooling): split tox environments by tool, not scope
  tox.ini
Due: none

style(ci): apply ruff formatting to github helper script
  .github/scripts/get_release_props.py
Due: tox

chore(tooling): don't write fill t8n logs in tox
  tox.ini
Due: none

unit tests
  src/ethereum_test_base_types/conversions.py
  src/ethereum_test_base_types/tests/test_base_types.py
  src/ethereum_test_fixtures/tests/test_state.py
  src/ethereum_test_specs/tests/test_fixtures.py
  src/ethereum_test_specs/tests/test_types.py
  src/ethereum_test_types/tests/test_helpers.py
  src/ethereum_test_types/tests/test_post_alloc.py
  src/ethereum_test_types/tests/test_transactions.py
  src/ethereum_test_types/tests/test_types.py
  tests/cancun/eip1153_tstore/test_tstorage_execution_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_selfdestruct.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

fix after rebase
  src/ethereum_test_base_types/conversions.py
  tests/cancun/eip1153_tstore/test_tstorage_execution_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_selfdestruct.py
Due: tox

refactor(tooling): renaming & add aliases for previous env names
  tox.ini
Due: none

docs(tooling): update docs for new tox environments
  docs/dev/docs.md
  docs/writing_tests/test_markers.md
  docs/writing_tests/verifying_changes.md
  whitelist.txt
Due: tox-docs

✨ feat: Upgrade gentest formatter to Ruff (#1058)
  src/cli/gentest/source_code_generator.py
  src/cli/gentest/templates/blockchain_test/transaction.py.j2
Due: tox

chore(tooling): run ruff with explicit python source dirs
  tox.ini
Due: none

refactor(clis,fixtures): Refactor FixtureConsumer into two separate classes
  src/ethereum_clis/blocktest.py
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/ethereum_cli.py
  src/ethereum_clis/fixture_consumer.py
  src/ethereum_clis/statetest.py
  src/ethereum_test_fixtures/fixture_consumer.py
  src/pytest_plugins/consume/direct/conftest.py
Due: tox

feat(ci): run a gh workflow job per tox environment
  .github/workflows/tox_verify.yaml
Due: none

fix(tooling): set EELS_RESOLUTION_FILE var for tests-deployed tox envs
  tox.ini
Due: none

chore(ci): shorter/descriptive job and step names
  .github/workflows/tox_verify.yaml
Due: none

chore(ci): even shorter job name
  .github/workflows/tox_verify.yaml
Due: none

chore(ci): disable tests-deployed with python 3.10 due to timeout
  .github/workflows/tox_verify.yaml
Due: none

refactor(clis): Rename file
  src/ethereum_clis/clis/geth.py
  src/ethereum_clis/fixture_consumer_tool.py
Due: tox

refactor(plugins): Parametrize direct with all consumers, make `fixture_format` a mandatory parameter
  src/ethereum_clis/__init__.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/direct/conftest.py
  src/pytest_plugins/consume/direct/test_via_direct.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/execute/execute.py
Due: tox

fix(plugins/consume): nit
  src/pytest_plugins/consume/direct/test_via_direct.py
Due: tox

fix(plugins/consume,fixtures,clis): remove geth-specific workarounds, generalize consume direct test
  src/ethereum_clis/clis/geth.py
  src/ethereum_test_fixtures/fixture_consumer.py
  src/pytest_plugins/consume/direct/test_via_direct.py
Due: tox

Update tests/frontier/opcodes/test_chain_sync.py to shorten transaction name
  tests/frontier/opcodes/test_chain_sync.py
Due: tox

Update tests/frontier/opcodes/test_chain_sync.py to remove nonce
  tests/frontier/opcodes/test_chain_sync.py
Due: tox

some adjustments to fix eip7702 & eip2537 tests for devnet execution
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox
