Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

eof unit tests
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/tests/test_eof_v1.py
Due: tox

fix(fw): tpx
  src/ethereum_test_tools/tests/test_eof_v1.py
Due: tox

fix(fw): fix
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
Due: tox

fix(tests): eof: change `test_code_validation.py` to use `EOFTestFiller`
  tests/prague/eip3540_eof_v1/test_code_validation.py
Due: tox

fix(fw): eof: consistent magic, version, and header terminator types.
  src/ethereum_test_tools/eof/constants.py
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/tests/test_eof_v1.py
  tests/prague/eip3540_eof_v1/container.py
  tests/prague/eip3540_eof_v1/test_eof_example.py
Due: tox

fix(tests): eof: fix RJUMP*, CALLF data portions
  tests/prague/eip3540_eof_v1/code_validation_function.py
  tests/prague/eip3540_eof_v1/code_validation_jump.py
  tests/prague/eip3540_eof_v1/container.py
  tests/prague/eip3540_eof_v1/test_execution_function.py
Due: tox

fetch exceptions with evmone lots of TODOs
  src/ethereum_test_tools/exceptions/exceptions.py
  tests/prague/eip3540_eof_v1/container.py
  tests/prague/eip3540_eof_v1/test_code_validation.py
Due: tox

chore: add unknown words to dictionary
  whitelist.txt
Due: none

refactor(fw): compute_create3_address
  src/ethereum_test_tools/common/helpers.py
Due: tox

rm(tests): eof: duplicate prague folder with redundant examples
  tests/prague/eip3540_evm_object_format_v1/__init__.py
  tests/prague/eip3540_evm_object_format_v1/test_eof.py
Due: tox

fix(fw): eof: data-container body order
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/eof/v1/constants.py
  src/ethereum_test_tools/tests/test_eof_v1.py
Due: tox

docs: add EOF
  docs/CHANGELOG.md
  docs/consuming_tests/eof_test.md
  docs/navigation.md
Due: tox-docs

fix(docs): word
  docs/consuming_tests/eof_test.md
  whitelist.txt
Due: tox-docs

fix(tests): eof: file rename
  tests/prague/eip3540_eof_v1/spec.py
  tests/prague/eip3540_eof_v1/test_code_validation.py
  tests/prague/eip3540_eof_v1/test_eof_example.py
  tests/prague/eip3540_eof_v1/test_execution_function.py
Due: tox

feat(fw): EOF support (#512)
  docs/CHANGELOG.md
  docs/consuming_tests/eof_test.md
  docs/navigation.md
  src/cli/tests/test_evm_bytes_to_python.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/eof/__init__.py
  src/ethereum_test_tools/eof/constants.py
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/eof/v1/constants.py
  src/ethereum_test_tools/exceptions/__init__.py
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/eof/__init__.py
  src/ethereum_test_tools/spec/eof/eof_test.py
  src/ethereum_test_tools/spec/eof/types.py
  src/ethereum_test_tools/tests/test_eof_v1.py
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
  src/evm_transition_tool/transition_tool.py
  tests/prague/eip3540_eof_v1/__init__.py
  tests/prague/eip3540_eof_v1/code_validation.py
  tests/prague/eip3540_eof_v1/code_validation_function.py
  tests/prague/eip3540_eof_v1/code_validation_jump.py
  tests/prague/eip3540_eof_v1/container.py
  tests/prague/eip3540_eof_v1/opcodes.py
  tests/prague/eip3540_eof_v1/spec.py
  tests/prague/eip3540_eof_v1/test_code_validation.py
  tests/prague/eip3540_eof_v1/test_eof_example.py
  tests/prague/eip3540_eof_v1/test_execution_function.py
  tests/shanghai/eip3860_initcode/test_initcode.py
  whitelist.txt
Due: tox, tox-docs

eof example with prameters
  tests/prague/eip3540_eof_v1/test_eof_example.py
Due: tox

fix(rlp): test consensus via fixture.last_block_hash
  tests_consume/test_via_rlp.py
Due: tox

fix(rlp): add excessBlobGas to genesis
  tests_consume/test_via_rlp.py
Due: tox

Add --traces support to besu
  docs/CHANGELOG.md
  docs/index.md
  src/evm_transition_tool/besu.py
Due: tox, tox-docs

Updates based on non-returning sections
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip3540_eof_v1/test_eof_example.py
  tests/prague/eip3540_eof_v1/test_execution_function.py
  whitelist.txt
Due: tox

Simple tests for DATA* series opcodes
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip7480_data_section/__init__.py
  tests/prague/eip7480_data_section/spec.py
  tests/prague/eip7480_data_section/test_code_validation.py
  tests/prague/eip7480_data_section/test_data_opcodes.py
  whitelist.txt
Due: tox

Apply suggestions from code review
  tests/prague/eip3540_eof_v1/test_execution_function.py
Due: tox

fix(tests): EOF: Updates based on non-returning sections (#517)
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip3540_eof_v1/test_eof_example.py
  tests/prague/eip3540_eof_v1/test_execution_function.py
  whitelist.txt
Due: tox

new(tests): EOF - Simple tests for DATA* series opcodes (#518)
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip7480_data_section/__init__.py
  tests/prague/eip7480_data_section/spec.py
  tests/prague/eip7480_data_section/test_code_validation.py
  tests/prague/eip7480_data_section/test_data_opcodes.py
  whitelist.txt
Due: tox

chore: fix github actions on macos-latest by installing cairo
  .github/workflows/test.yaml
Due: none

Revert "chore: fix github actions on macos-latest by installing cairo"
  .github/workflows/test.yaml
Due: none

chore: fix github actions by using macos-12
  .github/workflows/test.yaml
Due: none

chore(ci): hotfix github actions by using macos-12
  .github/workflows/test.yaml
Due: none

chore(ci): hotfix github actions by using macos-12 (#520)
  .github/workflows/test.yaml
Due: none

fix github workflow
  .github/workflows/test.yaml
Due: none

Validate EIP-7676 Prepare for Address Space Extension
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip7676_address_space_extension/__init__.py
  tests/prague/eip7676_address_space_extension/spec.py
  tests/prague/eip7676_address_space_extension/test_ase_opcodes.py
  whitelist.txt
Due: tox

fix(ci): ubuntu version in github workflow (#524)
  .github/workflows/test.yaml
Due: none

Reviewer requested changes
  tests/prague/eip7676_address_space_extension/test_ase_opcodes.py
Due: tox

formatting
  tests/prague/eip7676_address_space_extension/test_ase_opcodes.py
Due: tox

speling
  tests/prague/eip7676_address_space_extension/test_ase_opcodes.py
Due: tox

chore(ci): Revert ci to use macos-latest & ubuntu-latest.
  .github/workflows/test.yaml
  tox.ini
Due: none

chore(ci): Revert ci to use macos-latest & ubuntu-latest. (#525)
  .github/workflows/test.yaml
  tox.ini
Due: none

chore(ci): Update workflow actions to use Node.js 20 versions.
  .github/actions/build-geth-evm/action.yaml
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/test.yaml
Due: none

chore: Add changelog.
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

new(test): add tests for EOF/EIP-663 DUPN SWAPN
  tests/prague/eip663_dupn_swapn_exchange/__init__.py
  tests/prague/eip663_dupn_swapn_exchange/conftest.py
  tests/prague/eip663_dupn_swapn_exchange/test_dupn.py
  tests/prague/eip663_dupn_swapn_exchange/test_swapn.py
  whitelist.txt
Due: tox
