Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

bump wallet balance for eip2357 tests and revert gas limit change
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
Due: tox

feat(ci): use astral-sh/setup-uv action and new gh vars
  .github/workflows/tox_verify.yaml
Due: none

docs(ci): update dev docs for running actions locally
  .gitignore
  docs/dev/test_actions_locally.md
Due: tox-docs

more fixes
  tests/prague/eip7002_el_triggerable_withdrawals/helpers.py
  tests/prague/eip7251_consolidations/helpers.py
Due: tox

fix(clis): Fix geth state test consume
  src/ethereum_clis/clis/geth.py
Due: tox

fix(plugins/filler): Generalize fixture verifier
  src/pytest_plugins/filler/filler.py
Due: tox

refactor(tooling, ci): modularize `tox` envs for better feedback and parallelization (#1061)
  .github/scripts/get_release_props.py
  .github/workflows/tox_verify.yaml
  .gitignore
  .pre-commit-config.yaml
  docs/dev/docs.md
  docs/dev/test_actions_locally.md
  docs/writing_tests/test_markers.md
  docs/writing_tests/verifying_changes.md
  tox.ini
  whitelist.txt
Due: tox, tox-docs

feat(fixtures): Add `postDecoded` field to state tests
  docs/CHANGELOG.md
  docs/consuming_tests/state_test.md
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_state.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/fixtures/chainid_paris_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_state_test.json
Due: tox, tox-docs

🥢 nit: Parametrize stack overflow
  tests/frontier/opcodes/test_push.py
Due: tox

♻️ refactor: Cleanup common code
  tests/frontier/opcodes/test_push.py
Due: tox

rename field to `state`
  docs/CHANGELOG.md
  docs/consuming_tests/state_test.md
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_state.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/fixtures/chainid_paris_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_state_test.json
Due: tox, tox-docs

fix(types): Transaction `to` validation fix
  src/ethereum_test_types/types.py
Due: tox

refactor(base_types): replace left_pad_zeros_up_to_size with fixed bytes constructor parameter
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_base_types/conversions.py
  tests/cancun/eip1153_tstore/test_tstorage_execution_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_selfdestruct.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

fix: changelog
  docs/CHANGELOG.md
Due: tox-docs

fix(plugins/forks): Make `fork_covariant_parametrize` into a marker
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
  src/pytest_plugins/__init__.py
  src/pytest_plugins/forks/__init__.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
Due: tox, tox-docs

Update docs/writing_tests/test_markers.md
  docs/writing_tests/test_markers.md
Due: tox-docs

refactor(plugins/forks): rename to `parametrize_by_fork` and argument names
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
  src/pytest_plugins/forks/tests/test_fork_parametrizer_types.py
Due: tox, tox-docs

feat(fixtures): Add `state` field to post in state tests (#1064)
  docs/CHANGELOG.md
  docs/consuming_tests/state_test.md
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_state.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_specs/tests/fixtures/chainid_paris_state_test.json
  src/ethereum_test_specs/tests/fixtures/chainid_shanghai_state_test.json
Due: tox, tox-docs

fix(plugins/forks): Make `fork_covariant_parametrize` into a marker (#1057)
  docs/CHANGELOG.md
  docs/writing_tests/test_markers.md
  src/pytest_plugins/__init__.py
  src/pytest_plugins/forks/__init__.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/forks/tests/test_covariant_markers.py
  src/pytest_plugins/forks/tests/test_fork_parametrizer_types.py
Due: tox, tox-docs

fix(tests): EIP-7685: More tests
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
Due: tox

fix(tests): EIP-7685: Remove outdated test, add new tests
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
Due: tox

fix(tests): rename parametrize_by_fork
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
Due: tox

Create test cases from EIP-152 for precompiled contracts with Blake2
  tests/istanbul/eip152_blake2/__init__.py
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox

Update CHANGELOG
  docs/CHANGELOG.md
Due: tox-docs

update changelog
  docs/CHANGELOG.md
Due: tox-docs

test scenarios
  converted-ethereum-tests.txt
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_vm/opcode.py
  tests/frontier/scenarios/__init__.py
  tests/frontier/scenarios/common.py
  tests/frontier/scenarios/programs/__init__.py
  tests/frontier/scenarios/programs/all_frontier_opcodes.py
  tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/programs/invalid_opcodes.py
  tests/frontier/scenarios/programs/static_violation.py
  tests/frontier/scenarios/scenarios/__init__.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/frontier/scenarios/scenarios/revert_combinations.py
  tests/frontier/scenarios/test_scenarios.py
  whitelist.txt
Due: tox

fix(pytest): add the parametrize_by_fork marker to the ini config
  src/pytest_plugins/forks/forks.py
Due: tox

format with ruff
  src/ethereum_test_forks/forks/forks.py
  tests/frontier/scenarios/__init__.py
  tests/frontier/scenarios/common.py
  tests/frontier/scenarios/programs/__init__.py
  tests/frontier/scenarios/programs/all_frontier_opcodes.py
  tests/frontier/scenarios/programs/context_calls.py
  tests/frontier/scenarios/programs/invalid_opcodes.py
  tests/frontier/scenarios/programs/static_violation.py
  tests/frontier/scenarios/scenarios/__init__.py
  tests/frontier/scenarios/scenarios/call_combinations.py
  tests/frontier/scenarios/scenarios/create_combinations.py
  tests/frontier/scenarios/scenarios/revert_combinations.py
  tests/frontier/scenarios/test_scenarios.py
Due: tox

new(tests): EIP-2537: Add G2 MSM test for max discount (#1038)
  docs/CHANGELOG.md
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2msm.py
Due: tox, tox-docs

new(tests): Add generic precompile-absence test (#1036)
  docs/CHANGELOG.md
  tests/frontier/precompiles/__init__.py
  tests/frontier/precompiles/test_precompile_absence.py
Due: tox, tox-docs

Update tests/prague/eip2935_historical_block_hashes_from_state/test_contract_deployment.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_contract_deployment.py
Due: tox

fix: Add storage hint
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

feat(forks,tests): EIP-2935: Contract update
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/contracts/history_contract.bin
  src/ethereum_test_forks/forks/forks.py
  tests/prague/eip2935_historical_block_hashes_from_state/contract_deploy_tx.json
  tests/prague/eip2935_historical_block_hashes_from_state/spec.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_contract_deployment.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs

refactor(tools): Use `Block` instead of `Tuple`
  src/ethereum_test_tools/utility/generators.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_contract_deployment.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_contract_deployment.py
  tests/prague/eip7251_consolidations/test_contract_deployment.py
Due: tox

fix(tools): pass test_type
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/utility/generators.py
Due: tox

new(tests): Add block hash checking on deployment test
  tests/prague/eip2935_historical_block_hashes_from_state/test_contract_deployment.py
Due: tox

fix(tests): EIP-7685: Remove outdated test, add more tests (#1050)
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
Due: tox

fix(pytest): add the parametrize_by_fork marker to the ini config (#1069)
  src/pytest_plugins/forks/forks.py
Due: tox

feat(forks,tests): EIP-2935: Contract update (#1046)
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/contracts/history_contract.bin
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/utility/generators.py
  tests/prague/eip2935_historical_block_hashes_from_state/contract_deploy_tx.json
  tests/prague/eip2935_historical_block_hashes_from_state/spec.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_contract_deployment.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_contract_deployment.py
  tests/prague/eip7251_consolidations/test_contract_deployment.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs

fixup(forks): Return instead of error raise in `blob_gas_per_blob`
  src/ethereum_test_forks/forks/forks.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
