Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

coverage on every pr
  .github/workflows/coverage.yaml
Due: none

do not try to detect tests in files do not skip the coverage script for safety
  .github/workflows/coverage.yaml
Due: none

refactor(ci): use changed-files action to detect changes in tests/
  .github/workflows/coverage.yaml
Due: none

use uv run in coverage script
  .github/workflows/coverage.yaml
Due: none

simplify regex for gitdiff changed files detection
  .github/workflows/coverage.yaml
Due: none

remove retesteth driver, simplify the coverage script
  .github/workflows/coverage.yaml
Due: none

new test introduced, scipt is green
  tests/cancun/eip1153_tstore/test_basic_tload2.py
Due: tox

no new tests, only unrelated changes, script is disabled
  tests/cancun/eip1153_tstore/__init__.py
  tests/cancun/eip1153_tstore/spec.py
  tests/cancun/eip1153_tstore/test_basic_tload2.py
Due: tox

lost coverage in pr detected
  tests/cancun/eip1153_tstore/__init__.py
  tests/cancun/eip1153_tstore/spec.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
Due: tox

new coverage in pr detected
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
Due: tox

new test in eof
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_eof_example2.py
Due: tox

converted files coverage
  converted-ethereum-tests.txt
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_eof_example2.py
Due: tox

new(tests): EOF - EIP-7069: callee fails tests
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

Apply suggestions from code review
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox

new(tests): EOF - EIP-7069: context variables
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/prague/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): EOF - EIP-7620: context variables
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox

new(tests): EOF - EIP-7069: call precompiles
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
  whitelist.txt
Due: tox

converted test files, files are missing in tests
  converted-ethereum-tests.txt
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
Due: tox

fix(docs): update whitelist; fix tox
  whitelist.txt
Due: none

fix(docs,ci): fix tox_verify workflow with new env var
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  tox.ini
Due: tox

fix(docs): fix command to install doc dev pre-reqs
  docs/dev/docs.md
Due: tox-docs

new(tests): EOF - EIP-7698: context variables
  tests/prague/eip7692_eof_v1/eip7698_eof_creation_tx/__init__.py
  tests/prague/eip7692_eof_v1/eip7698_eof_creation_tx/helpers.py
  tests/prague/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
Due: tox

docs: add security.md
  SECURITY.md
Due: tox-docs

rename test
  .github/workflows/coverage.yaml
  converted-ethereum-tests.txt
  tests/cancun/eip1153_tstore/test_basic_tload_renamed.py
  tests/cancun/eip1153_tstore/test_tload_calls_renamed.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
Due: tox

feat(docs): add info about ripemd160; update github actions
  docs/dev/test_actions_locally.md
  docs/getting_started/installation_troubleshooting.md
Due: tox-docs

fix the coverage script, remove retesteth, simplify
  .github/workflows/coverage.yaml
Due: none

chore(docs): fix up tox; update whitelist
  docs/dev/test_actions_locally.md
  whitelist.txt
Due: tox-docs

feat(docs): point to the bounty program from readme & html landing page
  README.md
  docs/index.md
Due: tox-docs

fix(fw): EOF - Fix EXCHANGE's data_portion_length
  src/ethereum_test_vm/opcode.py
Due: tox

feat(all): Use `ethereum-types`
  pyproject.toml
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_types/types.py
  uv.lock
Due: tox

refactor(fw): Replace `ethereum.crypto.hash` usages
  src/ethereum_test_base_types/base_types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/tests/test_transactions.py
  src/ethereum_test_types/types.py
  src/ethereum_test_vm/bytecode.py
Due: tox

refactor(tests): Replace `ethereum.crypto.hash` usages
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip5656_mcopy/test_mcopy.py
  tests/constantinople/eip1014_create2/test_create_returndata.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(docs): use uvx --with=tox-uv in tox commands
  docs/writing_tests/verifying_changes.md
Due: tox-docs

fix(uv): Update lock
  uv.lock
Due: none

chore(ci): bump uv version
  .github/actions/setup-uv/action.yaml
Due: none

new(tests): EOF validation tests of stack height with double RJUMPI
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
Due: tox

chore(tox): configure tox to respect uv.lock
  tox.ini
Due: none

fix(github): Disable 3.10 tox
  .github/workflows/tox_verify.yaml
Due: none

fix(github): Bump to `ubuntu-latest`
  .github/workflows/tox_verify.yaml
Due: none
