Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

evm_transition_tool: support debug folder
  src/evm_transition_tool/evmone.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/tests/test_evaluate.py
  src/evm_transition_tool/transition_tool.py
Due: tox

spec: add support for transition tool debug folder
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
Due: tox

filler: add transition tool debug folder argument
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

tox: fix method name
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

types: fix header field collection on `None`
  src/ethereum_test_tools/common/types.py
Due: tox

fix: flag name
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix: rename variables
  src/ethereum_test_tools/spec/base_test.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

types: remove default values from optional header fields
  src/ethereum_test_tools/common/types.py
Due: tox

tests/cancun/eip4844_blobs: fix tx max_fee_per_gas
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
Due: tox

tests/cancun/eip4844_blobs: fix tx max_fee_per_gas (#221)
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
Due: tox

Fix: typo
  docs/tutorials/blockchain.md
Due: tox-docs

Fix: typo
  docs/tutorials/state_transition.md
Due: tox-docs

Fix: typo
  docs/tutorials/state_transition_bad_opcode.md
Due: tox-docs

Fix: typo
  docs/getting_started/quick_start.md
Due: tox-docs

Fix: typ
  docs/getting_started/repository_overview.md
Due: tox-docs

feature: add support for besu (#206)
  .wordlist.txt
  .wordlist_python_pytest.txt
  src/evm_transition_tool/__init__.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
  tests/frontier/opcodes/test_dup.py
  tests/homestead/yul/test_yul_example.py
  tests/istanbul/eip1344_chainid/test_chainid.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
Due: tox

chore: fix `fill --test-help` formatting for store true/false arguments (#211)
  docs/getting_started/executing_tests_command_line.md
  src/pytest_plugins/test_filler/test_filler.py
  src/pytest_plugins/test_help/test_help.py
Due: tox, tox-docs

chore: add launch configs to select evm-bin and testpath (#212)
  .vscode/launch.recommended.json
Due: none

fix: typos (#224)
  docs/getting_started/quick_start.md
  docs/getting_started/repository_overview.md
  docs/tutorials/blockchain.md
  docs/tutorials/state_transition.md
  docs/tutorials/state_transition_bad_opcode.md
Due: tox-docs

tools: fix typos in transaction exception messages
  src/ethereum_test_tools/common/types.py
Due: tox

tools: add tests for transaction __post_init__
  .wordlist_python_pytest.txt
  src/ethereum_test_tools/tests/test_types.py
Due: tox

feature: Add flag to dump debug t8n information (#219)
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/evm_transition_tool/evmone.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/tests/test_evaluate.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

forks: add fork property, auto-properties for transition forks
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
Due: tox

tools: use correct fork name in transition forks in besu
  src/evm_transition_tool/besu.py
Due: tox

evm_transition_tool: use `fork` instead of `name` property
  src/evm_transition_tool/evmone.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/tests/test_evaluate.py
  src/evm_transition_tool/transition_tool.py
Due: tox

spec: fix t8n calls
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
Due: tox

tools: fix besu's is_supported due to transition forks fix
  src/evm_transition_tool/besu.py
Due: tox

forks: Fix default values on getters
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
Due: tox

evm_transition_tool: accept `fork_name`
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/evmone.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/tests/test_evaluate.py
  src/evm_transition_tool/transition_tool.py
Due: tox

feature: Pass Correct Fork Name to T8N on Transition Forks (#222)
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/evmone.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/tests/test_evaluate.py
  src/evm_transition_tool/transition_tool.py
Due: tox

evm_transition_tool: fix besu debug dump
  src/evm_transition_tool/besu.py
Due: tox

tests/6780: use yul to conditionally destroy the contract
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

refactor: port 6780 tests to pytest format and lint/typecheck
  tests/cancun/eip6780_selfdestruct/__init__.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

try thing
  fillers/eips/eip6780.py
Due: tox

tests/6780: eip enabled/disabled versions
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

wip
  fillers/eips/eip6780.py
Due: tox

tests/6780: Add sendall-to-self to more tests
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

tests/6780: add delegate call tests
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

tests/6780: better usage of storage
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

tests/6780: All tests accept sendall address list
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
