Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

new(tests): EOF validation of opcodes
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): EOF - EIP-3540: validation of opcodes (#932)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

new(tests): EIP-7702: Set code of non-empty-storage account (#948)
  docs/CHANGELOG.md
  src/pytest_plugins/filler/pre_alloc.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs

chore(docs): fix broken images links in readme
  README.md
Due: tox-docs

chore(docs): fix broken images links in readme (#949)
  README.md
Due: tox-docs

🚧 wip: Make test
  pyproject.toml
  src/cli/make/__init__.py
  src/cli/make/cli.py
  src/cli/make/templates/blockchain_test.py.j2
  src/cli/make/templates/state_test.py.j2
Due: tox

update pydantic
  pyproject.toml
  uv.lock
Due: none

✨ feat: Make test cli
  pyproject.toml
  src/cli/make/cli.py
  src/cli/make/commands/__init__.py
  src/cli/make/commands/quotes.py
  src/cli/make/commands/test.py
  src/cli/make/templates/blockchain_test.py.j2
  src/cli/make/templates/state_test.py.j2
Due: tox

🥢 nit: Docstring
  src/cli/make/cli.py
  src/cli/make/commands/test.py
Due: tox

🥢 nit: Quotes
  src/cli/make/commands/quotes.py
Due: tox

docs: add link to prague-devnet-5 specs
  tests/prague/__init__.py
Due: tox

docs: add link to eof-devnet-0; add EIP links
  tests/osaka/eip7692_eof_v1/__init__.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/__init__.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/__init__.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/__init__.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/__init__.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/__init__.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/__init__.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/__init__.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/__init__.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/__init__.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/__init__.py
Due: tox

feat(docs): add prague-devnet-5 link; add EOF EIP links/info (#957)
  tests/osaka/eip7692_eof_v1/__init__.py
  tests/osaka/eip7692_eof_v1/eip3540_eof_v1/__init__.py
  tests/osaka/eip7692_eof_v1/eip4200_relative_jumps/__init__.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/__init__.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/__init__.py
  tests/osaka/eip7692_eof_v1/eip6206_jumpf/__init__.py
  tests/osaka/eip7692_eof_v1/eip663_dupn_swapn_exchange/__init__.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/__init__.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/__init__.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/__init__.py
  tests/osaka/eip7692_eof_v1/eip7698_eof_creation_tx/__init__.py
  tests/prague/__init__.py
Due: tox

chore(all): bump pydantic from 2.8.2 to 2.9.2
  pyproject.toml
  uv.lock
Due: none

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

fix(fw): allow Bytecode(Opcode)
  src/ethereum_test_vm/bytecode.py
Due: tox

new(ci): include eofwrap in EOF prerelease
  .github/actions/build-fixtures/action.yaml
  .github/configs/feature.yaml
Due: none

fix(fw): allow `Bytecode(Opcode)` (#961)
  src/ethereum_test_vm/bytecode.py
Due: tox

fix(ci): TEMP: disable eip7692-osaka build with besu
  .github/configs/evm.yaml
  .github/configs/feature.yaml
Due: none

fix(ci): Specify EVMONE build targets
  .github/actions/build-evm-base/action.yaml
  .github/configs/evm.yaml
Due: none

fix initcode
  tests/verkle/eip6800_genesis_verkle_tree/test_contract_creation.py
Due: tox

fix(ci): extract eofwrap step constants to env
  .github/actions/build-fixtures/action.yaml
Due: none

chore(all): bump pydantic from 2.8.2 to 2.9.2 (#960)
  docs/CHANGELOG.md
  pyproject.toml
  uv.lock
Due: tox-docs

fix: upgrade questionary to allow for ipython use
  pyproject.toml
  uv.lock
Due: none

fix: upgrade questionary to enable interactive ipython use (#966)
  pyproject.toml
  uv.lock
Due: none

chore: bump ethereum-spec-evm-resolver to c687562
  uv.lock
Due: none

add missing REVERT params
  tests/verkle/eip6800_genesis_verkle_tree/test_contract_creation.py
Due: tox

prototype VMTRACE interactive view script
  .gitignore
  traces/data.jsonl
  traces/index.html
Due: none

✨ feat(CLI): et make test
  pyproject.toml
  src/cli/et/__init__.py
  src/cli/et/cli.py
  src/cli/et/make/__init__.py
  src/cli/et/make/cli.py
  src/cli/et/make/commands/__init__.py
  src/cli/et/make/commands/test.py
  src/cli/et/make/templates/blockchain_test.py.j2
  src/cli/et/make/templates/state_test.py.j2
  src/cli/et/quotes.py
  src/config/docs.py
  whitelist.txt
Due: tox

🥢 nit: templates
  src/cli/et/make/templates/blockchain_test.py.j2
  src/cli/et/make/templates/state_test.py.j2
Due: none

🥢 nit: make: Update sender
  src/cli/et/make/commands/test.py
  src/cli/et/make/templates/blockchain_test.py.j2
  src/cli/et/make/templates/state_test.py.j2
  src/config/docs.py
Due: tox

✨ feat: et make test fill passing
  src/cli/et/make/templates/blockchain_test.py.j2
  src/cli/et/make/templates/state_test.py.j2
Due: none

chore: bump prague hash in eels_resolutions
  eels_resolutions.json
Due: none

🐞 fix: Ensure fill passes for all forks
  src/cli/et/make/commands/test.py
  src/cli/et/make/templates/blockchain_test.py.j2
  src/cli/et/make/templates/state_test.py.j2
Due: tox
