Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

chore(consume): update consume index file exceptions.
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/filler/filler.py
Due: tox

chore(tests): EIP-7069 - move tests from eip3540 dir
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

miss coverage with function hint report
  converted-ethereum-tests.txt
  tests/homestead/coverage/test_coverage.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
Due: tox

fix(tests): EIP-7069 - fix naming of extcall status codes
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

new(tests): EIP-7069 - add tests for EXT*CALL
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

Add EIP-5450 validation cases to EOF tracker
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox-docs

fix(plugins/filler): Skip adding eoa to pre on zero amount
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

feat(tests): use dynamic pre alloc within eip3651.
  tests/shanghai/eip3651_warm_coinbase/conftest.py
  tests/shanghai/eip3651_warm_coinbase/spec.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
Due: tox

feat(tests): use dynamic pre alloc within eip3860.
  tests/shanghai/eip3860_initcode/conftest.py
  tests/shanghai/eip3860_initcode/helpers.py
  tests/shanghai/eip3860_initcode/spec.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

feat(tests): use dynamic pre alloc within eip4895.
  tests/shanghai/eip4895_withdrawals/conftest.py
  tests/shanghai/eip4895_withdrawals/spec.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

feat(tests): expand push0 call contexts tests within eip3855.
  tests/shanghai/eip3855_push0/test_push0.py
Due: tox

feat(tests): use dynamic pre alloc within eip3855.
  tests/shanghai/eip3855_push0/conftest.py
  tests/shanghai/eip3855_push0/spec.py
  tests/shanghai/eip3855_push0/test_push0.py
Due: tox

fix(fw): fix verkle transition tests (naive).
  src/ethereum_test_base_types/conversions.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/types.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Due: tox

feat(fw|tests): add changes for verkle transition tests. (#507)
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/constants.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/file_utils.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
  tests/osaka/eip6800_verkle_tree/__init__.py
  tests/osaka/eip6800_verkle_tree/test_verkle_from_mpt_conversion.py
  tests/osaka/eip6800_verkle_tree/tracker.md
  whitelist.txt
Due: tox, tox-docs

chore: refactor verkle conversion field updates.
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/types.py
Due: tox

chore: fix filler tests to include index file.
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox

feat(filler): generate index file during fill (#716)
  docs/CHANGELOG.md
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox, tox-docs

chore(tests): EIP-7069 - drop unnecessary params
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calldata.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_returndataload.py
Due: tox

chore(tests): EIP-7069 - drop the opcode-suffix pattern
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_returndataload.py
Due: tox

fix(docs): Add more cases to EOF tracker (#723)
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox-docs

new(tests): EOF - EIP-7069: Add tests (#722)
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calldata.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_returndataload.py
Due: tox

chore(consume|fw): tweaks and test updates.
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox

feat(fw): use .meta folder within fixtures.
  src/cli/gen_index.py
  src/cli/tests/test_pytest_fill_command.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/filler/filler.py
Due: tox

docs: changelog.
  docs/CHANGELOG.md
Due: tox-docs

fix(plugins/filler): Add quotes to fill parameters when it uses spaces
  src/pytest_plugins/filler/filler.py
Due: tox

feat(fw): use a metadata folder within fixtures (#721)
  docs/CHANGELOG.md
  src/cli/gen_index.py
  src/cli/tests/test_pytest_fill_command.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox, tox-docs

chore(consume): remove opt. hive command flags.
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

feat(consume): add reproducible hive/consume commands.
  src/pytest_plugins/consume/hive_simulators/conftest.py
  src/pytest_plugins/consume/hive_simulators/rlp/conftest.py
Due: tox

feat(consume): update latest flag option.
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

chore(consume): use list comp. for code derivation.
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

feat(consume): add latest input option, more formatting.
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

feat(consume): fix command formatting.
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

docs: update changelog.
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

chore(consume): fix index.json for urls.
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/filler/filler.py
Due: tox

fix(plugins/filler): Index generation concurrency issue
  src/cli/pytest_commands/fill.py
  src/pytest_plugins/filler/filler.py
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

chore(consume): align --sim.limit and -k.
  src/pytest_plugins/consume/hive_simulators/conftest.py
Due: tox

fix(plugins/filler): tests
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox

fix(plugins/filler): fix parameter group
  src/pytest_plugins/filler/filler.py
Due: tox

fix(plugins/filler): Index generation concurrency issue (#725)
  docs/CHANGELOG.md
  src/cli/pytest_commands/fill.py
  src/pytest_plugins/filler/filler.py
  src/pytest_plugins/filler/tests/test_filler.py
Due: tox, tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
