Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

fix(ci): use solc version within config for fixture build
  .github/actions/build-fixtures/action.yaml
Due: none

fix(ci): add solc-select to fill stage of build fixtures (#618)
  .github/actions/build-fixtures/action.yaml
Due: none

new(tests): add tests for EOF container prefix
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox, tox-docs

Update src/cli/gen_index.py
  src/cli/gen_index.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(consume): enable loading of `ethereum/tests/BlockchainTests` (#596)
  docs/CHANGELOG.md
  src/cli/gen_index.py
  src/cli/hasher.py
  src/ethereum_test_tools/spec/blockchain/types.py
  whitelist.txt
Due: tox, tox-docs

Update src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/common/types.py
Due: tox

fix: tox
  src/ethereum_test_tools/tests/test_types.py
Due: tox

fix(plugins): filler parameters names
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix(fw): Change sender to a cached function, add tests
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox

fix(fw): Use `Alloc` subclassing
  src/ethereum_test_tools/common/types.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

refactor(tests): rename `Sender` -> `EOA`
  tests/berlin/eip2930_access_list/test_acl.py
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  tests/constantinople/create2/test_recreate.py
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  tests/frontier/opcodes/test_dup.py
  tests/frontier/opcodes/test_selfdestruct.py
  tests/homestead/yul/test_yul_example.py
  tests/istanbul/eip1344_chainid/test_chainid.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip7002_el_triggerable_withdrawals/helpers.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_calls.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_code_validation.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_execution_function.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_returndataload.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_legacy_eof_creates.py
Due: tox

fix(docs): rename `Sender` -> `EOA`
  docs/tutorials/state_transition.md
Due: tox-docs

refactor(fw): rename `Sender` -> `EOA`
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/eof/eof_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filling/test_fixtures.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox

fix(ci): use legacy tests to measure coverage as well (#619)
  .github/workflows/coverage.yaml
Due: none

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs

new(tests): EOF - EIP-3540 - add tests for EOF container prefix (#605)
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox, tox-docs

fix(tests): type
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp2_to_g2.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp_to_g1.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_precompiles_before_fork.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
Due: tox

test eof container custom_size field
  src/ethereum_test_tools/eof/v1/__init__.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
Due: tox

feat(tests): use dynamic pre alloc within eip3651.
  tests/shanghai/eip3651_warm_coinbase/conftest.py
  tests/shanghai/eip3651_warm_coinbase/spec.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
Due: tox

feat(tests): use dynamic pre alloc within eip3860.
  tests/shanghai/eip3860_initcode/conftest.py
  tests/shanghai/eip3860_initcode/helpers.py
  tests/shanghai/eip3860_initcode/spec.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

rebase on macro opcode, fix comments
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/cancun/eip1153_tstore/test_yul_coverage.py
  whitelist.txt
Due: tox

feat(vm): add test for ocpode and macro integration
  src/ethereum_test_tools/tests/test_vm.py
Due: tox

convert a few eip1153 json tests
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
Due: tox

feat(fw): add a base class to use for both opcodes and macros
  src/ethereum_test_tools/tests/test_vm.py
Due: tox

split basic tload tests
  tests/cancun/eip1153_tstore/test_basic_tload.py
Due: tox

add changelog add converted-ethereum-tests.txt tests tested with geth evm 1.13.11-unstable
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  src/ethereum_test_tools/tests/test_vm.py
  whitelist.txt
Due: tox, tox-docs

address comments
  converted-ethereum-tests.txt
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/cancun/eip1153_tstore/test_yul_coverage.py
Due: tox

feat(tests): use dynamic pre alloc within eip3855.
  tests/shanghai/eip3855_push0/conftest.py
  tests/shanghai/eip3855_push0/spec.py
  tests/shanghai/eip3855_push0/test_push0.py
Due: tox

fix solc dependency in coverage script
  .github/workflows/coverage.yaml
Due: none

feat(tests): expand push0 call contexts tests within eip3855.
  tests/shanghai/eip3855_push0/test_push0.py
Due: tox

feat(tests): WIP~ use dynamic pre alloc within eip4895.
  tests/shanghai/eip4895_withdrawals/conftest.py
  tests/shanghai/eip4895_withdrawals/spec.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

refactor(fw): use pydantic PrivateAttr for model class params
  src/ethereum_test_tools/common/types.py
Due: tox

new(tests): migrate EIP3540/validInvalidFiller.yml
  converted-ethereum-tests.txt
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_migrated_valid_invalid.py
Due: tox

native coverage
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/coverage.yaml
Due: tox-docs

docs: Add installation troubleshooting
  README.md
  docs/getting_started/installation_troubleshooting.md
  docs/navigation.md
Due: tox-docs

Update docs/getting_started/installation_troubleshooting.md
  docs/getting_started/installation_troubleshooting.md
Due: tox-docs

docs: add quick_start.md link
  docs/getting_started/quick_start.md
Due: tox-docs
