Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

chore(consume): fix `--input` when running from hive.
  docs/CHANGELOG.md
  src/cli/pytest_commands.py
Due: tox, tox-docs

feat(fw): EIP-7251: Add consolidation requests
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
  src/evm_transition_tool/types.py
Due: tox

fix(fw): Allow negative numbers in `FixedSizeBytes`
  src/ethereum_test_base_types/conversions.py
Due: tox

feat(forks): Add consolidations contract
  src/ethereum_test_forks/forks/contracts/consolidation_request.bin
  src/ethereum_test_forks/forks/forks.py
Due: tox

new(tests): EIP-7251 condolidation tests
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip7002_el_triggerable_withdrawals/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7251_consolidations/__init__.py
  tests/prague/eip7251_consolidations/conftest.py
  tests/prague/eip7251_consolidations/helpers.py
  tests/prague/eip7251_consolidations/spec.py
  tests/prague/eip7251_consolidations/test_consolidations.py
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
  whitelist.txt
Due: tox

chore(consume): fix genindex for engine tests.
  src/cli/gen_index.py
Due: tox

chore: fix tox.
  whitelist.txt
Due: none

new(tests): EIP-7251: Increase the MAX_EFFECTIVE_BALANCE (EL Consolidations) (#642)
  src/ethereum_test_base_types/conversions.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_forks/forks/contracts/consolidation_request.bin
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
  src/evm_transition_tool/types.py
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip7002_el_triggerable_withdrawals/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7251_consolidations/__init__.py
  tests/prague/eip7251_consolidations/conftest.py
  tests/prague/eip7251_consolidations/helpers.py
  tests/prague/eip7251_consolidations/spec.py
  tests/prague/eip7251_consolidations/test_consolidations.py
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
  whitelist.txt
Due: tox

chore(consume): fix genindex for engine tests. (#702)
  src/cli/gen_index.py
Due: tox

chore(consume): fix `--input` when running from hive (#701)
  docs/CHANGELOG.md
  src/cli/pytest_commands.py
  whitelist.txt
Due: tox, tox-docs

fix(specs,transition_tool): Trace dump fixes (#700)
  src/ethereum_test_specs/eof.py
  src/evm_transition_tool/transition_tool.py
Due: tox

new(tests): Add EIP-7702 folder, first test
  tests/prague/eip7702_eoa_code_tx/__init__.py
  tests/prague/eip7702_eoa_code_tx/spec.py
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

fix(fw): minor refactor
  src/ethereum_test_types/types.py
Due: tox

typo
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

new(tests): EIP-7702
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

feat(fw): Add type-4 transaction and authorization tuple type
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
Due: tox

new(tests): more 7702 tests
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

tests: create contract
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

nit
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

more tests
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

fix(tests): fix some of the tests
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

fix(tests): test fixes and skips
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

fix(test): skip
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

fix(fw): State test type-4 fix
  src/ethereum_test_fixtures/state.py
Due: tox

fix(specs): output the authorization list to the fixture
  src/ethereum_test_fixtures/blockchain.py
Due: tox

new(tests): parametrize sanity test with and without balance
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

fix(fw): nonce field in the auth tuple
  src/ethereum_test_types/types.py
Due: tox

fix(tests): fixes
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

coverage on every pr
  .github/workflows/coverage.yaml
Due: none

build the changed files array once
  .github/workflows/coverage.yaml
Due: none

do not try to detect tests in files do not skip the coverage script for safety
  .github/workflows/coverage.yaml
Due: none

fix(fw): Transaction type checks
  src/ethereum_test_types/types.py
Due: tox

fix(fixtures): Fixture transaciton type-4 test
  src/ethereum_test_fixtures/tests/test_blockchain.py
Due: tox

fix(base_types): Storage methods
  src/ethereum_test_base_types/composite_types.py
Due: tox

fix(tests): storage method usage
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

new(tests): EIP-7702 - Set EOA account code for one transaction (Devnet-1) (#621)
  docs/CHANGELOG.md
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
  tests/prague/eip7702_eoa_code_tx/__init__.py
  tests/prague/eip7702_eoa_code_tx/spec.py
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox, tox-docs

new test, script is green
  tests/cancun/eip1153_tstore/test_basic_tload2.py
Due: tox

no new tests, only unrelated changes, script is red
  tests/cancun/eip1153_tstore/__init__.py
  tests/cancun/eip1153_tstore/test_basic_tload2.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
