Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

fixup(forks): Remove EIP-7762 change
  src/ethereum_test_forks/forks/forks.py
Due: tox

new(tests): EIP-4844: Add blob count combinations to some tests
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

fix(specs): Replace EIP-4844 constants with `Fork` method calls
  src/ethereum_test_specs/state.py
Due: tox

feat(forks): New methods for EIP-7691+EIP-7762
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/helpers.py
Due: tox

fix(tests): EIP-4844, EIP-7691: Refactor EIP-4844 tests to use dynamic blob parameters
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/spec.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(fixtures,forks): Disable EIP-7742 on Prague
  docs/CHANGELOG.md
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox, tox-docs

fix(tests): EIP-4844: Rollback EIP-7742 changes
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

refactor(tests): parametrize_by_fork rename
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
Due: tox

fix(forks): tox
  src/ethereum_test_forks/forks/helpers.py
Due: tox

fix(tests): tox
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
Due: tox

fix(docs): Spelling
  docs/CHANGELOG.md
Due: tox-docs

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(forks,specs,tests): EIP-7691, EIP-4844: Refactor to use dynamic parameters (#1023)
  docs/CHANGELOG.md
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/helpers.py
  src/ethereum_test_specs/state.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/spec.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs

convert calldatacopy from yml
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  pyproject.toml
  tests/frontier/opcodes/test_calldatacopy.py
Due: tox, tox-docs

refactor(clis,tools,types): Move TransactionReceipt to types
  src/ethereum_clis/tests/test_execution_specs.py
  src/ethereum_clis/types.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/helpers.py
  src/ethereum_test_types/types.py
Due: tox

feat(specs): Check transaction receipts against expectation
  docs/CHANGELOG.md
  docs/writing_tests/writing_a_new_test.md
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/helpers.py
  src/ethereum_test_specs/state.py
Due: tox, tox-docs

refactor(tests): EIP-7623: Add gas-used check to tests
  tests/prague/eip7623_increase_calldata_cost/conftest.py
  tests/prague/eip7623_increase_calldata_cost/test_execution_gas.py
Due: tox

refactor(tests): EIP-3860: Add gas-used check to tests
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

refactor(tests): EIP-7702: Add gas-used check to tests
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

refactor(tests): EIP-4844: Add gas used check to precompile tests
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
Due: tox

refactor(tests): EIP-5656: Add gas-used check to tests
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
Due: tox

feat(forks): Add authorization refund to gas costs list
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/gas_costs.py
Due: tox

fix execution gas tests
  tests/prague/eip7623_increase_calldata_cost/test_execution_gas.py
Due: tox

fixes
  tests/prague/eip7623_increase_calldata_cost/test_refunds.py
Due: tox

fix authorization list
  tests/prague/eip7623_increase_calldata_cost/test_refunds.py
Due: tox

attempt 1
  tests/prague/eip7623_increase_calldata_cost/conftest.py
  tests/prague/eip7623_increase_calldata_cost/test_execution_gas.py
  tests/prague/eip7623_increase_calldata_cost/test_refunds.py
Due: tox

Changelog
  docs/CHANGELOG.md
Due: tox-docs

fix(tests): fixes to get tests running in external testnets (#1072)
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/helpers.py
  tests/prague/eip7251_consolidations/helpers.py
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

new(tests): add EOF CALLF stack overflow validation tests
  src/ethereum_clis/clis/evmone.py
  src/ethereum_test_exceptions/exceptions.py
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Due: tox

Export int as hex for t8n env
  src/ethereum_test_types/types.py
Due: tox

fix(clis): Fix t8n instance
  src/ethereum_clis/tests/test_execution_specs.py
Due: tox

unit tests
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
Due: tox

fix ruff
  src/ethereum_clis/tests/test_execution_specs.py
Due: tox

chore(consume): add blob schedule rules to hive ruleset
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Due: tox

chore(consume): add blob schedule rules to hive ruleset (#1076)
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Due: tox

adding gas to tx gets everything passing
  pyproject.toml
  tests/frontier/opcodes/test_calldatacopy.py
Due: tox

✨ feat(tests): PUSH* (#975)
  converted-ethereum-tests.txt
  tests/frontier/opcodes/test_push.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

Create test cases from EIP-152 for precompiled contracts with Blake2
  tests/istanbul/eip152_blake2/__init__.py
  tests/istanbul/eip152_blake2/test_blake2.py
Due: tox
