Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

new(tests): EOFCREATE frame reverts with EOF container (#635)
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox

fix(plugins): Root folder name on generated .tar.gz (#638)
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

check covered tests existance
  .github/workflows/coverage.yaml
Due: none

fix(plugins/forks): remove `pytest.skip` from pytest_generate_tests
  src/pytest_plugins/forks/forks.py
Due: tox

fix(fw): Fix EOF exceptions
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  whitelist.txt
Due: tox

fix(fw): Fix `RETURNCONTRACT`
  src/ethereum_test_tools/vm/opcode.py
Due: tox

new(tests): EOF - EIP-7620: EOFCREATE, RETURNCONTRACT validation
  docs/CHANGELOG.md
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox, tox-docs

coverage script check file existance in tests
  .github/workflows/coverage.yaml
Due: none

fix(plugins/forks): remove `pytest.skip` from pytest_generate_tests (#641)
  src/pytest_plugins/forks/forks.py
Due: tox

coverage script check file existance in tests (#643)
  .github/workflows/coverage.yaml
Due: none

fix(github): Temporarily disable `tox -e tests-develop`
  .github/workflows/tox_verify.yaml
Due: none

fixup
  .github/workflows/tox_verify.yaml
Due: none

fix(configs): update geth evm
  configs/evm.yaml
Due: none

fix(github,configs): Temporarily disable `tox -e tests-develop`, update geth evm (#644)
  .github/workflows/tox_verify.yaml
  configs/evm.yaml
Due: none

feat(vm): Opcodes keyword arguments
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
Due: tox

fix(fw): Keep kwargs after __getitem__
  src/ethereum_test_tools/vm/opcode.py
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

chore(fw): create contracts folder for bin files.
  src/ethereum_test_forks/forks/contracts/deposit_contract.bin
  src/ethereum_test_forks/forks/contracts/history_contract.bin
  src/ethereum_test_forks/forks/contracts/withdrawal_request.bin
  src/ethereum_test_forks/forks/forks.py
Due: tox

feat(fw): remove history storage contract.
  src/ethereum_test_forks/forks/contracts/history_contract.bin
  src/ethereum_test_forks/forks/forks.py
Due: tox

feat(tests): update eip2935 transtion tests to new spec.
  tests/prague/eip2935_historical_block_hashes_from_state/spec.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
  whitelist.txt
Due: tox

typo
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

fix(forks): History contract
  setup.cfg
  src/ethereum_test_forks/forks/contracts/history_contract.bin
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix(tests): nits
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

fix(tests): HISTORY_STORAGE_ADDRESS spec update
  tests/prague/eip2935_historical_block_hashes_from_state/spec.py
Due: tox

fix(tests): refactor transition tests, helper function, add post fork test
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

fix(tests): logic fixes
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

fix(tests): EIP-7002: Rename validator_public_key -> validator_pubkey
  tests/prague/eip7002_el_triggerable_withdrawals/helpers.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals.py
Due: tox

fix(fw): Rename validator_public_key -> validator_pubkey
  src/ethereum_test_tools/common/types.py
Due: tox

fix
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

fix(fw,tests): Withdrawal request v1 update execution-apis #549 (#600)
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  tests/prague/eip7002_el_triggerable_withdrawals/helpers.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals.py
Due: tox, tox-docs

fix: ref spec sha
  tests/prague/eip2935_historical_block_hashes_from_state/spec.py
Due: tox

feat(fw): Add `storage.canary()`
  src/ethereum_test_tools/common/types.py
Due: tox

new(tests): add invalid block number requests
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

new(tests): EIP-2935 - Update tests to recent spec change (#585)
  docs/CHANGELOG.md
  setup.cfg
  src/ethereum_test_forks/forks/contracts/deposit_contract.bin
  src/ethereum_test_forks/forks/contracts/history_contract.bin
  src/ethereum_test_forks/forks/contracts/withdrawal_request.bin
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/history_contract.bin
  src/ethereum_test_tools/common/types.py
  tests/prague/eip2935_historical_block_hashes_from_state/spec.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
  whitelist.txt
Due: tox, tox-docs

new(tests): Add different requests in same tx
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
Due: tox

feat(forks): Add consolidations contract
  src/ethereum_test_forks/forks/consolidation_request.bin
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix(tests): EIP-7251
  tests/prague/eip7251_consolidations/conftest.py
  tests/prague/eip7251_consolidations/helpers.py
Due: tox

new(tests): Add deposit+withdrawal+consolidation tests
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals_consolidations.py
  whitelist.txt
Due: tox
