Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

docs: Update changelog for v2.0.1 release.
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

docs: Update changelog for v2.0.1 release (#409)
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

feat(forks,pytest): more robust solc --evm-version parameter handling
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_tools/code/__init__.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

All changes
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/base_types.py
  src/ethereum_test_tools/common/constants.py
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/types.py
  src/ethereum_test_tools/tests/test_helpers.py
  src/ethereum_test_tools/tests/test_types.py
  src/ethereum_test_tools/tests/test_types_blockchain_test.py
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
  tests/cancun/eip1153_tstore/test_tstorage_create_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_selfdestruct.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4788_beacon_root/spec.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  tests/frontier/opcodes/test_dup.py
  tests/paris/security/test_selfdestruct_balance_bug.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

feat(forks): solc 0.8.24 (dev version) supports cancun
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_tools/tests/test_code.py
Due: tox

fix(forks): remove solc_name for unsupported fork
  src/ethereum_test_forks/forks/forks.py
Due: tox

test(forks): add unit tests for new fork helpers
  src/ethereum_test_forks/tests/test_forks.py
Due: tox

chore: fix deprecated vs code settings #344
  .vscode/extensions.json
  .vscode/settings.recommended.json
Due: none

Update test_selfdestruct_revert.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
Due: tox

Revert "test(forks): add unit tests for new fork helpers"
  src/ethereum_test_forks/tests/test_forks.py
Due: tox

Revert "fix(forks): remove solc_name for unsupported fork"
  src/ethereum_test_forks/forks/forks.py
Due: tox

Revert "feat(forks): solc 0.8.24 (dev version) supports cancun"
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_tools/tests/test_code.py
Due: tox

Changes to Fork library (#28)
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_tools/code/__init__.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(pytest): exit with error early upon incompatible solc version
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

test fix
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
Due: tox

docs: Add changelog entry for selfdestruct revert typo.
  docs/CHANGELOG.md
Due: tox-docs

chore(tests): fix typo in selfdestruct revert test module (#421)
  docs/CHANGELOG.md
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
Due: tox, tox-docs

docs: Fix changelog entry.
  docs/CHANGELOG.md
Due: tox-docs

chore: fix deprecated vs code settings #344 (#420)
  .vscode/extensions.json
  .vscode/settings.recommended.json
  docs/CHANGELOG.md
Due: tox-docs

tests(fix): beacon root contract type
  tests/cancun/eip4788_beacon_root/spec.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
Due: tox

completely remove `to_address`, `to_hash`
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/tests/test_filling/test_expect.py
  src/ethereum_test_tools/tests/test_helpers.py
  src/ethereum_test_tools/tests/test_vm.py
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  tests/frontier/opcodes/test_dup.py
  tests/istanbul/eip1344_chainid/test_chainid.py
  tests/paris/security/test_selfdestruct_balance_bug.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
  tests/shanghai/eip3855_push0/test_push0.py
  tests/shanghai/eip3860_initcode/test_initcode.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

completely remove `to_hash_bytes` too
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/tests/test_code.py
  tests/cancun/eip1153_tstore/test_tstorage_reentrancy_contexts.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/cancun/eip5656_mcopy/test_mcopy.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

forks(fix): make parameters optional on abstract fork class methods (#29)
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/transition_base_fork.py
Due: tox

bug(pytest, forks): fix `yul_test` marker and improve `solc --evm-version` param handling (#418)
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox, tox-docs

feat(forks,tests): add prague fork and tests folder
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  tests/prague/__init__.py
Due: tox

docs: add link to dencun meta eip
  tests/cancun/__init__.py
  whitelist.txt
Due: tox

feat(pytest,tests): tests added by fork introduced.
  docs/writing_tests/adding_a_new_test.md
  src/pytest_plugins/forks/forks.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/frontier/yul/__init__.py
  tests/frontier/yul/test_yul_example.py
  tests/homestead/opcodes/__init__.py
  tests/homestead/opcodes/test_selfdestruct_contract_balance.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
Due: tox, tox-docs

changelog
  docs/CHANGELOG.md
Due: tox-docs

tox
  docs/CHANGELOG.md
Due: tox-docs

feat(forks,tests): add prague fork and test folder (#419)
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  tests/cancun/__init__.py
  tests/prague/__init__.py
  whitelist.txt
Due: tox, tox-docs

Add docstrings to all opcodes in the Opcodes Enum
  src/ethereum_test_tools/vm/opcode.py
Due: tox

feat(pytest): add the consume engine command (#27)
  src/ethereum_test_tools/common/json.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/rpc/__init__.py
  src/ethereum_test_tools/rpc/base_rpc.py
  src/ethereum_test_tools/rpc/engine_rpc.py
  src/ethereum_test_tools/rpc/eth_rpc.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume_via_engine_api/__init__.py
  src/pytest_plugins/consume_via_engine_api/client_fork_ruleset.py
  src/pytest_plugins/consume_via_engine_api/consume_via_engine_api.py
  stubs/jwt/__init__.pyi
  stubs/jwt/encode.pyi
  tests_consume/test_via_engine_api.py
  whitelist.txt
Due: tox

fix(fw): fix account empty code check
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/state/state_test.py
Due: tox

bug(fw): fix account empty code check (#425)
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/state/state_test.py
Due: tox, tox-docs

forks(feat): add verkle environment requirements per fork
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
