Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

fix(tests): EIP-7692: skip another test, add function signature for new test
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Due: tox

fix(tests): EIP-7620,EIP-3540: Failing EOF tests (#594)
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Due: tox

feat(fw): make NON_RETURNING_SECTION default in Container
  src/ethereum_test_tools/eof/v1/__init__.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Due: tox

fix(fw): fix EOF tests
  src/ethereum_test_tools/tests/test_eof_v1.py
Due: tox

fix(tests): EOF: Remove code defaults from most containers
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_execution_function.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Due: tox

chore(tests): EOF - Add more test cases to tracker (#597)
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox-docs

refactor(fw,tests): EOF - make NON_RETURNING_SECTION default in Container (#599)
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/tests/test_eof_v1.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_eof_example.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_execution_function.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Due: tox

new(tests): EOF - EIP-3540: execution semantics changes (#571)
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_calls.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
  whitelist.txt
Due: tox

fix(evm_transition_tool): Allow formatting to="" for some tool types
  src/evm_transition_tool/evmone.py
  src/evm_transition_tool/transition_tool.py
Due: tox

fix(fw,types): Make Transaction more permissible to always create a valid tx
  src/ethereum_test_tools/common/types.py
Due: tox

feat(forks): Add `contract_creating_tx_types` class method to forks
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

feat(plugins): create "with_all_contract_creating_tx_types" marker
  src/pytest_plugins/forks/forks.py
Due: tox

docs: Add test markers page
  docs/CHANGELOG.md
  docs/navigation.md
  docs/writing_tests/test_markers.md
Due: tox-docs

fix(fw): remove auto-fill blob_versioned_hashes
  src/ethereum_test_tools/common/types.py
Due: tox

chengelog
  docs/CHANGELOG.md
Due: tox-docs

Reviewer comments
  tests/prague/eip7692_eof_v1/eip7069_extcall/spec.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  whitelist.txt
Due: tox

extreneous changes
  src/ethereum_test_tools/vm/opcode.py
  whitelist.txt
Due: tox

new(tests): EOF - EIP-7069: Address Space Extension implications (#522)
  tests/prague/eip7692_eof_v1/eip7069_extcall/__init__.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/spec.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  whitelist.txt
Due: tox

fix(tests): EOF - EIP-3540: Remove duplicated validation tests (#593)
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
Due: tox

fix(tests): Pytest warning on EIP-2537 tests (#590)
  tests/prague/eip2537_bls_12_381_precompiles/helpers.py
Due: tox

feat(ci): use solc-select for tox.
  .github/workflows/tox_verify.yaml
  setup.cfg
  tox.ini
Due: none

chore(docs): update changelog for solc-select with tox.
  docs/CHANGELOG.md
Due: tox-docs

new(tests): migrate EIP3540/validInvalidFiller.yml
  converted-ethereum-tests.txt
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_migrated_valid_invalid.py
Due: tox

eof section order tests
  docs/CHANGELOG.md
  src/ethereum_test_tools/eof/v1/__init__.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_order.py
Due: tox, tox-docs

fix typo in selfdestruct test
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
Due: tox

Update src/evm_transition_tool/evmone.py
  src/evm_transition_tool/evmone.py
Due: tox

Update src/evm_transition_tool/transition_tool.py
  src/evm_transition_tool/transition_tool.py
Due: tox

docs: lint
  docs/writing_tests/test_markers.md
Due: tox-docs

feat(fw): Add `with_all_contract_creating_tx_types` marker (#602)
  docs/CHANGELOG.md
  docs/navigation.md
  docs/writing_tests/test_markers.md
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_tools/common/types.py
  src/evm_transition_tool/evmone.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/forks/forks.py
Due: tox, tox-docs

feat(ci): use solc-select for tox (#604)
  .github/workflows/tox_verify.yaml
  docs/CHANGELOG.md
  setup.cfg
  tox.ini
Due: tox-docs

review changes
  tests/prague/eip7692_eof_v1/eip7069_extcall/spec.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_returndataload.py
Due: tox

unneeded changes.
  src/ethereum_test_tools/vm/opcode.py
  whitelist.txt
Due: tox

docs: add changelog.
  docs/CHANGELOG.md
Due: tox-docs

bug(tests): fix typos in self-destruct collision test (#608)
  docs/CHANGELOG.md
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
Due: tox, tox-docs

feat(tests,tw): Top-level EOF container must not be truncated
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  whitelist.txt
Due: tox

coverage fix eof
  .github/workflows/coverage.yaml
  converted-ethereum-tests.txt
Due: none

support coverage script for EOF tests
  .github/workflows/coverage.yaml
Due: none

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

Update tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
Due: tox
