Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

chore: fix tyoo in comment
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
Due: tox

chore: fix typo in comment (#495)
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
Due: tox

fix(tests): apply block gas limit for mcopy mem expansion (#491)
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
Due: tox

eof classes idea
  src/ethereum_test_tools/eof/v1/eof_classes.py
Due: tox

convert create2 test
  tests/constantinople/create2/test_create_returndata.py
Due: tox

add changelog
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  tests/constantinople/create2/test_create_returndata.py
Due: tox, tox-docs

feat(fw): Parameter count check on opcode calls (#492)
  docs/CHANGELOG.md
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
  tests/cancun/eip1153_tstore/test_tstorage_execution_contexts.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox, tox-docs

fix(fw): Explicit zero in storage definitions count as empty
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox

fix(fw): review comment
  src/ethereum_test_tools/code/__init__.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/tests/test_code.py
Due: tox

all: mark cancun fork as deployed (#489)
  .github/workflows/fixtures.yaml
  .vscode/launch.recommended.json
  .vscode/settings.recommended.json
  docs/CHANGELOG.md
  docs/consuming_tests/index.md
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_tools/code/__init__.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/test_filler/test_filler.py
  tox.ini
Due: tox, tox-docs

test(fw): add empty account tests (#490)
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox

print eof
  src/ethereum_test_tools/eof/v1/eof_classes.py
Due: tox

address issues
  converted-ethereum-tests.txt
  tests/constantinople/create2/test_create_returndata.py
Due: tox

test(fw): add json serialization tests for new pydantic models
  src/ethereum_test_tools/tests/test_types.py
Due: tox

fix(fw): fix exception enum serialization in pydantic models
  src/ethereum_test_tools/exceptions/__init__.py
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/types.py
  src/ethereum_test_tools/tests/test_exceptions.py
Due: tox

chore: update whitelist
  whitelist.txt
Due: none

fix(fw): deserialize an empty Transaction 'to' field as None
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/types.py
Due: tox

fix(fw): fix fixture hash generation if info field already exists
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_valid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_invalid_filled_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_valid_filled_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_istanbul_blockchain_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_london_blockchain_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_paris_blockchain_test_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_paris_state_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_shanghai_blockchain_test_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_shanghai_state_test.json
  src/ethereum_test_tools/tests/test_spec_base.py
Due: tox

refactor(fw): prefix fixture class names with type
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/ethereum_test_tools/spec/state/types.py
  src/ethereum_test_tools/tests/test_filling/test_fixtures.py
Due: tox

feat(fw): add pydantic root models for json fixture files
  src/ethereum_test_tools/common/json.py
  src/ethereum_test_tools/spec/file/__init__.py
  src/ethereum_test_tools/spec/file/types.py
Due: tox

feat(fw): add a cli command to verify fixture serialization/deserialization
  setup.cfg
  src/cli/checkfixtures.py
Due: tox

test(fw): fix fixture tests when executed with solc<0.8.21
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_valid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_invalid_filled_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_valid_filled_hive.json
Due: none

test(fw): refactor tests - use valid json fixtuers in test_filling
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_valid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_invalid_filled_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_valid_filled_hive.json
  src/ethereum_test_tools/tests/test_filling/test_fixtures.py
Due: tox

refactor: use snek case for script module and function names
  setup.cfg
  src/cli/check_fixtures.py
Due: tox

chore: remove test code in script
  src/cli/check_fixtures.py
Due: tox

test(fw): use check_fixtures to verify test helper fixtures
  src/cli/check_fixtures.py
  src/ethereum_test_tools/tests/test_filling/test_fixtures.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

chore: make cli modules importable; fix mypy/tox
  src/cli/__init__.py
  src/cli/tests/test_evm_bytes_to_python.py
  src/cli/tests/test_order_fixtures.py
  src/cli/tests/test_pytest_commands.py
Due: tox

git workflow evmone coverage script
  .github/workflows/coverage.yaml
  evmone-hash.txt
Due: none

Update src/cli/check_fixtures.py
  src/cli/check_fixtures.py
Due: tox

fix(fw): rollback fixture class rename
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/file/types.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/ethereum_test_tools/spec/state/types.py
  src/ethereum_test_tools/tests/test_filling/test_fixtures.py
Due: tox

feat(fw): add pydantic models for json fixture files (#501)
  docs/CHANGELOG.md
  setup.cfg
  src/cli/__init__.py
  src/cli/check_fixtures.py
  src/cli/tests/test_evm_bytes_to_python.py
  src/cli/tests/test_order_fixtures.py
  src/cli/tests/test_pytest_commands.py
  src/ethereum_test_tools/common/json.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/exceptions/__init__.py
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/file/__init__.py
  src/ethereum_test_tools/spec/file/types.py
  src/ethereum_test_tools/spec/state/types.py
  src/ethereum_test_tools/tests/test_exceptions.py
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_london_valid_filled.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_invalid_filled_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/blockchain_shanghai_valid_filled_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_istanbul_blockchain_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_london_blockchain_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_paris_blockchain_test_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_paris_state_test.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_shanghai_blockchain_test_hive.json
  src/ethereum_test_tools/tests/test_filling/fixtures/chainid_shanghai_state_test.json
  src/ethereum_test_tools/tests/test_filling/test_fixtures.py
  src/ethereum_test_tools/tests/test_spec_base.py
  src/ethereum_test_tools/tests/test_types.py
  whitelist.txt
Due: tox, tox-docs

refactor(fw): augment & use Fixtures model in fixture collection
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/file/types.py
  src/ethereum_test_tools/spec/fixture_collector.py
Due: tox

add comments to eof_classes
  src/ethereum_test_tools/eof/v1/eof_classes.py
Due: tox

adapt unit tests to EOFtests json format
  src/ethereum_test_tools/tests/test_eof_v1.py
Due: tox

eof format tests from ori as unit tests
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/tests/test_eof_v1.py
Due: tox

refactor(fw): augment & use Fixtures model in fixture collection (#508)
  docs/CHANGELOG.md
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/file/types.py
  src/ethereum_test_tools/spec/fixture_collector.py
Due: tox, tox-docs

chore: soften trie package requirements for compatibility w/eth2spec
  setup.cfg
Due: none

chore: soften minor/patch & sharpen major dependency versions
  setup.cfg
Due: none

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
