Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

update.
  .github/workflows/release.yaml
Due: none

test
  .github/workflows/release.yaml
  .github/workflows/release/post_release.yaml
Due: none

test
  .github/workflows/release/post_release.yaml
Due: none

feat(ci): update post release workflow.
  .github/workflows/post_release.yaml
  .github/workflows/release.yaml
  docs/changelog_section_template.md
Due: tox-docs

feat(docs): changelog entry for EEST versioning and release CI.
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

changelog
  docs/CHANGELOG.md
  src/ethereum_test_tools/vm/opcode.py
Due: tox, tox-docs

typo
  docs/CHANGELOG.md
Due: tox-docs

all: Add ethereum/tests conversion tracker file (#437)
  .github/PULL_REQUEST_TEMPLATE.md
  converted-ethereum-tests.txt
Due: tox-docs

fix: vkt in the t8n response
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/evm_transition_tool/transition_tool.py
Due: tox

fix(tests): remove zero pre-alloc from tests
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
Due: tox

fix(fw,forks): Add `pre_allocation_blockchain` to add blockchain tests pre_allocation
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/state/state_test.py
Due: tox

fix(tests): Beacon root tests to blockchain test
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
Due: tox

fix(tests): tox
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
Due: tox

feat(fw): calculate genesis state root without calling t8n
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/tests/test_types.py
  src/evm_transition_tool/tests/test_evaluate.py
  src/evm_transition_tool/transition_tool.py
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

Replace bytes=self with just self.
  src/ethereum_test_tools/vm/opcode.py
Due: tox

change(tests): all beacon root tests in the same file
  docs/CHANGELOG.md
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
Due: tox, tox-docs

fix(fw): pypy compatibility - replace bytes=self with just self. (#451)
  src/ethereum_test_tools/vm/opcode.py
Due: tox

chore: replace a few utf8 characters in opcode docstrings
  src/ethereum_test_tools/vm/opcode.py
Due: tox

fix(pytest-filler): Remove collected items without parametrized fork
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(transition_tool): Use execution-specs daemon
  src/evm_transition_tool/execution_specs.py
  whitelist.txt
Due: tox

setup: Add required library
  setup.cfg
Due: none

fix: remove pipe subprocess
  src/evm_transition_tool/execution_specs.py
Due: tox

Apply suggestions from code review
  docs/CHANGELOG.md
  src/ethereum_test_tools/vm/opcode.py
Due: tox, tox-docs

docs: update debugging md
  docs/getting_started/debugging_t8n_tools.md
Due: tox-docs

feat(fw): Add sha256 hash to fixtures
  src/ethereum_test_tools/common/json.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/types.py
Due: tox

feat: add hasher script
  setup.cfg
  src/entry_points/hasher.py
  whitelist.txt
Due: tox

fix(docs): fix nested lists and content tabs formatting #459
  mkdocs.yml
  setup.cfg
Due: none

chore(fw): additional opcode docstring changes.
  src/ethereum_test_tools/vm/opcode.py
  whitelist.txt
Due: tox

fix(docs): fix nested lists and content tabs formatting (#460)
  mkdocs.yml
  setup.cfg
Due: none

chore(fw): add docstrings to all opcodes in opcodes enum (#424)
  docs/CHANGELOG.md
  src/ethereum_test_tools/vm/opcode.py
  whitelist.txt
Due: tox, tox-docs

feat(tests): cherry pick initial filler onto new main.
  tests/homestead/examples/__init__.py
  tests/homestead/examples/test_blockchain_example.py
  tests/homestead/examples/test_yul_example.py
  tests/homestead/yul/__init__.py
Due: tox

refactor(tests): selfdestruct tests parametrization (#438)
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox

feat(fw): More Op to bytecode unit tests (#432)
  src/ethereum_test_tools/tests/test_vm.py
Due: tox
