Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

refactor(evm): add stream & filesystem versions of evaluate() to TransitionTool (#341)
  src/evm_transition_tool/file_utils.py
  src/evm_transition_tool/transition_tool.py
Due: tox

Update docs/getting_started/using_fixtures.md
  docs/getting_started/using_fixtures.md
Due: tox-docs

docs: minor change
  docs/getting_started/using_fixtures.md
Due: tox-docs

docs: add section describing fixture usage in hive simulators (#347)
  docs/getting_started/using_fixtures.md
  whitelist.txt
Due: tox-docs

chore: change hive.py package source to marioevz main
  setup.cfg
Due: none

fix: fix test result propagation to hive server; move to hive plugin
  src/pytest_plugins/pytest_hive/pytest_hive.py
  tests_consume/test_via_rlp.py
Due: tox

chore: update whitelist for pytest keywords
  whitelist.txt
Due: none

docs: fix consume rlp module docstring
  tests_consume/test_via_rlp.py
Due: tox

feat: sepcify genesis & block rlp files BufferedReader objects
  tests_consume/test_via_rlp.py
Due: tox

refactor(rlp): remove unnecessary network & client connection setup/teardown
  tests_consume/test_via_rlp.py
Due: tox

refactor(fw): move json fixture loader helper to common.json
  src/ethereum_test_tools/common/json.py
  src/ethereum_test_tools/common/types.py
  src/pytest_plugins/consume_via_rlp/consume_via_rlp.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

fix: manually specify nethermind genesis target filename
  tests_consume/test_via_rlp.py
Due: tox

feat(pytest): enable piping of `fill`'s json to `consume rlp` (#26)
  src/entry_points/cli.py
  src/pytest_plugins/consume_via_rlp/consume_via_rlp.py
  src/pytest_plugins/test_filler/test_filler.py
  whitelist.txt
Due: tox

fix(cli): fix pipe behaviour; make stdin explicit via cli flag
  src/entry_points/cli.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume_via_rlp/consume_via_rlp.py
Due: tox

unit test for post state verification error
  src/ethereum_test_tools/tests/test_filler_expect_storage.py
Due: tox

feat(pytest): add an entrypoint that fills & runs all consume commands
  setup.cfg
  src/entry_points/cli.py
Due: tox

feat(pytest): exit pytest gracefully if hive server connection fails
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

feat(pytest): allow all consumer tests to run in a single pytest session
  src/entry_points/cli.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume_direct/consume_direct.py
  src/pytest_plugins/consume_via_engine_api/consume_via_engine_api.py
  src/pytest_plugins/consume_via_rlp/consume_via_rlp.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
  tests_consume/test_direct.py
  tests_consume/test_via_engine_api.py
  tests_consume/test_via_rlp.py
Due: tox

feat(fw): write statetests for blocktests w/1 block, 1 tx
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/pytest_plugins/test_filler/test_filler.py
  tests/homestead/yul/test_yul_example.py
Due: tox

tests/cancun/eip4844: fix invalid blob gas fee tx test
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

all: abstract fixtures, convert StateTest into a BlockchainTest generator
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/filling/__init__.py
  src/ethereum_test_tools/filling/fill.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/base/__init__.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/__init__.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/chainid_istanbul_filled.json
  src/ethereum_test_tools/tests/test_fixtures/chainid_london_filled.json
  src/ethereum_test_tools/tests/test_types.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix: tox
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/state/__init__.py
  src/ethereum_test_tools/spec/state/state_test.py
Due: tox

all: Abstract fixtures, StateTest refactor (#354)
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/filling/__init__.py
  src/ethereum_test_tools/filling/fill.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/base/__init__.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/__init__.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/__init__.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/chainid_istanbul_filled.json
  src/ethereum_test_tools/tests/test_fixtures/chainid_london_filled.json
  src/ethereum_test_tools/tests/test_types.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

tools: Move fixture collector to spec
  src/ethereum_test_tools/spec/fixture_collector.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat: add evm bytes to python converter
  setup.cfg
  src/entry_points/evm_bytes_to_python.py
Due: tox

refactor: Fixtures collector
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/fixture_collector.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

all: remove `BaseTestConfig`
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/fixture_collector.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix: all filler tests
  src/ethereum_test_tools/spec/fixture_collector.py
  src/ethereum_test_tools/tests/test_filler.py
  src/pytest_plugins/test_filler/tests/test_test_filler.py
Due: tox

docs: update
  docs/CHANGELOG.md
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  docs/getting_started/quick_start.md
  docs/getting_started/repository_overview.md
  docs/getting_started/using_fixtures.md
  docs/tutorials/state_transition.md
Due: tox-docs

tox: spelling
  docs/CHANGELOG.md
  docs/getting_started/using_fixtures.md
Due: tox-docs

feat: Parametrize the supported fixture types for each test type
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/fixture_collector.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix: many tests
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/pytest_plugins/forks/tests/test_forks.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix: remaining tests
  src/pytest_plugins/test_filler/tests/test_test_filler.py
Due: tox

fix: fixture name case
  src/pytest_plugins/forks/tests/test_forks.py
  src/pytest_plugins/test_filler/test_filler.py
  src/pytest_plugins/test_filler/tests/test_test_filler.py
Due: tox

fix: Indirect parametrize using fixture format
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat: Dynamic generation of spec test fixtures
  src/pytest_plugins/test_filler/test_filler.py
  whitelist.txt
Due: tox

fix: type-checking
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/evm_transition_tool/transition_tool.py
Due: tox

fix: imports
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/spec/__init__.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox
