Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

fix(tests): EIP-7702 test_ext_code_on_set_code
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

Correctly setup EthJS EVM action
  .github/actions/build-evm-client/ethjs/action.yml
  .github/configs/evm.yaml
  .github/configs/feature.yaml
Due: none

fix(tests): EIP-7702 test_set_code_to_sstore
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): fix tracker and MIN_CALLEE_GAS test
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox, tox-docs

fix(tests): generalize test_eof_calls_no_balance
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

fix(tests): EIP-7702, add delegation designation to all expected outputs
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): EIP-7702, add delegation designation
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

new(tests): EIP-7702, add eoa tx after set code tests
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  whitelist.txt
Due: tox

add type section with 128 inputs
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
Due: tox

fix(github): temporary workaruond to 2537 issues in ethjs-t8n
  .github/configs/feature.yaml
Due: none

fix(github): fix build ethjs action
  .github/actions/build-evm-client/ethjs/action.yml
Due: none

config/feature: update to not run slow and 2537 tests
  .github/configs/feature.yaml
Due: none

fix(tests): EIP-2935, mark 256-block tests as slow
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

feat(fw): Add gas test generator
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/generators/__init__.py
  src/ethereum_test_tools/generators/state.py
  whitelist.txt
Due: tox

refactor(tests): EIP-5656: Use gas test generator
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
Due: tox

refactor(tools): rename test generator
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/generators/__init__.py
  src/ethereum_test_tools/generators/state.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
Due: tox

new(tests): EIP-5656 add eof marker to memory expansion test
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
Due: tox

review comments
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_gas.py
Due: tox

refactor(fw): parametrize_with_defaults -> extend_with_defaults
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/utility/pytest.py
Due: tox

docs: re-use extend_with_defaults docstring in markdown
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

tests(fw): add tests for extend_with_defaults
  src/ethereum_test_tools/utility/tests/test_pytest.py
  whitelist.txt
Due: tox

feat(fw): raise if extend_with_defaults encounters unknown case param
  src/ethereum_test_tools/utility/pytest.py
  src/ethereum_test_tools/utility/tests/test_pytest.py
Due: tox

feat(fw): use ValueError for invalid case values; add tests
  src/ethereum_test_tools/utility/pytest.py
  src/ethereum_test_tools/utility/tests/test_pytest.py
Due: tox

refactor(tests): update for parametrize_with_defaults -> extend_with_defaults
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

fix: tox (imports)
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_gas.py
Due: tox

new(tests): EOF - EIP-7069: Call Gas Testing for EXT*CALL (#713)
  tests/prague/eip7692_eof_v1/eip7069_extcall/helpers.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_gas.py
Due: tox

feat(plugins/forks): Add `with_all_system_contracts` marker
  docs/writing_tests/test_markers.md
  src/pytest_plugins/forks/forks.py
Due: tox, tox-docs

refactor(tools): do `named_parametrize` instead
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/utility/pytest.py
Due: tox

feat(tools): introduce `named_pytest_param` helper
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/utility/pytest.py
Due: tox

fix(docs): `named_pytest_param` -> `named_parametrize` decorator
  docs/CHANGELOG.md
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

feat(plugins/forks): Allow lambda filter on all `with_all_*` markers
  docs/writing_tests/test_markers.md
  src/pytest_plugins/forks/forks.py
  whitelist.txt
Due: tox, tox-docs

docs: add required function args and imports to examples
  docs/writing_tests/test_markers.md
Due: tox-docs

fix(base_types): print on `KeyValueMismatch`
  src/ethereum_test_base_types/composite_types.py
Due: tox

feat(types/eof): Add `Container.Init`
  src/ethereum_test_types/eof/v1/__init__.py
Due: tox

fix(tools): CodeGasMeasure without STOP
  src/ethereum_test_tools/code/generators.py
Due: tox

feat(plugins/forks): Add `with_all_create_opcodes` marker
  docs/writing_tests/test_markers.md
  src/pytest_plugins/forks/forks.py
Due: tox, tox-docs

fix(docs): simplify example
  docs/writing_tests/writing_a_new_test.md
Due: tox-docs

feat(forks): Add `system_contracts` method to forks
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

feat(types): Allow non-empty storage on EOAs funding
  src/ethereum_test_types/types.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
