Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

new(tests): EOF - EIP-3540: Test container custom_size field (#620)
  src/ethereum_test_tools/eof/v1/__init__.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_size.py
Due: tox

feat(fw): Implement `SimpleStateTest`
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/state/state_test.py
Due: tox

feat(pytest): directly create properties file and release tarball from fill (#627)
  .github/actions/build-fixtures/action.yaml
  docs/CHANGELOG.md
  docs/getting_started/executing_tests_command_line.md
  src/ethereum_test_tools/spec/fixture_collector.py
  src/pytest_plugins/test_filler/test_filler.py
  src/pytest_plugins/test_filler/tests/test_test_filler.py
  whitelist.txt
Due: tox, tox-docs

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: tox-docs

binary pattern for windows
  README.md
  src/evm_transition_tool/geth.py
Due: tox, tox-docs

new(tests): complete `header_not_terminated` tests
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox, tox-docs

new(tests): EOF - EIP-3540: complete `header_not_terminated` tests (#633)
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox, tox-docs

fix(setup): bump coincurve
  setup.cfg
Due: none

fix(setup): bump coincurve (#637)
  setup.cfg
Due: none

refactor(tests): EOF - remove max_stack_height from most tests
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_calls.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_execution_function.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_section_order.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_returndataload.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_code_validation.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/helpers.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate_failures.py
Due: tox

feat(fw): Create `Bytecode` class
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/code/__init__.py
  src/ethereum_test_tools/code/code.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/__init__.py
  src/ethereum_test_tools/vm/opcode.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

refactor(tests): shanghai tests - use Bytecode
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

refactor(tests): prague tests - use Bytecode
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip7002_el_triggerable_withdrawals/helpers.py
Due: tox

refactor(tests): cancun tests - use Bytecode
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/cancun/eip1153_tstore/test_tstorage_create_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_reentrancy_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_selfdestruct.py
  tests/cancun/eip4788_beacon_root/spec.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip5656_mcopy/test_mcopy.py
  tests/cancun/eip5656_mcopy/test_mcopy_contexts.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
Due: tox

refactor(tests): pre-merge: use Bytecode
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  tests/frontier/opcodes/test_dup.py
Due: tox

refactor(tests): EOF - use Bytecode
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/code_validation.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/code_validation_function.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/code_validation_jump.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_legacy_eof_creates.py
Due: tox

fix(tests): remove incorrect stack height fixme
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
Due: tox

test all opcodes in valid eof code section
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  whitelist.txt
Due: tox

make UndefinedOpcodes global
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/vm/__init__.py
  src/ethereum_test_tools/vm/opcode.py
Due: tox

do not produce unreachable code on halting instructions if opcode is halting in eof, let it act as returning opcode to check that no exception happens
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
Due: tox

types fix after rebase
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(fw): implement hash for bytecode
  src/ethereum_test_tools/vm/opcode.py
Due: tox

fix(tests): remove ._name_
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
Due: tox

new(tests): EOF - EIP-3540: test all opcodes in valid code section (#634)
  docs/CHANGELOG.md
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/vm/__init__.py
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_example_valid_invalid.py
  whitelist.txt
Due: tox, tox-docs

docs: fixup
  docs/writing_tests/test_markers.md
Due: tox-docs

fix: converted-ethereum-tests
  converted-ethereum-tests.txt
Due: none

new(tests): EIP-7610: init-collision tests
  converted-ethereum-tests.txt
  tests/paris/eip7610_create_collision/test_initcollision.py
Due: tox

tox: add `pre_alloc_modifier` marker
  docs/writing_tests/test_markers.md
  pytest.ini
Due: tox-docs

new(tests): add EOFCREATE case
  tests/paris/eip7610_create_collision/__init__.py
  tests/paris/eip7610_create_collision/test_initcollision.py
  whitelist.txt
Due: tox

feat(github): coverage on native evmone test runners (#628)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/coverage.yaml
Due: tox-docs

feat(pytest): add `pre_alloc_modifier` marker
  docs/writing_tests/test_markers.md
  pytest.ini
Due: tox-docs

feat(fw): Add `canary_storage` to `Storage`
  src/ethereum_test_tools/common/types.py
Due: tox

feat(fw): Add `eofcreate_address` to `Container`
  src/ethereum_test_tools/eof/v1/__init__.py
Due: tox

new(tests): EOF - EIP-3540: EXTCODE* on initcontainer, mainnet 0xEF contracts
  docs/CHANGELOG.md
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_extcode_initcontainer.py
  whitelist.txt
Due: tox, tox-docs

fix(plugins): Root folder name on generated .tar.gz
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

new(tests): EOFCREATE frame reverts with EOF container
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox

fix(tests): rebase fixes
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
