Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

move
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/__init__.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/conftest.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_exchange.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
Due: tox

move
  tests/prague/eip7692_eof_v1/eip6206_jumpf/__init__.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/helpers.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/spec.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
Due: tox

move to new subfolder
  tests/prague/eip7692_eof_v1/eip7676_address_space_extension/__init__.py
  tests/prague/eip7692_eof_v1/eip7676_address_space_extension/spec.py
  tests/prague/eip7692_eof_v1/eip7676_address_space_extension/test_ase_opcodes.py
Due: tox

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs

new(test): add tests for EOF/EIP-663 DUPN SWAPN (#502)
  docs/CHANGELOG.md
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/__init__.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/conftest.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_dupn.py
  tests/prague/eip7692_eof_v1/eip663_dupn_swapn_exchange/test_swapn.py
  tests/prague/eip7692_eof_v1/tracker.md
  whitelist.txt
Due: tox, tox-docs

fix(consume): correctly forward setup error to hive server
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

fix(consume): correctly forward setup error to hive server (#569)
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

fix(tests): EOF - EIP-3540: return stack tests (#536)
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_execution_function.py
Due: tox

try split client files.
  tests_consume/test_via_rlp.py
Due: tox

Recast as EIP-7069 test
  tests/prague/eip7692_eof_v1/eip7069_extcall/__init__.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/spec.py
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
  tests/prague/eip7692_eof_v1/eip7676_address_space_extension/__init__.py
Due: tox

use itertools.count instead of hard coded address
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_address_space_extension.py
Due: tox

move to symbolic storage names
  tests/prague/eip7692_eof_v1/eip6206_jumpf/helpers.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
Due: tox

fix(tests): eip-6206: nit
  tests/prague/eip7692_eof_v1/eip6206_jumpf/helpers.py
Due: tox

feat(fw): Add EOFStateTest test type
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/eof/eof_test.py
Due: tox

fix(tests): eip-6206: EOF exception
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Due: tox

feat(fw): EOF Exception STACK_HIGHER_THAN_OUTPUTS
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
Due: tox

fix(tests): EIP-6206: fix invalid container tests
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
Due: tox

refactor(tests): EOF - EIP-7692: Use EOFStateTest
  tests/prague/eip7692_eof_v1/eip6206_jumpf/helpers.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
Due: tox

fix(tests): EIP-6206: test_jumpf_target_rules logic
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
Due: tox

fix(fw): EOF - Add INVALID_NON_RETURNING_FLAG, JUMPF_DESTINATION_INCOMPATIBLE_OUTPUTS
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
Due: tox

fix(tests): EOF - EIP-6206: Use correct exceptions
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
Due: tox

merge in marioevz:eof/jumpf
  tests/prague/eip7692_eof_v1/eip6206_jumpf/helpers.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
Due: tox

new(tests): EOF - EIP-6206: JUMPF Tests (#540)
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/eof/eof_test.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/__init__.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/helpers.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/spec.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_execution.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_stack.py
  tests/prague/eip7692_eof_v1/eip6206_jumpf/test_jumpf_target.py
Due: tox

Update docs/CHANGELOG.md
  docs/CHANGELOG.md
Due: tox-docs

new(test): self-destruct test for nonce > 1 self-destructing contracts (#478)
  docs/CHANGELOG.md
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
Due: tox, tox-docs

fix(tests): hardcode fork name
  tests/prague/eip2537_bls_12_381_precompiles/spec.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp2_to_g2.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp_to_g1.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
Due: tox

fix(tests): EIP-2537: load MSM table from file
  tests/prague/eip2537_bls_12_381_precompiles/helpers.py
  tests/prague/eip2537_bls_12_381_precompiles/msm_discount_table.json
  tests/prague/eip2537_bls_12_381_precompiles/spec.py
Due: tox

new(tests): EIP-2537: test precompiles before fork is active
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_precompiles_before_fork.py
Due: tox

new(tests): EIP-2537: BLS12-381 Precompiles (#499)
  docs/CHANGELOG.md
  src/ethereum_test_forks/forks/forks.py
  tests/prague/eip2537_bls_12_381_precompiles/__init__.py
  tests/prague/eip2537_bls_12_381_precompiles/conftest.py
  tests/prague/eip2537_bls_12_381_precompiles/helpers.py
  tests/prague/eip2537_bls_12_381_precompiles/msm_discount_table.json
  tests/prague/eip2537_bls_12_381_precompiles/spec.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g1mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2add.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2msm.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_g2mul.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp2_to_g2.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_map_fp_to_g1.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_pairing.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_precompiles_before_fork.py
  tests/prague/eip2537_bls_12_381_precompiles/test_bls12_variable_length_input_contracts.py
  tests/prague/eip2537_bls_12_381_precompiles/vectors/add_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/add_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-add_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-add_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-map_fp2_to_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-map_fp_to_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-mul_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-mul_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-multiexp_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-multiexp_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/fail-pairing_check_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/map_fp2_to_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/map_fp_to_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/mul_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/mul_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G1_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/multiexp_G2_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/pairing_check_bls.json
  tests/prague/eip2537_bls_12_381_precompiles/vectors/test-vectors.md
  whitelist.txt
Due: tox, tox-docs

feat(forks): EIP-6110: Add requirements
  setup.cfg
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/deposit_contract.bin
  src/ethereum_test_forks/forks/forks.py
Due: tox

feat(fw): EIP-6110: Add requests types
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/base_types.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/tests/test_types.py
  whitelist.txt
Due: tox

feat(fw): EIP-7002: Add withdrawal request types
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
Due: tox

new(tests): EIP-6110: Supply validator deposits on chain
  docs/CHANGELOG.md
  tests/prague/eip6110_deposits/__init__.py
  tests/prague/eip6110_deposits/conftest.py
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip6110_deposits/spec.py
  tests/prague/eip6110_deposits/test_deposits.py
  whitelist.txt
Due: tox, tox-docs

feat(forks): EIP-7002: Add requirements
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/withdrawal_request.bin
Due: tox

new(tests): EIP-7685: General purpose execution layer requests
  docs/CHANGELOG.md
  tests/prague/eip7685_general_purpose_el_requests/__init__.py
  tests/prague/eip7685_general_purpose_el_requests/conftest.py
  tests/prague/eip7685_general_purpose_el_requests/spec.py
  tests/prague/eip7685_general_purpose_el_requests/test_deposits_withdrawals.py
  whitelist.txt
Due: tox, tox-docs

new(tests): EIP-7002: Execution layer triggerable withdrawals
  docs/CHANGELOG.md
  tests/prague/eip7002_el_triggerable_withdrawals/__init__.py
  tests/prague/eip7002_el_triggerable_withdrawals/conftest.py
  tests/prague/eip7002_el_triggerable_withdrawals/helpers.py
  tests/prague/eip7002_el_triggerable_withdrawals/spec.py
  tests/prague/eip7002_el_triggerable_withdrawals/test_withdrawal_requests.py
  whitelist.txt
Due: tox, tox-docs
