Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

docs: update for addition of evmone-t8n tracing support
  README.md
  docs/index.md
Due: tox-docs

tools: enable tracing in evmone-t8n interface (#263)
  README.md
  docs/index.md
  src/evm_transition_tool/evmone.py
Due: tox, tox-docs

chore: simplify spellcheck setup by combining wordlists
  .gitignore
  .pyspelling.yml
  .vscode/settings.recommended.json
  .wordlist_opcodes.txt
  .wordlist_python_pytest.txt
  src/entry_points/create_whitelist_for_flake8_spelling.py
  tox.ini
  whitelist.txt
Due: tox

chore: simplify spellcheck setup by combining wordlists (#271)
  .gitignore
  .pyspelling.yml
  .vscode/settings.recommended.json
  .wordlist_opcodes.txt
  .wordlist_python_pytest.txt
  src/entry_points/create_whitelist_for_flake8_spelling.py
  tox.ini
  whitelist.txt
Due: tox

tools: standardize debug file paths; add output.body; fix t8n.sh
  src/evm_transition_tool/transition_tool.py
Due: tox

tools: add t8n.sh script to evmone debug directory
  src/evm_transition_tool/evmone.py
  whitelist.txt
Due: tox

refactor: add a common collect_traces method
  src/evm_transition_tool/evmone.py
  src/evm_transition_tool/transition_tool.py
Due: tox

tools: minor - add comment
  src/evm_transition_tool/evmone.py
Due: tox

tools: better error reporting if request to besu t8n-server fails
  src/evm_transition_tool/besu.py
Due: tox

tools: add state.json and output.body to besu's t8n debug dir
  src/evm_transition_tool/besu.py
Due: tox

tools: add t8n.sh script to besu's debug dir
  src/evm_transition_tool/besu.py
Due: tox

tools: add more info about the request to besu's debug dir
  src/evm_transition_tool/besu.py
Due: tox

tests: mark test to xfail with ethereum-spec-evm #264
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
  whitelist.txt
Due: tox

tools: ethereum-specs-evm complains Constantinople is unsupported #266
  src/evm_transition_tool/execution_specs.py
Due: tox

tools: don't write output.body for ethereum-specs-evm cf #268
  src/evm_transition_tool/transition_tool.py
Due: tox

tools: add an optional arg to t8n.sh specifing besu's t8n-server port
  src/evm_transition_tool/besu.py
Due: tox

docs: expand the debug directory section; describe t8n.sh
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  docs/navigation.md
Due: tox-docs

tools: remove output directory in t8n.sh if it already exists
  src/evm_transition_tool/transition_tool.py
Due: tox

tools: fail tests for ethereum-specs-evm with --traces enabled #267
  src/evm_transition_tool/transition_tool.py
Due: tox

setup: Add `trie` and stubs
  pyproject.toml
  setup.cfg
  stubs/trie/__init__.pyi
  stubs/trie/hexary.pyi
  whitelist.txt
Due: none

types: add withdrawals root calculation
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox

transition_tool: remove withdrawals root
  src/evm_transition_tool/transition_tool.py
Due: tox

docs: add extra installation step for macOS when using Python >=3.11
  docs/getting_started/quick_start.md
  whitelist.txt
Due: tox-docs

README: add extra installation step for macOS when using Python >=3.11
  README.md
Due: tox-docs

tox: fixes for docs and README.md
  README.md
  docs/getting_started/quick_start.md
Due: tox-docs

docs: add extra installation step for macOS w/python 3.11 (#275)
  README.md
  docs/getting_started/quick_start.md
  whitelist.txt
Due: tox-docs

chore: run github actions on macos
  .github/workflows/test.yaml
Due: none

chore: fix solc installation for macos in github actions
  .github/workflows/test.yaml
Due: none

chore: remove aspell-en package on macos
  .github/workflows/test.yaml
Due: none

chore: fix typo in solc on macos
  .github/workflows/test.yaml
Due: none

chore: install additional packages on macos with 3.11 cf #264
  .github/workflows/test.yaml
Due: none

framework: test the withdrawals root in t8n's output result (#9)
  src/ethereum_test_tools/spec/base_test.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
Due: tox

state_test: genesis environment fixes
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/state_test.py
Due: tox

blockchain_test: sanity check genesis values
  src/ethereum_test_tools/spec/blockchain_test.py
Due: tox

remove debugging code.
  src/ethereum_test_tools/spec/blockchain_test.py
Due: tox

tools/tests: add support for erroneous timestamps in beacon root tests.
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
Due: tox

tools: update initial function to overwrite invalid fields with the tx input.
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
Due: tox

plugin: remove pytest marker for forced invalid fields.
  src/pytest_plugins/force_invalid_fields/__init__.py
  src/pytest_plugins/force_invalid_fields/force_invalid_fields.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

tools: add initial function to fix and return invalid tx fields.
  src/ethereum_test_tools/common/json.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
Due: tox

plugin: add pytest marker for forced invalid fields.
  src/pytest_plugins/force_invalid_fields/__init__.py
  src/pytest_plugins/force_invalid_fields/force_invalid_fields.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox
