Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

tests & src: update state and blockchain tests with invalid t8n fields as input.
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

src: update yul version regex check to allow develop.
  src/ethereum_test_tools/code/yul.py
Due: tox

tools: Use semver package
  setup.cfg
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
Due: tox

tools: fix paths' values for evmone-t8n (#23)
  src/evm_transition_tool/evmone.py
Due: tox

Fix typo in src/evm_transition_tool/transition_tool.py
  src/evm_transition_tool/transition_tool.py
Due: tox

docs: update debugging t8n tools for withdrawals root calc #273
  docs/getting_started/debugging_t8n_tools.md
Due: tox-docs

docs: fix typo in besu server port
  docs/getting_started/debugging_t8n_tools.md
Due: tox-docs

docs: update telegram username.
  docs/getting_help/index.md
Due: tox-docs

tools: hardcode dirs to avoid nasty surprises with rm -rf
  src/evm_transition_tool/evmone.py
  src/evm_transition_tool/transition_tool.py
Due: tox

Revert "tools: don't write output.body for ethereum-specs-evm cf #268"
  src/evm_transition_tool/transition_tool.py
Due: tox

solc: update tests for nightly builds of 0.8.22
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_valid_filled.json
Due: tox

docs: update telegram username. (#278)
  docs/getting_help/index.md
Due: tox-docs

chore: restrict matrix combinations
  .github/workflows/test.yaml
Due: none

chore: restrict matrix combinations v2
  .github/workflows/test.yaml
Due: none

chore: update github actions versions
  .github/workflows/test.yaml
Due: none

src: provide a warning if refspec requests.get fails
  src/ethereum_test_tools/reference_spec/git_reference_spec.py
Due: tox

chore: specify go cache-dependency-path
  .github/workflows/test.yaml
Due: none

framework tests: mock requests.get() in refspec test
  src/ethereum_test_tools/tests/test_reference_spec.py
Due: tox

docs: add an iconified dir tree courtesy of the robot
  docs/getting_started/debugging_t8n_tools.md
Due: tox-docs

docs: fix markdown code formatting directive
  docs/getting_started/debugging_t8n_tools.md
Due: tox-docs

chore: run github actions on macos (#276)
  .github/workflows/test.yaml
  src/ethereum_test_tools/reference_spec/git_reference_spec.py
  src/ethereum_test_tools/tests/test_reference_spec.py
Due: tox

tests: mark test to xfail with ethereum-spec-evm #264
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
  whitelist.txt
Due: tox

src & tests: invalid blob field tests and modifications.
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_invalid_blob_fields.py
Due: tox

chore: upgrade coincurve to v18 #274
  setup.cfg
Due: none

docs: remove additional installation steps on macos #274
  README.md
  docs/getting_started/quick_start.md
Due: tox-docs

docs: update execution-specs t8n installation help
  src/evm_transition_tool/execution_specs.py
Due: tox

tools: add optional prefix to `Initcode`
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_tools/tests/test_code.py
Due: tox

src & tests: invalid t8n tool field approaches.
  src/ethereum_test_tools/common/json.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_invalid_blob_fields.py
Due: tox

add whitelist.
  whitelist.txt
Due: none

tools: Add header fields verification
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
Due: tox

tests/beacon_root: Change naming from precompile -> contract.
  tests/cancun/eip4788_beacon_root/common.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4788_beacon_root/test_blocks_beacon_root_contract.py
Due: tox

tools: add optional prefix code to `Initcode` (#282)
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_tools/tests/test_code.py
Due: tox

tests: add spec and conftest for transient storage tests
  tests/cancun/eip1153_tstore/__init__.py
  tests/cancun/eip1153_tstore/conftest.py
  tests/cancun/eip1153_tstore/spec.py
Due: tox

tools: add tstore and tload opcodes
  src/ethereum_test_tools/vm/opcode.py
  whitelist.txt
Due: tox

tests: add simple execution context tests for tstore and tload
  tests/cancun/eip1153_tstore/test_transient_storage_execution_contexts.py
Due: tox

tests: add more contract creation tstorage tests
  tests/cancun/eip1153_tstore/test_transient_storage_create_contexts.py
  whitelist.txt
Due: tox

tests: test simple transient storage usage in initcode
  tests/cancun/eip1153_tstore/test_transient_storage_create_contexts.py
Due: tox

tests/cancun: Fix method in blob tests
  tests/cancun/eip4844_blobs/test_blob_txs.py
Due: tox

src|tests: Additional blob field header verification.
  src/ethereum_test_tools/spec/blockchain_test.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
Due: tox

tests/excess_blob_gas: Tiny change for issue #259.
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
