Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

fix(tests): reduce gas on execute version
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(cli/consume): fix duplication of user-provided pytest flags (#930)
  src/cli/pytest_commands/consume.py
Due: tox

docs: move 'Getting Help' underneath 'Getting Started'
  docs/getting_started/getting_help.md
  docs/getting_started/img/testing_pandas.png
  docs/navigation.md
  docs/writing_tests/code_standards.md
Due: tox-docs

docs: fix broken link
  docs/writing_tests/tutorials/state_transition.md
Due: tox-docs

docs: move filling content under 'Filling Tests'
  docs/consuming_tests/index.md
  docs/filling_tests/debugging_t8n_tools.md
  docs/filling_tests/filling_tests_command_line.md
  docs/filling_tests/filling_tests_dev_fork.md
  docs/filling_tests/filling_tests_vs_code.md
  docs/filling_tests/img/evm_dump_dir_in_html_report.png
  docs/filling_tests/img/pytest_collect_only.png
  docs/filling_tests/img/pytest_run_example.png
  docs/filling_tests/img/vs_code_executing_tests.kra
  docs/filling_tests/img/vs_code_executing_tests.png
  docs/filling_tests/img/vs_code_exploring_tests.kra
  docs/filling_tests/img/vs_code_exploring_tests.png
  docs/getting_started/installation.md
  docs/getting_started/setup_vs_code.md
  docs/navigation.md
Due: tox-docs

docs: fix language 'execute' -> 'fill'
  docs/filling_tests/filling_tests_command_line.md
  docs/filling_tests/filling_tests_dev_fork.md
  docs/filling_tests/filling_tests_vs_code.md
  docs/filling_tests/getting_started.md
  docs/filling_tests/index.md
  docs/getting_started/setup_vs_code.md
  docs/navigation.md
  docs/writing_tests/tutorials/state_transition.md
Due: tox-docs

docs: move 'Tutorials' to 'Writing Tests'
  docs/navigation.md
  docs/writing_tests/tutorials/blockchain.md
  docs/writing_tests/tutorials/state_transition.md
  docs/writing_tests/tutorials/state_transition_bad_opcode.md
Due: tox-docs

docs: make 'Getting Started' -> 'Overview' the landing page
  docs/getting_started/img/execution_spec_tests.png
  docs/getting_started/overview.md
  docs/index.md
  docs/navigation.md
Due: tox-docs

docs: add an intro text for filling tests index page
  docs/filling_tests/getting_started.md
  docs/filling_tests/index.md
Due: tox-docs

docs: disable markdownlint check in redirect file
  docs/index.md
Due: tox-docs

docs: fix duplicate 'adding tests' entry
  docs/navigation.md
Due: tox-docs

docs: move 'Getting Started/Quick Start' to 'Getting Started/Installation'
  docs/getting_started/installation.md
  docs/navigation.md
Due: tox-docs

docs: re-order 'Writing Tests' sub-menu items
  docs/navigation.md
Due: tox-docs

RJUMPF/CALLF test: feedback (.__members__ not needed)
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

docs: move t8n support from Home to underneath Filling...
  docs/filling_tests/transition_tool_support.md
  docs/getting_started/overview.md
  docs/navigation.md
Due: tox-docs

docs: explain filling tests
  docs/filling_tests/getting_started.md
  docs/filling_tests/index.md
Due: tox-docs

feat(docs): reorganize top-level menus in online docs (#929)
  docs/consuming_tests/index.md
  docs/filling_tests/debugging_t8n_tools.md
  docs/filling_tests/filling_tests_command_line.md
  docs/filling_tests/filling_tests_dev_fork.md
  docs/filling_tests/filling_tests_vs_code.md
  docs/filling_tests/getting_started.md
  docs/filling_tests/img/evm_dump_dir_in_html_report.png
  docs/filling_tests/img/pytest_collect_only.png
  docs/filling_tests/img/pytest_run_example.png
  docs/filling_tests/img/vs_code_executing_tests.kra
  docs/filling_tests/img/vs_code_executing_tests.png
  docs/filling_tests/img/vs_code_exploring_tests.kra
  docs/filling_tests/img/vs_code_exploring_tests.png
  docs/filling_tests/index.md
  docs/filling_tests/transition_tool_support.md
  docs/getting_started/getting_help.md
  docs/getting_started/img/execution_spec_tests.png
  docs/getting_started/img/testing_pandas.png
  docs/getting_started/installation.md
  docs/getting_started/overview.md
  docs/getting_started/setup_vs_code.md
  docs/index.md
  docs/navigation.md
  docs/writing_tests/code_standards.md
  docs/writing_tests/tutorials/blockchain.md
  docs/writing_tests/tutorials/state_transition.md
  docs/writing_tests/tutorials/state_transition_bad_opcode.md
Due: tox-docs

Spot and remove dead code for new tests
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

new(tests): EIP-7702: Add many-delegations test (#923)
  docs/CHANGELOG.md
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox, tox-docs

feat(forks): Add memory expansion, calldata calculators to each fork
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/gas_costs.py
Due: tox

fix(fw): Remove `copy_opcode_cost`, `cost_memory_bytes` and `eip_2028_transaction_data_cost`
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/helpers.py
Due: tox

refactor(tests): Use fork calculator methods instead of helpers
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_returndatacopy_memory_expansion.py
  tests/osaka/eip7692_eof_v1/eip7480_data_section/test_datacopy_memory_expansion.py
  tests/shanghai/eip3860_initcode/helpers.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

fix(forks): Initcode word cost
  src/ethereum_test_forks/forks/forks.py
Due: tox

feat(forks): Add transaction_intrinsic_cost_calculator
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
Due: tox

refactor(tests): Use fork gas calculator methods
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/shanghai/eip3860_initcode/helpers.py
  tests/shanghai/eip3860_initcode/test_initcode.py
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

fix(forks): GasCosts field description
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/gas_costs.py
Due: tox

refactor(base_types): Move `AccessList` to base types
  src/ethereum_test_base_types/__init__.py
  src/ethereum_test_base_types/composite_types.py
  src/ethereum_test_base_types/tests/test_base_types.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_blockchain.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
Due: tox

refactor(forks): Add authorization to intrinsic gas cost calc
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/gas_costs.py
Due: tox

refactor(plugins/execute): Use fork gas calc functions
  src/pytest_plugins/execute/pre_alloc.py
Due: tox

refactor(tests): Use `fork` gas calc functions
  tests/osaka/eip7692_eof_v1/eip7069_extcall/test_gas.py
  tests/osaka/eip7692_eof_v1/eip7620_eof_create/test_gas.py
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs

new(tests): EOF - EIP-7692: migrate CALLF execution tests (#914)
  converted-ethereum-tests.txt
  tests/osaka/eip7692_eof_v1/eip4750_functions/test_callf_execution.py
  tests/osaka/eip7692_eof_v1/eof_tracker.md
Due: tox, tox-docs

Apply suggestions from code review
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

target temp branch for filling
  .github/configs/evm.yaml
Due: none

parent state root field renaming
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/verkle/tests/test_verkle_witness.py
  src/ethereum_test_types/verkle/types.py
Due: tox

extra fix
  src/evm_transition_tool/types.py
Due: tox

verkle: parent state root field renaming (#934)
  .github/configs/evm.yaml
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/verkle/tests/test_verkle_witness.py
  src/ethereum_test_types/verkle/types.py
  src/evm_transition_tool/types.py
Due: tox

fix(tests): tox
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
Due: tox

new(tests): EOF - EIP-4200 EIP-6206 RJUMPI with JUMPF (#928)
  src/ethereum_test_vm/opcode.py
  tests/osaka/eip7692_eof_v1/eip5450_stack/test_code_validation.py
  whitelist.txt
Due: tox

verkle: target main branch again
  .github/configs/evm.yaml
Due: none

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
