Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

fix: infinite loop issue
  src/ethereum_test_tools/common/base_types.py
Due: tox

docs: Change order of sections in blockchain tutorial
  docs/tutorials/blockchain.md
Due: tox-docs

chore(tests): Transactions usages
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
Due: tox

refactor(fw): Rename DataclassGenerator -> ModelGenerator
  src/ethereum_test_tools/common/base_types.py
  src/ethereum_test_tools/common/types.py
Due: tox

fix(fw): move tests to separate file
  src/ethereum_test_tools/tests/test_generators.py
  src/ethereum_test_tools/tests/test_transactions.py
Due: tox

chore(fw): Remove `list` support from `BytesConvertible`
  src/ethereum_test_tools/common/conversions.py
  src/ethereum_test_tools/tests/test_types.py
  src/ethereum_test_tools/tests/test_types_blockchain_test.py
Due: tox

nit
  src/ethereum_test_tools/common/types.py
Due: tox

fix(tests): Withdrawals use
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

feat(fw): Add DataclassGenerator type
  src/ethereum_test_tools/common/base_types.py
Due: tox

docs: Add `Blocks` example
  docs/tutorials/blockchain.md
Due: tox-docs

fix: Remove subscriptable instantiation
  src/ethereum_test_tools/common/base_types.py
  src/ethereum_test_tools/common/types.py
Due: tox

docs: update
  docs/tutorials/blockchain.md
Due: tox-docs

fix(fw): Fix tests
  src/ethereum_test_tools/tests/test_transactions.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox

fix(tests): chunks usage
  tests/shanghai/eip4895_withdrawals/test_withdrawals.py
Due: tox

feat(fw): Add `Transactions` generator
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_transactions.py
Due: tox

docs: fix example
  docs/tutorials/blockchain.md
Due: tox-docs

fix: small refactor
  src/ethereum_test_tools/common/base_types.py
Due: tox

docs: Add Transactions generator to tutorial
  docs/navigation.md
  docs/tutorials/blockchain.md
Due: tox-docs

new(fw): add (broken) `Blocks` test
  src/ethereum_test_tools/tests/test_generators.py
Due: tox

refactor(fw): separate ModelIterator from ModelGenerator
  src/ethereum_test_tools/common/base_types.py
Due: tox

fix(fw): export `Blocks`
  src/ethereum_test_tools/__init__.py
Due: tox

docs: word
  docs/tutorials/blockchain.md
Due: tox-docs

feat(all): add EOF fixture format and test spec
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/exceptions/__init__.py
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/eof/__init__.py
  src/ethereum_test_tools/spec/eof/eof_test.py
  src/ethereum_test_tools/spec/eof/types.py
  src/evm_transition_tool/transition_tool.py
Due: tox

feat(tests): add EOF example
  tests/prague/eip3540_evm_object_format_v1/__init__.py
  tests/prague/eip3540_evm_object_format_v1/test_eof.py
Due: tox

feat(fw): EOF library
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/eof/__init__.py
  src/ethereum_test_tools/eof/constants.py
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/tests/test_eof_v1.py
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
  whitelist.txt
Due: tox

new(tests): prague: EOF V1 tests
  tests/prague/eip3540_eof_v1/__init__.py
  tests/prague/eip3540_eof_v1/code_validation.py
  tests/prague/eip3540_eof_v1/code_validation_function.py
  tests/prague/eip3540_eof_v1/code_validation_jump.py
  tests/prague/eip3540_eof_v1/constants.py
  tests/prague/eip3540_eof_v1/container.py
  tests/prague/eip3540_eof_v1/opcodes.py
  tests/prague/eip3540_eof_v1/test_code_validation.py
  tests/prague/eip3540_eof_v1/test_execution_function.py
Due: tox

refactor(fw): EOF container code
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/tests/test_eof_v1.py
Due: tox

fix(fw): vm: re-order JUMPDEST, NOOP
  src/ethereum_test_tools/vm/opcode.py
Due: tox

fix(fw): cli tests
  src/cli/tests/test_evm_bytes_to_python.py
  whitelist.txt
Due: tox

fix(tests): refactor fixes
  tests/prague/eip3540_eof_v1/code_validation.py
  tests/prague/eip3540_eof_v1/test_code_validation.py
  tests/prague/eip3540_eof_v1/test_execution_function.py
Due: tox

fix(fw): eof: fix raw bytes processing
  src/ethereum_test_tools/eof/v1/__init__.py
Due: tox

fix(tests): eof: change `test_code_validation.py` to use `EOFTestFiller`
  tests/prague/eip3540_eof_v1/test_code_validation.py
Due: tox

fix(ethereum_test_forks): Deploy Cancun, fix tests
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/tests/test_forks.py
Due: tox

github: update `fixtures_develop`
  .github/workflows/fixtures.yaml
Due: none

docs: changelog
  docs/CHANGELOG.md
Due: tox-docs

vscode: Update recommended launch and settings
  .vscode/launch.recommended.json
  .vscode/settings.recommended.json
Due: none

tox: Update development fork
  tox.ini
Due: none

refactor(fw): yul code
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/tests/conftest.py
  src/ethereum_test_tools/tests/test_code.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix: tox
  src/ethereum_test_tools/code/yul.py
Due: tox

docs: update script example
  docs/consuming_tests/index.md
Due: tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
