Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

fix(tests): EIP-7702 fix test_ext_code_on_chain_delegating_set_code
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): EIP-7702 add check
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(fixtures): tests
  src/ethereum_test_fixtures/tests/test_blockchain.py
Due: tox

fix(fw): EIP-7702 types update
  src/ethereum_test_types/types.py
Due: tox

fix(tests): import
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): EIP-7702 enable skipped tests
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

new(tests): EIP-7702 add multiple valid, self-sponsored test
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

fix(tests): EIP-7702, add delegation designation to all expected outputs
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): EIP-7702 gas test
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): EIP-7702 move gas tests
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

feat(types): Calculate signer if v,r,s parameters are in the Auth Tuple
  src/ethereum_test_types/types.py
Due: tox

feat(types/filler): Allow delegation on `pre.fund_eoa`
  src/ethereum_test_types/types.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

fix(plugins/filler): delegation designation in case of `None`
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

fix(tests): EIP-7702 test not following spec
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

fix(types): nonce list logic removal
  src/ethereum_test_types/types.py
Due: tox

fix(tests): EIP-7702 test_ext_code_on_set_code
  tests/prague/eip7702_set_code_tx/helpers.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): EIP-7702 fix test_set_code_invalid_authorization_tuple
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

new(tests): EIP-7702 parametrize and add new tests
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

feat(base_types): Add `keccak256` to `Bytes`
  src/ethereum_test_base_types/base_types.py
Due: tox

fix(tests): EIP-7702 use kwargs on `with_all` markers
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): EIP-7702 warm account logic revamp
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

fix(tests): EIP-7702: fix warm costs expectations
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

fix(tests): EIP-7702 test fixes
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

feat(tests): EIP-7702 add self-delegation warm cost test
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

fix(test): EIP-7702, test_call_into_self_delegating_set_code
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): EIP-7702 re-authorization tests
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

fix(tests): EIP-7702 invalid tx on invalid signatures
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tests): EIP-7702 return code expectations
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

chore(ci): remove tox run-parallel to debug uv job fails
  .github/workflows/tox_verify.yaml
Due: none

chore(ci): bump uv version
  .github/actions/setup-uv/action.yaml
Due: none

feat(docs/tests): EOF: Update tracker, add unimplemented tests (#773)
  src/ethereum_test_types/eof/v1/__init__.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_code_validation.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox, tox-docs

Fix merge issue in .github/workflows/coverage.yaml
  .github/workflows/coverage.yaml
Due: none

chore: use uv for package management (#777)
  .github/actions/build-fixtures/action.yaml
  .github/actions/setup-uv/action.yaml
  .github/scripts/get_release_props.py
  .github/workflows/coverage.yaml
  .github/workflows/docs_main.yaml
  .github/workflows/docs_tags.yaml
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  .github/workflows/tox_verify.yaml
  README.md
  docs/dev/docs.md
  docs/dev/precommit.md
  docs/getting_started/installation_troubleshooting.md
  docs/getting_started/quick_start.md
  docs/writing_tests/verifying_changes.md
  uv.lock
Due: tox, tox-docs

chore: update uv.lock for updated solc deps
  uv.lock
Due: none

docs: add ethereumjs support to readme/index
  README.md
  docs/index.md
  whitelist.txt
Due: tox-docs

chore: update uv.lock for updated solc deps (#782)
  uv.lock
Due: none

Apply suggestions from code review
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

refactor(tests): EIP-7702 rename folder and files
  tests/prague/eip7702_set_code_tx/__init__.py
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox
