Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

chore(ruff): changes to `tests/homestead`.
  tests/homestead/__init__.py
  tests/homestead/coverage/__init__.py
  tests/homestead/coverage/test_coverage.py
  tests/homestead/yul/__init__.py
  tests/homestead/yul/test_yul_example.py
Due: tox

style(lint): fix import block (in ruff 0.8.2)
  stubs/trie/hexary.pyi
Due: none

chore: pin ruff to version 0.8.2
  pyproject.toml
  uv.lock
Due: none

chore: mypy fixes part 1.
  src/cli/check_fixtures.py
  src/cli/eofwrap.py
  src/ethereum_test_rpc/rpc.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/tests/test_expect.py
  src/ethereum_test_tools/code/generators.py
  src/ethereum_test_types/eof/v1/__init__.py
  src/ethereum_test_types/tests/test_post_alloc.py
  src/ethereum_test_types/tests/test_types.py
  src/ethereum_test_types/types.py
  src/ethereum_test_vm/opcode.py
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/sender.py
  src/pytest_plugins/filler/pre_alloc.py
Due: tox

chore: revert uv.lock to 88c1401 for a gentler package upgrade
  uv.lock
Due: none

chore(docs): update changelog.
  docs/CHANGELOG.md
Due: tox-docs

chore(ruff): changes to `tests/istanbul`.
  tests/istanbul/__init__.py
  tests/istanbul/eip1344_chainid/test_chainid.py
Due: tox

chore(ruff): changes to `tests/cancun`.
  tests/cancun/eip1153_tstore/__init__.py
  tests/cancun/eip1153_tstore/spec.py
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/cancun/eip1153_tstore/test_tstorage_clear_after_tx.py
  tests/cancun/eip1153_tstore/test_tstorage_create_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_execution_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_reentrancy_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_selfdestruct.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/cancun/eip4788_beacon_root/__init__.py
  tests/cancun/eip4788_beacon_root/conftest.py
  tests/cancun/eip4788_beacon_root/spec.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip4844_blobs/__init__.py
  tests/cancun/eip4844_blobs/common.py
  tests/cancun/eip4844_blobs/conftest.py
  tests/cancun/eip4844_blobs/spec.py
  tests/cancun/eip4844_blobs/test_blob_txs.py
  tests/cancun/eip4844_blobs/test_blob_txs_full.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode.py
  tests/cancun/eip4844_blobs/test_blobhash_opcode_contexts.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
  tests/cancun/eip4844_blobs/test_excess_blob_gas_fork_transition.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile_gas.py
  tests/cancun/eip5656_mcopy/__init__.py
  tests/cancun/eip5656_mcopy/common.py
  tests/cancun/eip5656_mcopy/test_mcopy.py
  tests/cancun/eip5656_mcopy/test_mcopy_contexts.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/cancun/eip6780_selfdestruct/__init__.py
  tests/cancun/eip6780_selfdestruct/test_dynamic_create2_selfdestruct_collision.py
  tests/cancun/eip6780_selfdestruct/test_reentrancy_selfdestruct_revert.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/cancun/eip7516_blobgasfee/__init__.py
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
Due: tox

chore: only add ruff & remove isort etc to/from deps in uv.lock
  uv.lock
Due: none

chore(ruff): changes to `tests/berlin`.
  tests/berlin/__init__.py
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

chore(ruff): changes to `src/conftest.py`.
  src/conftest.py
Due: tox

chore(ruff): changes to `src/ethereum_test_vm`.
  src/ethereum_test_vm/__init__.py
  src/ethereum_test_vm/bytecode.py
  src/ethereum_test_vm/evm_types.py
  src/ethereum_test_vm/helpers.py
  src/ethereum_test_vm/opcode.py
  src/ethereum_test_vm/tests/__init__.py
  src/ethereum_test_vm/tests/test_vm.py
Due: tox

chore(docs): update ruff in docs.
  docs/getting_started/setup_vs_code.md
  docs/writing_tests/code_standards.md
Due: tox-docs

chore(ruff): changes to `tests/byzantium/`.
  tests/byzantium/__init__.py
  tests/byzantium/eip198_modexp_precompile/__init__.py
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
Due: tox

fix(eof): eofwrap.py to respect original genesis env
  src/cli/eofwrap.py
Due: tox

chore(tests): Fix misnamed vars in excess_blob_gas test
  tests/cancun/eip4844_blobs/test_excess_blob_gas.py
Due: tox

chore: try to reproduce 'label empty or too long' on macOS
  .github/workflows/tox_verify.yaml
Due: none

chore: try to reproduce 2
  .github/workflows/tox_verify.yaml
Due: none

chore: try to reproduce 3
  .github/workflows/tox_verify.yaml
Due: none

chore: try to reproduce 3 - python3.10
  .github/workflows/tox_verify.yaml
Due: none

test set code tx ideas
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
Due: tox

address comments
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
  whitelist.txt
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

7702 gas measure
  tests/prague/eip7702_set_code_tx/test_set_code_txs_2.py
  whitelist.txt
Due: tox

rebase
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

eip7709: fix
  .github/configs/evm.yaml
Due: none

feat(forks): Add `transaction_data_floor_cost_calculator`
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

feat(forks): Add EIP-7623 logic to gas calculation
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/gas_costs.py
Due: tox

fix(tests): Broken tests due to gas cost change
  tests/cancun/eip4844_blobs/test_point_evaluation_precompile.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

new(tests): EIP-7623: Add transaction validity tests
  tests/prague/eip7623_increase_calldata_cost/__init__.py
  tests/prague/eip7623_increase_calldata_cost/spec.py
  tests/prague/eip7623_increase_calldata_cost/test_transaction_validity.py
Due: tox

review comments
  tests/prague/eip7623_increase_calldata_cost/test_transaction_validity.py
Due: tox

new(tests): EIP-7623: Add gas consumption tests
  tests/prague/eip7623_increase_calldata_cost/conftest.py
  tests/prague/eip7623_increase_calldata_cost/helpers.py
  tests/prague/eip7623_increase_calldata_cost/test_execution_gas.py
  tests/prague/eip7623_increase_calldata_cost/test_transaction_validity.py
Due: tox

🧹 chore(ci): Remove duplicate step
  .github/workflows/tox_verify.yaml
Due: none

✨ feat: Tox environment for gentets
  src/cli/gentest/source_code_generator.py
  src/config/app.py
  tox.ini
Due: tox

make black happy
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

✨ feat(fw,fill,cli): Default evm logs
  .gitignore
  docs/CHANGELOG.md
  docs/filling_tests/debugging_t8n_tools.md
  docs/filling_tests/filling_tests_command_line.md
  src/config/app.py
  src/pytest_plugins/filler/filler.py
Due: tox, tox-docs

json schema verification: verify block headers in generated blockchain tests
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/schemas/blockchain/genesis.py
  src/ethereum_test_fixtures/schemas/blockchain/test.py
  src/ethereum_test_fixtures/schemas/common/types.py
  src/ethereum_test_fixtures/verify_format.py
  whitelist.txt
Due: tox

verify blockHeader == encoded rlp in generated tests
  src/ethereum_test_fixtures/schemas/blockchain/genesis.py
  src/ethereum_test_fixtures/schemas/blockchain/headers.py
  src/ethereum_test_fixtures/schemas/blockchain/test.py
  src/ethereum_test_fixtures/schemas/common/types.py
  whitelist.txt
Due: tox

add rlp dependency
  pyproject.toml
Due: none

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
