Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

feat(pytest): allow filtering by fixture format via pytest mark (#12)
  src/ethereum_test_tools/spec/base/base_test.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(pytest): only paramatrize post-merge forks with hive format (#13)
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/pytest_plugins/forks/tests/test_forks.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix(pytest): test_filler: remove `enable_hive` completely
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix: Remove unused `STATE_TEST_HIVE`
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

refactor: Abstract fixture type collection; Parametrize tests over fixture formats; Per-format sub-folder output (#358)
  docs/CHANGELOG.md
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  docs/getting_started/quick_start.md
  docs/getting_started/repository_overview.md
  docs/getting_started/using_fixtures.md
  docs/tutorials/state_transition.md
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/fixture_collector.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/forks/tests/test_forks.py
  src/pytest_plugins/test_filler/test_filler.py
  src/pytest_plugins/test_filler/tests/test_test_filler.py
  whitelist.txt
Due: tox, tox-docs

feat(fw,pytest): Implement state test fixture format
  docs/CHANGELOG.md
  docs/tutorials/state_transition.md
  docs/tutorials/state_transition_bad_opcode.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/fixture_collector.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/ethereum_test_tools/spec/state/types.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/evm_transition_tool/geth.py
  src/pytest_plugins/test_filler/tests/test_test_filler.py
  whitelist.txt
Due: tox, tox-docs

tests: Fix all state_test usages to have a single transaction
  tests/berlin/eip2930_access_list/test_acl.py
  tests/cancun/eip1153_tstore/test_tstorage.py
  tests/cancun/eip1153_tstore/test_tstorage_create_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_execution_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_reentrancy_contexts.py
  tests/cancun/eip1153_tstore/test_tstorage_selfdestruct.py
  tests/cancun/eip4788_beacon_root/test_beacon_root_contract.py
  tests/cancun/eip5656_mcopy/test_mcopy.py
  tests/cancun/eip5656_mcopy/test_mcopy_contexts.py
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct_revert.py
  tests/cancun/eip7516_blobgasfee/test_blobgasfee_opcode.py
  tests/frontier/opcodes/test_dup.py
  tests/homestead/yul/test_yul_example.py
  tests/istanbul/eip1344_chainid/test_chainid.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
  tests/shanghai/eip3855_push0/test_push0.py
  tests/shanghai/eip3860_initcode/test_initcode.py
Due: tox

more unit tests for post state verification expect section wip
  src/ethereum_test_tools/tests/test_filler_expect_account.py
  src/ethereum_test_tools/tests/test_filler_expect_storage.py
Due: tox

add modexp test case
  tests/byzantium/__init__.py
  tests/byzantium/precompiles/__init__.py
  tests/byzantium/precompiles/test_05_modexp.py
Due: tox

fix storage len
  tests/byzantium/precompiles/test_05_modexp.py
Due: tox

fix code
  tests/byzantium/precompiles/test_05_modexp.py
Due: tox

add cases
  tests/byzantium/precompiles/test_05_modexp.py
Due: tox

make tox happy
  tests/byzantium/precompiles/test_05_modexp.py
  whitelist.txt
Due: tox

refactor: use pytest parametrize and TestAddress
  tests/byzantium/precompiles/test_05_modexp.py
Due: tox

ethereum_test_forks: implement fork operators, remove `is_fork`
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  tests/berlin/eip2930_access_list/test_acl.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
  whitelist.txt
Due: tox

changelog
  docs/CHANGELOG.md
Due: tox-docs

update changelog
  docs/CHANGELOG.md
  tests/byzantium/precompiles/test_05_modexp.py
Due: tox, tox-docs

add evm version
  tests/byzantium/precompiles/test_05_modexp.py
Due: tox

forks: Implement fork operators, remove `is_fork` (#367)
  docs/CHANGELOG.md
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/tests/test_forks.py
  tests/berlin/eip2930_access_list/test_acl.py
  tests/cancun/eip6780_selfdestruct/test_selfdestruct.py
  tests/shanghai/eip3651_warm_coinbase/test_warm_coinbase.py
  whitelist.txt
Due: tox, tox-docs

forks: Add fork-specific, non-inherited class variables
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/nimbus.py
  src/evm_transition_tool/tests/test_evaluate.py
  src/evm_transition_tool/transition_tool.py
Due: tox

forks: Add fork-specific, non-inherited class variables (#366)
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/tests/test_forks.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_tools/code/yul.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/nimbus.py
  src/evm_transition_tool/tests/test_evaluate.py
  src/evm_transition_tool/transition_tool.py
Due: tox

all: Abstract fixtures, StateTest refactor (#354)
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/filling/__init__.py
  src/ethereum_test_tools/filling/fill.py
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/base/__init__.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/__init__.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/__init__.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/ethereum_test_tools/spec/state_test.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filler.py
  src/ethereum_test_tools/tests/test_fixtures/chainid_istanbul_filled.json
  src/ethereum_test_tools/tests/test_fixtures/chainid_london_filled.json
  src/ethereum_test_tools/tests/test_types.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix: remove `is_fork` usages
  src/ethereum_test_tools/spec/state/state_test.py
  src/pytest_plugins/forks/tests/test_forks.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

add remaining EIP changes
  tests/byzantium/precompiles/test_05_modexp.py
Due: tox

feat(docs): update for solc 0.8.23 support
  README.md
  docs/getting_started/quick_start.md
Due: tox-docs

tools: state_test_only, genesis blockchain modifications
  docs/CHANGELOG.md
  src/ethereum_test_tools/spec/__init__.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/state/state_test.py
  src/ethereum_test_tools/spec/state/types.py
Due: tox, tox-docs

tools(fix): Fix Storage iterator
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox, tox-docs

tools: add txs root calculation
  docs/CHANGELOG.md
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_fixtures/blockchain_shanghai_invalid_filled_hive.json
  whitelist.txt
Due: tox, tox-docs

tools(fix): Fix Storage iterator (#369)
  docs/CHANGELOG.md
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_types.py
Due: tox, tox-docs

tools: add txs root calculation (#353)
  docs/CHANGELOG.md
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/blockchain_test.py
  src/ethereum_test_tools/tests/test_fixtures/blockchain_london_invalid_filled.json
  src/ethereum_test_tools/tests/test_fixtures/blockchain_shanghai_invalid_filled_hive.json
  whitelist.txt
Due: tox, tox-docs

forks: Add `blob_gas_per_blob`
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_tools/spec/blockchain/blockchain_test.py
Due: tox

tests/4844: Change most invalid block tests to state tests
  docs/CHANGELOG.md
  tests/cancun/eip4844_blobs/test_blob_txs.py
  whitelist.txt
Due: tox, tox-docs

evm-config: Update develop geth to master
  README.md
  docs/CHANGELOG.md
  evm-config.yaml
Due: tox-docs
