Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

new(tests): EIP-7702 spec update
  tests/prague/eip7702_eoa_code_tx/spec.py
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
  whitelist.txt
Due: tox

fix(fixtures): Fix index generation for EOF tests (#728)
  docs/CHANGELOG.md
  src/cli/gen_index.py
  src/ethereum_test_exceptions/exceptions.py
  src/ethereum_test_fixtures/base.py
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_fixtures/consume.py
  src/ethereum_test_fixtures/eof.py
  src/ethereum_test_fixtures/file.py
  src/ethereum_test_fixtures/state.py
  src/ethereum_test_fixtures/tests/test_eof.py
  src/ethereum_test_types/eof/v1/__init__.py
Due: tox, tox-docs

new(tests) EOF - EIP-7069 - max msg depth
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

new(tests) EOF - EIP-7069 - not enough balance
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

new(tests) EOF - EIP-7069 - min_callee_gas/min_retained_gas
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

Mark EIP-4200 execution cases covered
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox-docs

fix(types): nonce list logic removal
  src/ethereum_test_types/types.py
Due: tox

feat(evm_transition_tool): `SetCodeDelegation` to transaction receipt
  src/evm_transition_tool/types.py
Due: tox

fix(tests): fix set code to contract creator expected address
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

new(tests): EIP-7702 add all invalid auth tuples test
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

new(tests): EIP-7702 add multiple valid, self-sponsored test
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

fix(tests): EIP-7702 enable skipped tests
  tests/prague/eip7702_eoa_code_tx/test_eoa_code_txs.py
Due: tox

refactor(tests): EIP-7702 rename folder and files
  tests/prague/eip7702_set_code_tx/__init__.py
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(docs): Add some execution cases to EOF test tracker (#727)
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox-docs

feat(forks): Add `system_contracts` method to forks
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
Due: tox

feat(plugins/forks): Add `with_all_system_contracts` marker
  docs/writing_tests/test_markers.md
  src/pytest_plugins/forks/forks.py
Due: tox, tox-docs

feat(pytest): Add `pre_alloc_modify` marker
  docs/writing_tests/test_markers.md
  pytest.ini
Due: tox-docs

new(tests): EIP-7702, some failing tests
  tests/prague/eip7702_set_code_tx/spec.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

rename test
  .github/workflows/coverage.yaml
  tests/cancun/eip1153_tstore/test_tstore_reentrancy_rename.py
  tests/homestead/coverage/test_coverage.py
Due: tox

fix(base_types): print on `KeyValueMismatch`
  src/ethereum_test_base_types/composite_types.py
Due: tox

fix(tests): EIP-7702 gas test
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

fix(tools): export Bytes
  src/ethereum_test_tools/__init__.py
Due: tox

fix(tools): CodeGasMeasure without STOP
  src/ethereum_test_tools/code/generators.py
Due: tox

fix(tests): EIP-7702 move gas tests
  tests/prague/eip7702_set_code_tx/test_gas.py
  tests/prague/eip7702_set_code_tx/test_set_code_txs.py
Due: tox

new(tests): EIP-7702 intrinsic gas tests
  tests/prague/eip7702_set_code_tx/test_gas.py
Due: tox

fix(fixtures): tests
  src/ethereum_test_fixtures/tests/test_blockchain.py
Due: tox

review suggestions
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
Due: tox

fix(consume): genesis block hash exception bug & extra.
  src/pytest_plugins/consume/hive_simulators/exceptions.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
Due: tox

docs: update changelog.
  docs/CHANGELOG.md
Due: tox-docs

chore: tox fix.
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
Due: tox

bug(consume): genesis block hash exception (#734)
  docs/CHANGELOG.md
  src/pytest_plugins/consume/hive_simulators/engine/test_via_engine.py
  src/pytest_plugins/consume/hive_simulators/exceptions.py
  src/pytest_plugins/consume/hive_simulators/rlp/test_via_rlp.py
Due: tox, tox-docs

feat(github): allow starts-with fixture building on tag
  .github/workflows/fixtures_feature.yaml
Due: none

changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(github): Allow starts-with feature building when tagging (#736)
  .github/workflows/fixtures_feature.yaml
  docs/CHANGELOG.md
Due: tox-docs

feat(tests|fw): use verkle for forkname.
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
  tests/verkle/eip6800_verkle_tree/__init__.py
  tests/verkle/eip6800_verkle_tree/test_verkle_from_mpt_conversion.py
  tests/verkle/eip6800_verkle_tree/tracker.md
Due: tox, tox-docs

chore: refactor verkle conversion field updates.
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/types.py
Due: tox

feat(fw|tests): add changes for verkle transition tests. (#507)
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/constants.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/file_utils.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
  tests/osaka/eip6800_verkle_tree/__init__.py
  tests/osaka/eip6800_verkle_tree/test_verkle_from_mpt_conversion.py
  tests/osaka/eip6800_verkle_tree/tracker.md
  whitelist.txt
Due: tox, tox-docs

fix(fw): fix verkle transition tests (naive).
  src/ethereum_test_base_types/conversions.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/types.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Due: tox

osaka folder
  tests/osaka/dot
Due: none

osaka/verkle: add 6800 transfer test
  tests/osaka/eip6800_transfer/__init__.py
  tests/osaka/eip6800_transfer/test_warm_coinbase.py
  tests/osaka/eip6800_verkle_tree/test_transfer.py
Due: tox
