Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

fix(ci): update fixtures workflows and rename tox workflow (#582)
  .github/workflows/fixtures.yaml
  .github/workflows/fixtures_feature.yaml
  .github/workflows/tox_verify.yaml
Due: none

skip(tests): Skip lengthy EIP-2935 test
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

review requested changes
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_calls.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_extcode.py
Due: tox

Remove _make_request and replace using it to EthRPC methods
  docs/CHANGELOG.md
  src/cli/gentest.py
  src/ethereum_test_tools/rpc/rpc.py
Due: tox, tox-docs

skip(tests): Skip lengthy EIP-2935 test (#583)
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

Review changes
  src/cli/gentest.py
  src/ethereum_test_tools/rpc/rpc.py
Due: tox

move retesteth exceptions into pyspecs
  docs/CHANGELOG.md
  src/ethereum_test_tools/exceptions/exceptions.py
  whitelist.txt
Due: tox, tox-docs

move retesteth exceptions into pyspecs (#572)
  docs/CHANGELOG.md
  src/ethereum_test_tools/exceptions/exceptions.py
  whitelist.txt
Due: tox, tox-docs

new(tests) EIP-4200 relative jumps
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/__init__.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/helpers.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/spec.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
Due: tox

accidental commit
  src/ethereum_test_tools/vm/opcode.py
Due: tox

fix(tests): EIP-4200: rebase fixes
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/spec.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
Due: tox

fix(fw): Add missing TRUNCATED_INSTRUCTION EOF exception
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
Due: tox

new(tests): EOF: EIP-4200: more tests
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/helpers.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
Due: tox

fix(tests): tox fixes
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
Due: tox

docs: Changelog
  docs/CHANGELOG.md
Due: tox-docs

new(tests): EIP-4200: EOF - Static relative jumps (#581)
  docs/CHANGELOG.md
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/__init__.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/helpers.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
Due: tox, tox-docs

fix(tox): types
  tests/prague/eip6110_deposits/helpers.py
  tests/prague/eip7002_el_triggerable_withdrawals/helpers.py
Due: tox

fix(tests): byzantium: Use Alloc
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
Due: tox

feat(plugins): filler, add `pre` fixture
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(fw): Add configurable starting contract addresses to fill
  src/ethereum_test_tools/common/types.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(docs): Update state transition tutorial
  docs/tutorials/state_transition.md
Due: tox-docs

fix(tests): istanbul: Use Alloc
  tests/istanbul/eip1344_chainid/test_chainid.py
Due: tox

fix(tests): homestead
  tests/homestead/yul/test_yul_example.py
Due: tox

fix(tests): berlin: Use Alloc
  tests/berlin/eip2930_access_list/test_acl.py
Due: tox

fix(tests): Remove fixture match workarounds
  tests/berlin/eip2930_access_list/test_acl.py
  tests/byzantium/eip198_modexp_precompile/test_modexp.py
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  tests/frontier/opcodes/test_dup.py
  tests/homestead/yul/test_yul_example.py
  tests/istanbul/eip1344_chainid/test_chainid.py
Due: tox

feat(fw): Add `Sender`, add methods to `Alloc`
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_tools/common/__init__.py
  src/ethereum_test_tools/common/constants.py
  src/ethereum_test_tools/common/helpers.py
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/tests/test_code.py
  src/ethereum_test_tools/tests/test_filling/test_fixtures.py
Due: tox

filler: Add `strict-alloc-mode` parameter
  src/ethereum_test_tools/common/types.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(fw): Add `created_contract` property to tx
  src/ethereum_test_tools/common/types.py
Due: tox

fix(tests): frontier: Use Alloc
  tests/frontier/opcodes/test_call_and_callcode_gas_calculation.py
  tests/frontier/opcodes/test_dup.py
  tests/frontier/opcodes/test_selfdestruct.py
Due: tox

fix(tests): homestead: Use Alloc
  tests/homestead/yul/test_yul_example.py
Due: tox

fix(tests): constantinople: Use Alloc
  tests/constantinople/create2/test_recreate.py
Due: tox

chore: fix some comments
  src/ethereum_test_tools/eof/__init__.py
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox, tox-docs

feat(consume): format id as code
  src/pytest_plugins/consume/simulator_common.py
Due: tox

Revert "feat(consume): format id as code"
  src/pytest_plugins/consume/simulator_common.py
Due: tox

git workflow evmone coverage script
  .github/workflows/coverage.yaml
  evmone-hash.txt
Due: none

convert a few eip1153 json tests
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
Due: tox

feat(vm): add test for ocpode and macro integration
  src/ethereum_test_tools/tests/test_vm.py
Due: tox

rebase on macro opcode, fix comments
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/cancun/eip1153_tstore/test_yul_coverage.py
  whitelist.txt
Due: tox

feat(fw): add a base class to use for both opcodes and macros
  src/ethereum_test_tools/tests/test_vm.py
Due: tox

fix messed up opcode args validation
  tests/cancun/eip1153_tstore/test_yul_coverage.py
Due: tox

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
