Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: tox
        name: tox
        entry: tox
        language: system
        types: [python]
        pass_filenames: false
      - id: tox-docs
        name: tox-docs
        entry: tox -e docs
        language: system
        files: \.md$
        pass_filenames: false

docs: update fill --help output for --no-html
  docs/getting_started/executing_tests_command_line.md
Due: tox-docs

test(fill): use function instead of hard-coded default output dir
  src/pytest_plugins/test_filler/tests/test_test_filler.py
Due: tox

docs: add some docs for html report; update screenshots
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/img/evm_dump_dir_in_html_report.png
  docs/getting_started/img/pytest_collect_only.png
  docs/getting_started/img/pytest_run_example.png
  docs/getting_started/quick_start.md
Due: tox-docs

feat(pytest): generate html test reports for fill (#537)
  .gitignore
  docs/CHANGELOG.md
  docs/getting_started/debugging_t8n_tools.md
  docs/getting_started/executing_tests_command_line.md
  docs/getting_started/img/evm_dump_dir_in_html_report.png
  docs/getting_started/img/pytest_collect_only.png
  docs/getting_started/img/pytest_run_example.png
  docs/getting_started/quick_start.md
  setup.cfg
  src/cli/pytest_commands.py
  src/cli/tests/test_pytest_commands.py
  src/ethereum_test_tools/spec/fixture_collector.py
  src/pytest_plugins/test_filler/test_filler.py
  src/pytest_plugins/test_filler/tests/test_test_filler.py
  whitelist.txt
Due: tox, tox-docs

Revert "chore: fix github actions by using macos-12"
  .github/workflows/test.yaml
Due: none

chore: update whitelist
  whitelist.txt
Due: none

chore: improve docstrings
  src/pytest_plugins/consume_direct/consume_direct.py
Due: tox

refactor(consume): move the consume plugins into one directory
  pytest-consume-direct.ini
  pytest-consume-via-engine-api.ini
  pytest-consume-via-rlp.ini
  src/pytest_plugins/consume/direct.py
  src/pytest_plugins/consume/engine.py
  src/pytest_plugins/consume/hive_ruleset.py
  src/pytest_plugins/consume/hive_rulest_engine.py
  src/pytest_plugins/consume/rlp.py
  src/pytest_plugins/consume_direct/__init__.py
  src/pytest_plugins/consume_via_engine_api/__init__.py
  src/pytest_plugins/consume_via_rlp/__init__.py
  tests_consume/test_via_engine_api.py
  tests_consume/test_via_rlp.py
Due: tox

fix(consume): don't write html report from fill if output is stdout
  src/cli/pytest_commands.py
Due: tox

t8n specs
  docs/t8n_specs.md
Due: tox-docs

refactor(consume): move pytest ini files to plugin directory
  src/cli/pytest_commands.py
  src/pytest_plugins/consume/ini_files/pytest-consume-all.ini
  src/pytest_plugins/consume/ini_files/pytest-consume-direct.ini
  src/pytest_plugins/consume/ini_files/pytest-consume-engine.ini
  src/pytest_plugins/consume/ini_files/pytest-consume-rlp.ini
  whitelist.txt
Due: tox

chore(fw): remove (currently) unused rpc modules to reduce pr scope
  src/ethereum_test_tools/rpc/__init__.py
  src/ethereum_test_tools/rpc/base_rpc.py
  src/ethereum_test_tools/rpc/engine_rpc.py
  src/ethereum_test_tools/rpc/eth_rpc.py
Due: tox

refactor(consume): move common simulator fixture to its own plugin
  src/pytest_plugins/consume/__init__.py
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/consume/ini_files/pytest-consume-all.ini
  src/pytest_plugins/consume/ini_files/pytest-consume-engine.ini
  src/pytest_plugins/consume/ini_files/pytest-consume-rlp.ini
  src/pytest_plugins/consume/simulator_common.py
  tests_consume/test_via_engine_api.py
  tests_consume/test_via_rlp.py
Due: tox

chore(consume): clean-up
  src/cli/pytest_commands.py
Due: tox

fix(pytest): fix consume ini file names in test_help plugin
  src/pytest_plugins/test_help/test_help.py
Due: tox

feat(pytest): print fill's default output dir in --help
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

feat(consume): add default html reports - WIP
  src/pytest_plugins/consume/consume.py
Due: tox

chore(cli): fix tox
  src/cli/pytest_commands.py
Due: tox

fix(docs): changelog
  docs/CHANGELOG.md
Due: tox-docs

fix(fw): add `get_fork` method to fixture types
  src/cli/gen_index.py
  src/ethereum_test_tools/spec/base/base_test.py
  src/ethereum_test_tools/spec/blockchain/types.py
  src/ethereum_test_tools/spec/consume/types.py
  src/ethereum_test_tools/spec/file/types.py
  src/ethereum_test_tools/spec/state/types.py
Due: tox

fix(fw): fix fixture type
  src/pytest_plugins/consume/consume.py
  tests_consume/test_via_engine_api.py
Due: tox

fix(fw): misc
  src/ethereum_test_tools/spec/consume/types.py
  tests_consume/test_via_rlp.py
Due: tox

fix(pytest): call consume/fill configure hook before pytest-html hook
  src/pytest_plugins/consume/consume.py
  src/pytest_plugins/test_filler/test_filler.py
Due: tox

fix(rlp): fix pydantic v2 dict() warning
  tests_consume/test_via_rlp.py
Due: tox

chore(rlp): make comment more readable
  tests_consume/test_via_rlp.py
Due: tox

refactor(rlp): make pydantic model comparison more idiosyncratic
  tests_consume/test_via_rlp.py
Due: tox

feat(consume): use --tb=short for pytest backtraces cf #542
  src/pytest_plugins/consume/ini_files/pytest-consume-all.ini
  src/pytest_plugins/consume/ini_files/pytest-consume-direct.ini
  src/pytest_plugins/consume/ini_files/pytest-consume-engine.ini
  src/pytest_plugins/consume/ini_files/pytest-consume-rlp.ini
Due: none

feat(rlp): remove HIVE_SKIP_POW, add HIVE_NODETYPE to environment
  tests_consume/test_via_rlp.py
Due: tox

feat(evm_transition_tool): Use geth t8n daemon
  setup.cfg
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/test_filler/test_filler.py
  whitelist.txt
Due: tox

Apply suggestions from code review
  tests/prague/eip3540_eof_v1/test_example_valid_invalid.py
Due: tox

new(tests): EOF: eofExample validInvalid tests (#535)
  docs/CHANGELOG.md
  src/ethereum_test_tools/eof/v1/__init__.py
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  src/ethereum_test_tools/spec/eof/eof_test.py
  src/ethereum_test_tools/tests/test_vm.py
  src/ethereum_test_tools/vm/opcode.py
  tests/prague/eip3540_eof_v1/container.py
  tests/prague/eip3540_eof_v1/test_example_valid_invalid.py
  whitelist.txt
Due: tox, tox-docs

feat(forks): Add history contract to Prague
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/history_contract.bin
Due: tox

new(tests): eip-2935: add file
  tests/prague/eip2935_historical_block_hashes_from_state/__init__.py
  tests/prague/eip2935_historical_block_hashes_from_state/spec.py
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

tests: eip-2935: new test
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

fix(forks): export `Prague`
  src/ethereum_test_forks/__init__.py
Due: tox

fix(tests): EIP-2935: run HISTORY_SERVE_WINDOW tests
  tests/prague/eip2935_historical_block_hashes_from_state/test_block_hashes.py
Due: tox

feat(forks): Add cancun -> prague transition fork
  src/ethereum_test_forks/forks/transition.py
Due: tox

pytest(fix): add "slow" marker
  pytest.ini
Due: none
