Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

fix(consume): genesis block hash exception bug & extra.
  witness.json
Due: none

feat(fw|tests): add changes for verkle transition tests. (#507)
  src/ethereum_test_fixtures/blockchain.py
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/constants.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_forks/forks/transition.py
  src/ethereum_test_forks/helpers.py
  src/ethereum_test_forks/transition_base_fork.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/state.py
  src/ethereum_test_tools/__init__.py
  src/ethereum_test_types/__init__.py
  src/ethereum_test_types/types.py
  src/evm_transition_tool/besu.py
  src/evm_transition_tool/file_utils.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
  tests/osaka/eip6800_verkle_tree/__init__.py
  tests/osaka/eip6800_verkle_tree/test_verkle_from_mpt_conversion.py
  tests/osaka/eip6800_verkle_tree/tracker.md
  whitelist.txt
Due: tox, tox-docs

fix(fw): fix verkle transition tests (naive).
  src/ethereum_test_base_types/conversions.py
  src/ethereum_test_forks/base_fork.py
  src/ethereum_test_forks/forks/forks.py
  src/evm_transition_tool/geth.py
  src/evm_transition_tool/types.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
Due: tox

feat(tests|fw): use verkle for forkname.
  src/ethereum_test_forks/__init__.py
  src/ethereum_test_forks/forks/forks.py
  src/ethereum_test_specs/blockchain.py
  src/evm_transition_tool/transition_tool.py
  src/pytest_plugins/consume/hive_simulators/ruleset.py
  tests/verkle/eip6800_verkle_tree/__init__.py
  tests/verkle/eip6800_verkle_tree/test_verkle_from_mpt_conversion.py
  tests/verkle/eip6800_verkle_tree/tracker.md
Due: tox, tox-docs

chore: refactor verkle conversion field updates.
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_types/types.py
Due: tox

fix compute_address calls (#744)
  tests/verkle/eip4762_verkle_gas_witness/test_codecopy_generic_initcode.py
  tests/verkle/eip4762_verkle_gas_witness/test_creates.py
  tests/verkle/eip4762_verkle_gas_witness/test_extcodesize.py
  tests/verkle/eip6800_genesis_verkle_tree/test_contract_codechunking.py
  tests/verkle/eip6800_genesis_verkle_tree/test_contract_creation.py
  tests/verkle/eip6800_genesis_verkle_tree/test_storage_slot_write.py
Due: tox

verkle: fix balance bigger than 128 bits (#761)
  tests/verkle/eip6800_verkle_tree/test_verkle_from_mpt_conversion.py
Due: tox

chore: update verkle config branch.
  .github/configs/evm.yaml
  src/ethereum_test_forks/helpers.py
Due: tox

new(tests): EOF - EIP-4750: unreachable code sections (#856)
  converted-ethereum-tests.txt
  tests/prague/eip7692_eof_v1/eip4750_functions/test_code_validation.py
Due: tox

fix(fw): EOF - Fix EXCHANGE's data_portion_length (#849)
  src/ethereum_test_vm/opcode.py
Due: tox

new(tests): EIP-7069 and EIP-7620 - failures and context vars (#836)
  tests/prague/eip7692_eof_v1/eip7069_extcall/test_calls.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_eofcreate.py
  tests/prague/eip7692_eof_v1/eip7698_eof_creation_tx/__init__.py
  tests/prague/eip7692_eof_v1/eip7698_eof_creation_tx/helpers.py
  tests/prague/eip7692_eof_v1/eip7698_eof_creation_tx/test_eof_creation_tx.py
  tests/prague/eip7692_eof_v1/eof_tracker.md
  whitelist.txt
Due: tox, tox-docs

✨ feat: Search within filters
  docs/javascripts/site.js
  docs/stylesheets/custom.css
  docs/templates/function_parameter_datatable.html.j2
Due: none

docs: update changelog
  docs/CHANGELOG.md
Due: tox-docs

feat(execution): Create `ethereum_test_execution`
  src/ethereum_test_execution/__init__.py
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/formats.py
  src/ethereum_test_execution/transaction_post.py
Due: tox

feat(specs): Add test execution to specs
  src/ethereum_test_execution/__init__.py
  src/ethereum_test_execution/base.py
  src/ethereum_test_execution/formats.py
  src/ethereum_test_execution/transaction_post.py
  src/ethereum_test_specs/base.py
  src/ethereum_test_specs/blockchain.py
  src/ethereum_test_specs/eof.py
  src/ethereum_test_specs/state.py
Due: tox

feat(plugins): Add `execute` pytest plugin
  pytest-framework.ini
  src/pytest_plugins/execute/__init__.py
  src/pytest_plugins/execute/execute.py
  src/pytest_plugins/execute/pre_alloc.py
  src/pytest_plugins/execute/recover.py
  src/pytest_plugins/execute/rpc/__init__.py
  src/pytest_plugins/execute/rpc/hive.py
  src/pytest_plugins/execute/rpc/remote.py
  src/pytest_plugins/execute/rpc/remote_seed_sender.py
  src/pytest_plugins/execute/sender.py
  src/pytest_plugins/execute/test_recover.py
Due: tox

fix(specs): Track block fork in edge cases (#854)
  docs/CHANGELOG.md
  src/ethereum_test_specs/blockchain.py
Due: tox, tox-docs

feat(cli): add `execute` command
  pyproject.toml
  pytest-execute-hive.ini
  pytest-execute-recover.ini
  pytest-execute.ini
  src/cli/pytest_commands/common.py
  src/cli/pytest_commands/execute.py
  src/pytest_plugins/forks/forks.py
  src/pytest_plugins/help/help.py
  src/pytest_plugins/pytest_hive/pytest_hive.py
Due: tox

fix(plugins/filler): Add markers
  src/pytest_plugins/filler/filler.py
Due: tox

docs: Add `execute` documentation
  docs/executing_tests/index.md
  docs/navigation.md
  docs/writing_tests/test_markers.md
Due: tox-docs

fix(tox): whitelist
  whitelist.txt
Due: none

feat(pyproject): add `pytest-json-report`
  pyproject.toml
  uv.lock
Due: none

fix(plugins/execute): Gracefully exit when `--fork` is not specified
  src/pytest_plugins/execute/execute.py
Due: tox

fix(rpc): Transaction to rlp conversion
  src/ethereum_test_rpc/rpc.py
Due: tox

ci: update verkle evm fill branch.
  .github/configs/evm.yaml
Due: none

bug(ci): fix deploy docs tags workflow trigger.
  .github/workflows/docs_tags.yaml
  docs/CHANGELOG.md
Due: tox-docs

bug(ci): fix deploy docs tags workflow trigger. (#858)
  .github/workflows/docs_tags.yaml
  docs/CHANGELOG.md
Due: tox-docs

disable interpolation in pytest to resolve act fill issues
  src/pytest_plugins/filler/filler.py
Due: tox

feat(docs,filler): add info about ripemd160 & running actions locally (#847)
  docs/dev/test_actions_locally.md
  docs/getting_started/installation_troubleshooting.md
  docs/writing_tests/verifying_changes.md
  src/pytest_plugins/filler/filler.py
  whitelist.txt
Due: tox, tox-docs

🐞 fix: Standalone page css
  docs/stylesheets/custom.css
  docs/templates/function.html.j2
Due: none

insufficient gas
  tests/verkle/eip4762_verkle_gas_witness/test_calls.py
Due: tox

🥢 nit: Make standalone page wider
  docs/stylesheets/custom.css
  docs/templates/function.html.j2
Due: none

docs: remove now defunct 'skipped parameters' admonition
  docs/templates/function.md.j2
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
Due: tox

docs: add simple link from static html page back to mkdocs doc
  docs/templates/function.html.j2
  src/pytest_plugins/filler/gen_test_doc/gen_test_doc.py
  src/pytest_plugins/filler/gen_test_doc/page_props.py
Due: tox

verkle: add CALLCODE insufficient gas tests
  tests/verkle/eip4762_verkle_gas_witness/test_calls.py
Due: tox

feat(docs): add button to toggle visibility of columns
  docs/javascripts/site.js
  docs/templates/function.html.j2
  mkdocs.yml
Due: none

fix(docs): fix typo in class defs
  docs/templates/function_parameter_datatable.html.j2
Due: none

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
