Repository ethereum/execution-spec-tests: changes, and which pre-commit hooks are due for each by the changed paths.
All: tox, tox-docs

tox:
  name: tox
  entry: tox
  language: system
  pass_filenames: false

tox-docs:
  name: tox-docs
  entry: tox -e docs
  language: system
  pass_filenames: false

Remove Orphans in tests
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
Due: tox

fix(tests): container kind on RETURNCONTRACT
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
Due: tox

fix(tests): skip RETF, duplicate test
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
Due: tox

fix(tests): EOF - EIP-3540: Remove Orphans Containers in Tests (#649)
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_all_opcodes_in_container.py
Due: tox

fix(github): Coverage script on remote repo (#657)
  .github/workflows/coverage.yaml
Due: none

new(tests): eip-7620: RETURNCONTRACT validation tests
  converted-ethereum-tests.txt
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_returncontract.py
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox, tox-docs

fix(tests): EOF - Container types
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/container.py
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/test_container_validation.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Due: tox

address comments
  converted-ethereum-tests.txt
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/cancun/eip1153_tstore/test_yul_coverage.py
Due: tox

use Bytecodes
  src/ethereum_test_tools/vm/opcode.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
Due: tox

add changelog add converted-ethereum-tests.txt tests tested with geth evm 1.13.11-unstable
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  whitelist.txt
Due: tox-docs

convert a few eip1153 json tests
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
Due: tox

split basic tload tests
  tests/cancun/eip1153_tstore/test_basic_tload.py
Due: tox

rebase on macro opcode, fix comments
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/cancun/eip1153_tstore/test_yul_coverage.py
  whitelist.txt
Due: tox

don't use yul code in yul_coverage
  tests/cancun/eip1153_tstore/test_yul_coverage.py
Due: tox

convert test to latest notation
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/cancun/eip1153_tstore/test_yul_coverage.py
Due: tox

fix: move coverage test
  tests/homestead/coverage/__init__.py
  tests/homestead/coverage/test_coverage.py
Due: tox

feat(tests): EIP-1153: Convert tests from `ethereum/tests` (#440)
  converted-ethereum-tests.txt
  docs/CHANGELOG.md
  src/ethereum_test_tools/vm/opcode.py
  tests/cancun/eip1153_tstore/test_basic_tload.py
  tests/cancun/eip1153_tstore/test_tload_calls.py
  tests/cancun/eip1153_tstore/test_tload_reentrancy.py
  tests/cancun/eip1153_tstore/test_tstore_reentrancy.py
  tests/homestead/coverage/__init__.py
  tests/homestead/coverage/test_coverage.py
Due: tox, tox-docs

new(tests): EOF - EIP-7620: RETURNCONTRACT validation tests (#647)
  converted-ethereum-tests.txt
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_returncontract.py
  tests/prague/eip7692_eof_v1/tracker.md
Due: tox, tox-docs

feat(fw): set `deploy_tx` on `ContainerKind.INITCODE`
  src/ethereum_test_tools/spec/eof/eof_test.py
Due: tox

feat(tests): EOF incompatible container kind validation error
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Due: tox

feat(tests): EOF - EIP-7620: Incompatible container kind validation error (#662)
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
  tests/prague/eip7692_eof_v1/eip7620_eof_create/test_subcontainer_validation.py
Due: tox

feat(configs): Add PragueEIP7692
  configs/evm.yaml
  configs/feature.yaml
Due: none

feat(forks): add PragueEIP7692
  src/ethereum_test_forks/forks/forks.py
Due: tox

fix(tests): Change EOF tests fork
  tests/prague/eip7692_eof_v1/__init__.py
Due: tox

github: Add evm-impl.yaml config file
  .github/actions/build-evm/action.yaml
  .github/actions/build-fixtures/action.yaml
  configs/evm-impl.yaml
  configs/evm.yaml
  configs/feature.yaml
Due: none

fix(github): typo
  .github/actions/build-evm/action.yaml
Due: none

fix(github): besu build
  .github/actions/build-besu-evm/action.yaml
Due: none

binary pattern for windows
  README.md
  src/evm_transition_tool/geth.py
Due: tox, tox-docs

fix(fw): EVM binary pattern for windows (#632)
  README.md
  src/evm_transition_tool/geth.py
Due: tox, tox-docs

fix(setup): Better pin pydantic version
  setup.cfg
Due: none

fix: cleaner typing fix
  src/ethereum_test_tools/common/types.py
  src/ethereum_test_tools/spec/consume/types.py
Due: tox

chore(tests): Refactor mcopy_memory_expansion and others
  tests/cancun/eip5656_mcopy/test_mcopy_memory_expansion.py
  tests/prague/eip7692_eof_v1/eip7480_data_section/test_data_opcodes.py
Due: tox

feat(fw): support invalid containers in EOFStateTest
  src/ethereum_test_tools/spec/eof/eof_test.py
Due: tox

fix(fw): Opcodes length
  src/ethereum_test_tools/vm/opcode.py
Due: tox

feat(fw): Add EOF exception
  src/ethereum_test_tools/exceptions/evmone_exceptions.py
  src/ethereum_test_tools/exceptions/exceptions.py
Due: tox

refactor(tests): code_validation_jump.py into dedicated files
  docs/CHANGELOG.md
  tests/prague/eip7692_eof_v1/eip3540_eof_v1/code_validation_jump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjump.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpi.py
  tests/prague/eip7692_eof_v1/eip4200_relative_jumps/test_rjumpv.py
Due: tox, tox-docs

Path conditions:
  tox: any of: \.py$
  tox-docs: any of: \.md$
